div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.news-holder {
	display: flex;
}

.news-list {
	width: 75%;
	position: relative;
}

.news-list h1 {
	padding-right: 100px;
}

.news-sidebar {
	width: 25%;
	padding-left: 30px;
}

.news-blocks {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.news-block {
	display: flex;
	width: 31%;
	margin: 0px 0px 30px;
	flex-direction: column;
	text-decoration: none;
}


.news-img {
	margin-bottom: 10px;
}

.news-img img {
	display: block;
	width: auto;
	max-width: 278px;
}

.news-header {
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0px 0px 10px;
}

.news-date {
	display: block;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 12px;
	color: #393d46;
}

.news-preview {
	font-size: 15px;
	line-height: 20px;
}

.news-sidebar h2 {
	margin: 0px 0px 15px;
	font-size: 24px;
	line-height: 24px;
	font-weight: 500;
}

.tag-wrapper {
	margin-bottom: 30px;
}

.tag-cloud {
	display: flex;
	flex-wrap: wrap;
}

.news-tag {
	display: inline-block;
	margin: 0px 10px 10px 0px;
	padding: 5px 10px;
	font-size: 12px;
	border: 1px solid #c6c7c9;
	border-radius: 15px;
	background-color: #f3f4f4;
	color: #000;
	cursor: pointer;
}

.news-tag.chosen {
	background-color: #008aff;
	border-color: #008aff;
	color: #fff;
}

.news-blocks.inline .news-block {
	width: 100%;
	flex-direction: row;

}

.news-blocks.inline .news-img {
	margin-right: 30px;
}

.news-page {
	width: 75%;
}

.news-page h1 {
	font-size: 34px;
	line-height: 50px;
	margin-bottom: 10px;
}

.news-page h3 {
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 20px;
	font-weight: 500;
}

.news-page p {
	display: block;
	font-size: 18px;
	line-height: 28px;
}

.news-page__date {
	display: block;
	margin-bottom: 30px;
	font-size: 12px;
	line-height: 12px;
}

.news-img__block {
	margin-bottom: 30px;
}

.img-holder {
	display: flex;
	justify-content: space-between;
}

.img-holder .news-img {
	width: 48%;
}

.news-img img {
	display: block;
	width: auto;
	max-width: 100%;
}

.news-blocks .news-img img {
	max-width: 278px;
}

.img-description {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #838b96;
}

.news-quote {
	display: block;
	margin-left: 5%;
	margin-bottom: 30px;
	padding-left: 20px;
	border-left: 1px solid #838b96;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.socials-wrapper > span {
	display: block;
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 15px;
}

.socials a {
	display: inline-block;
	margin-right: 5px;
}

.socials a:last-child {
	margin-right: 0px;
}

.socials a svg {
	display: block;
	width: 32px;
	height: 32px;
	fill: #262b2e;
}



.sticky-sidebar.js-is-sticky {
	top: 15px !important;
	transition: 0.5s
}

.switcher {
	display: flex;
	width: 60px;
	justify-content: space-between;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.switcher > div {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.switcher > div > span {
	display: block;
	width: 14px;
	height: 1px;
	background-color: #d5d6d8;
	margin: 3px auto;
}

.switch-inline {
	padding: 8px 0px 0px 0px
}

.switch-block {
	padding: 8px 0px 0px 7px;
	border-left: 1px solid #dfdfdf;
}

.switcher > .switch-block > span {
	display: block;
    width: 1px;
    height: 14px;
	margin: 0px 2px;
	float: left;
}

.switch-inline.chosen,
.switch-block.chosen {
	background-color: #000;
}

.switch-inline.chosen {
	border-radius: 5px 0px 0px 5px;
}

.switch-block.chosen {
	border-radius: 0px 5px 5px 0px;
}

.switcher > .switch-inline.chosen > span {
	background-color: #fff;
}

.switcher > .switch-block.chosen > span {
	background-color: #fff;
}


@media (max-width: 1024px) {
	.news-block {
		width: 48%;
	}
	.switcher {
		display: none;
	}
}

@media (max-width: 968px) {
	.news-list {
		width: 100%;
	}

	.news-sidebar {
		display: none;
	}

	.news-page {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.news-block {
		width: 100%;
	}

	.news-blocks.inline {
		flex-direction: column;
	}

	.news-blocks.inline .news-img {
		margin-right: 0px;
	}



	.img-holder {
		flex-direction: column;
	}

	.news-blocks.inline .news-block {
		flex-direction: column;
	}

	.img-holder .news-img {
		width: 100%;
		margin-bottom: 15px;
	}

	.news-list h1 {
		padding-right: 0px;
	}


}