.mini-card {
    display: none;
    padding: 55px 15px 15px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}

.mini-card.open td {
    border-top: none;
}

.mini-card .card-holder {
    display: none;
}

.mini-cart__wrapper {
    display: none;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    position: relative;
    background-color: #fff;
    /*border-radius: 5px;*/
}

.mini-card.open {
    display: table-row;
}

.mini-card.open .mini-cart__wrapper {
    display: flex ;
}

.item-img {
    position: relative;
}

.item-img .favorite {
    display: block;
    position: absolute;
    top: -25px;
    left: -20px;
    cursor: pointer;
    z-index: 40;
}
.purchase-content__item .item-img .favorite,
.sample-content__item .item-img .favorite {
    top: -35px;
    left: 0px;
}

.cardmini-favorite {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.cardmini-favorite svg {
    display: block;
    width: 18px;
    height: 18px;
	margin-right: 10px;
    fill: #000;
    stroke: #000;
    transition: 0.3s;
}

.item-img .favorite svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: #000;
    stroke: #000;
    transition: 0.3s;
}

.item-img .favorite:hover svg {
    fill: #008aff;
    stroke: #008aff;
    opacity: 0.55;
}

.item-img .favorite:hover svg #fill-heart {
    fill: #008aff;
    opacity: 0.55;
}


.item-img .favorite.act svg {
    fill: #008aff;
    stroke: #008aff;
}

.item-img .favorite.act svg #fill-heart {
    fill: #008aff;
}

#fill-heart {
    fill: transparent;
}


.mini-cart__wrapper .item-img a {
    display: block;
}

.mini-cart__wrapper .item-img img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

.mini-cart__wrapper .item-info {
    width: 72%;
    padding: 0px 20px;
}

.mini-cart__wrapper .item-info a {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 20px;
    color: #008aff;
    text-decoration: none;
    white-space: normal;
}

.mini-cart__wrapper .item-more {
    width: 28%;
}

.mini-cart__wrapper .item-info__content {
    display: flex;
}

.mini-cart__wrapper .avalibilty {
	margin-top: 15px;
}

.mini-cart__wrapper .item-info__content ul {
    padding: 0px;
    margin: 0px 20px 0px 0px;
    list-style: none;
}

.mini-cart__wrapper .item-info__content li {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}

.mini-cart__wrapper .item-more {
    padding: 0px 20px;
}

.item-more .avalibilty:before,
.avalibilty:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 5px;
	vertical-align: middle;
    color: #13af2c;
	border-radius: 50%;
	background-color: #13af2c;
}
.item-more .avalibilty.out:before,
.avalibilty.out:before {
    color: #ff0000;
}

.mini-cart__wrapper .item-more .avalibilty.out {
    margin-bottom: 15px;
    text-align: center;
}

.mini-cart__wrapper .item-more .quantity-num {
    margin: 10px auto;
    float: left;
}

.mini-cart__wrapper .item-more .add-to-cart {
    max-width: 284px;
    margin: 10px auto 20px;
}

.mini-cart__wrapper .item-more .price {
    margin-top: 20px;
    float: right;
    font-size: 18px;
    line-height: 20px;
}

.close-mini {
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/close.png);
    cursor: pointer;
}

.analogue-table .mini-card td {
	padding: 0px;
}

.analogue-table .mini-cart__wrapper {
	margin-top: 0px;
}

.mini-card__select td {
	border-bottom: 1px solid #bdbfc0;
}

/*.mini-card__select td:first-child {
	border-left: 1px solid #bdbfc0;
}

.mini-card__select td:last-child {
	border-right: 1px solid #bdbfc0;
}



.mini-cart__wrapper {
	border: 1px solid #cccccc;
	border-bottom: 0px;
	border-top: 0px;
	border-radius: 5px;
}*/

.mini-cart__wrapper .item-info  .item-info__head {
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 36px;
}

.item-info__type {
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 15px;
	line-height: 30px;
}

.mini-cart__wrapper .item-info .item-info__fullLink {
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 30px;
}

.mini-cart__wrapper .add-to-cart svg {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: middle;
	fill: #fff;
}

.item-info__actions {
	width: 30%;
}

.item-info__description {
	width: 70%;
}

.item-info__description, .item-info__inner {
	display: flex;
}

.mini-cart__wrapper .item-info .item-info__question a {
	margin-bottom: 15px;
}

.item-info__question svg {
	width: 18px;
	height: 18px;
	margin-right: 5px;
    margin-bottom: -2px;
}

.item-info__question span {
	font-size: 15px;
	vetrical-align: middle;
}

.item-info__text {
	margin-bottom: 15px;
	padding: 0px 15px;
	box-sizing: border-box;
}

.item-sample {
    width: 100%;
    max-width: 190px;
    margin-bottom: 15px;
    padding: 10px 0px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #d4d5d5;
    border-radius: 5px;
}

.item-info__textBold {
	margin-bottom: 5px;
}

.item-info__textBold span {
	display: block;
	font-size: 15px;
	font-weight: bold;
}

.item-info__textDescrition {
	font-size: 14px;
	line-height: 20px;
}

.mini-cart__wrapper .item-more {
	border-left: 1px solid #f0f0f0;
}

.item-info__img img {
	display: block;
	width: auto;
	max-width: 130px;
}