.header-bot__search {
    display: block;
    width: 100%;
    position: relative;
}

.header-bot__search form {
    display: block;
    width: 100%;
    position: relative;
}

.header-bot__search form input[type=search] {
    display: block;
    width: 100%;
    margin-top: 25px;
	padding: 20px 60px 20px 238px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.search-icon {
   display: inline-block;
   position: absolute;
   width: 22px;
   left: 25px;
   top: 17px;
}

.search-icon img {
    display: block;
    width: auto;
    max-width: 100%;
}

.search-submit {
    display: block;
    width: 70px;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 13px;
}

.search-submit img,
.search-submit svg {
    display: block;
    width: 24px;
    margin-left: 20px;
}

.title-search-result {
    display: none;
    width: 100%;
    padding: 20px;
    position: absolute;
	background-color: #fff;
	box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    z-index: 200;
}

.search-category {
	display: flex;
    padding: 25px 0px;
    border-bottom: 1px solid #e6eaf0;
}

.search-list {
	display: flex;
	width: 80%;
}

.search-category:first-child {
    padding-top: 0px;
}

.search-category:last-child {
    border-bottom: none;
}

.search-category__header {
    display: block;
    width: 18%;
    padding-right: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    color: #8b8b8b;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 2px;
}

.search-category__header > a {
    display: block;
    text-decoration: none;
    line-height: 28px;
}

.search-category__list {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.search-category__list > li {
	display: flex;
	padding-left: 10px;
}

.search-category__list > li:hover {
	background-color: #172430;
}

.search-category__list > li:hover a {
	color: #fff;
}

.search-category__list li a {
    line-height: 30px;
    text-decoration: none;
    color: #000;
}

.search-category__link {
	width: 40%;
	padding-right: 15px;
	font-size: 15px;
}

.search-category__path {
	width: 60%;
	font-size: 12px;
}

.search-select {
    width: 210px;
	padding: 13px 20px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
	z-index: 2;
}

.search-select:before {
    content: '';
    display: block;
    width: 0px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 210px;
	border-right: 1px solid #b7b7b7;
}

.search-select.open:before {
	display: none;
}

.search-select:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 17px;
    top: 27px;
    border-style: solid;
	border-width: 5.5px 4px 0 4px;
    border-color: #373b44 transparent transparent transparent;
    transform: rotate(180deg);
}

.select-category {
    display: inline-block;
    padding: 10px 0px;
    font-size: 12px;
    text-align: left;
	cursor: pointer;
}

.select-searchIn {
	display: inline-block;
	font-size: 12px;
}

.select-list {
    display: none;
    top: 46px;
    right: -1px;
	border-radius: 0px 0px 5px 5px;
    z-index: 20;
}

.select-list span:hover {
	color: #fff;
	background-color: #172430;
}

.select-list span:hover label {
	color: #fff;
}

.search-select.open {
	border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.search-select.open .select-list {
    display: block;
}

.search-select.open:after {
    transform: rotate(0deg);
}


.select-list span {
    display: block;
    position: relative;
    margin-left: 40px;
    padding: 4px 5px;
    font-size: 12px;
    cursor: pointer;
}

.select-list span label {
    display: block;
    cursor: pointer;
}

.select-list span input[type=radio] {
	display:none;
    position: absolute;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.all-results {
	display: flex;
	margin-top: 15px;
	align-items: center;
	color: #00abfa;
}

.all-results span {
	font-size: 12px;
}

.all-results svg {
	display: block;
	width: 10px;
	height: 8px;
	margin-right: 5px;
	transform: rotate(180deg);
	fill: #00abfa;
}

@media (max-width: 1024px) {
	.header-bot__search form input[type=search] {
    	padding: 20px 80px 20px 68px;
	}
}

@media (max-width: 768px) {
	.search-list {
		width: 100%;
	}
}