html > body {
	background-color: #f2f2f2;
}

body .header-bot.nav-wrapper > ul > li {
	background-color: transparent;
}

.purchase, .samples {
	background-color: #fff;
}

.purchase {
	border-top: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	border-left: 1px solid #b7b7b7;
	border-radius: 5px 5px 0px 0px;
}

.samples {
	border-right: 1px solid #b7b7b7;
	border-left: 1px solid #b7b7b7;
}

.purchase.purchase-request {
	border-top: none;
	border-bottom: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	border-left: 1px solid #b7b7b7;
	border-radius: 0px 0px 5px 5px ;
}


.cart {
	margin-top: 50px;
}
.cart h1 {
	font-size: 30px;
	line-height: 32px;
}

.cart ul {
	display: block;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.cart ul li {
	display: block;
	font-size: 14px;
	line-height: 16px;
}

.purchase-head {
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #e9e9e9;
}

.purchase-head h2, .samples-head h2 {
	display: inline-block;
	width: 100%;
	max-width: 260px;
	font-size: 20px;
	line-height: 28px;
}

.samples-positions {
	font-size: 25px;
}

.show-btn span {
    display: flex;
    width: 56px;
    height: 56px;
    padding: 20px;
    position: relative;
    align-items: center;
}

.show-btn span:before {
    content: '';
    display: block;
    width: 16px;
    height: 4px;
    background-color: #000;
}

.show-btn span:after {
    content: '';
    display: block;
    width: 4px;
    height: 16px;
    background-color: #000;
    position: absolute;
    left: 26px;
    top: 20px;
}

.open .show-btn span:after {
	display: none;
}

.item-info__name {
	font-size: 15px;
	margin-bottom: 10px;
}

.purchase-content__item {
	display: flex;
	flex-direction: row;
	padding: 20px 0px;
	border-bottom: 1px solid #e7e7e7;
}

.item-img {
	width: 12%;
}

.item-img a {
	display: block;
}

.item-img a img {
	display: block;
	width: auto;
	max-width: 100%;
	margin: 0 auto;
}

.item-info {
	width: 25%;
	padding: 0 10px;
	align-self: center;
}

.item-info .item-info__head {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
	color: #008aff;
	text-decoration: none;
}

.quantity-num__info {
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
}

.quantity-num__instock {
	color: #4c4c4c;
}

.quantity-num__error {
	color: #ff0000;
}

.quantity-num__haveinstock {
	color: #3d9b3a;
}


.item-info .item-info__content li {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
}

.purchase-content__item > div > .item-section__head {
	display: block;
	margin-bottom: 35px;
	font-size: 12px;
}

.item-available {
	width: 19%;
	align-self: center;
}

.purchase-content__item  .item-available .item-section__head {
	margin-bottom: 28px;
}

.item-available .item-section__head {
	text-align: center;
}

.item-available .avaliable {
	font-size: 14px;
}

.item-available .avaliable span {
	font-size: 20px
}

.item-check {
	width: 36%;
}

.item-pricends {
	width: 19%;
	align-self: center;
}

.item-pricends .prices {
	display: flex;
	justify-content: space-between;
}

.item-pricends .prices > div {
	width: 50%;
	padding: 0px 5px;
}

.item-pricends .prices > div li {
	margin-bottom: 5px;
	text-align: right;
}

.item-quantity .quantity-num {
	margin: 0px auto;
}

.item-quantity {
	width: 16%;
	padding: 0px 20px;
	align-self: center;
}

.item-total {
	width: 18%;
	align-self: center;
    padding-right: 15px;
}

.item-quantityNow {
    margin-left: 5px;
}

.item-pricends .prices > .item-price__quantity {

}

.item-price__cost {
	text-align: right;
}

.purchase-content .item-total .item-section__head {
	margin-bottom: 15px;
}

.item-total__price {
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
}

.item-total__value {
	display: inline-block;
	margin-left: 5px;
	line-height: 20px;
}


.total-cost {
	display: flex;
	margin-left: auto;
}

.total-cost > span {
	display: block;
	line-height: 24px;
}

.total-cost > span:nth-child(1) {
	font-size: 25px;
	margin-right: 5px;
}

.total-cost > span > span {
	font-size: 24px;
}

.quantity-num.cart-quantity {
	max-width: 100px;
	margin: 0px;
	border-radius: 0px;
}

.quantity-num.cart-quantity input {
	height: 25px;
	font-size: 12px;
	line-height: 25px;
}

.quantity-num.cart-quantity span {
	height: 25px;
	border-radius: 0px;
	font-size: 12px;
	line-height: 25px;
	background-color: #000;
	color: #fff;
}

.item-delete {
	display: flex;
    width: 35px;
    padding-left: 18px;
    flex-direction: column;
    justify-content: center;
}

.close-btn {
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
}

.item-delete .close-btn  {
	width: 15px;
	height: auto;
}

.close-btn span {
	display: block;
	width: 30px;
	height: 4px;
	position: absolute;
	top: 13px;
	background-color: #cccccc;
	border-radius: 5px;
}

.close-btn span:nth-child(1) {
	left: 0px;
	transform: rotate(45deg);
}

.close-btn span:nth-child(2) {
	right:  0px;
	transform: rotate(-45deg);
}


/* SAMPLES */
.cart-total {
	margin-top: 60px;
}

.samples-head {
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #e9e9e9;
}

.sample-content__item {
	display: flex;
	flex-direction: row;
	padding: 20px 0px;
	border-bottom: 1px solid #e7e7e7;
}

.sample-content__item  > div >  .item-section__head {
	display: block;
	margin-bottom: 35px;
	font-size: 12px;
}

.item-project {
	width: 35%;
	padding: 0px 15px;
}

.item-project .item-section__head {
	display: block;
	text-align: center;
}

.nothing {
	font-size: 14px;
}



.ordering-btn{
	display: flex;
	max-width: 235px;
	padding: 18px 22px;
	margin: 0 auto;
	justify-content: center;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	background-color: #008aff;
	color: #fff;
	cursor: pointer;
}

.ordering-btn  span {
	color: #fff;
}

.ordering-btn svg { 
	display: block;
    width: 20px;
    height: 20px;
	margin-left: 5px;
	fill: #fff;
}

.ordering-btn:hover {
	color: #fff;
	opacity: 0.85;
}

.cart-header__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.wrapper .cart-header__wrap > h1 {
	font-size: 60px;
	line-height: 72px;
	font-weight: 100;
	margin: 0px;
}

.cart-header__wrap  svg {
	display: block;
	width: 50px;
	height: 50px;
	margin-left: 10px;
}

.project-select {
	position: relative;
}

.project-select__options {
	display: none;
}

.project-select.open .project-select__options  {
	display: block;
	width: 100%;
	margin-top: -1px;
}

.project-select__btn {
	position: relative;
	padding: 12px 10px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	font-size: 14px;
	line-height: 14px;
	cursor: pointer;
}

.project-select.open .project-select__btn {
	border-radius: 5px 5px 0px 0px;
}

.project-select__btn:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	right: 10px;
	top: 17px;
	border-style: solid;
	border-width: 5.5px 4px 0 4px;
	border-color: #373b44 transparent transparent transparent;
}

.project-select__btn.error {
	border-color: #ff0000;
	color: #ff0000;
}

.project-select__btn.error:after {
	border-color: #ff0000 transparent transparent transparent;
}

.project-select__error {
	margin-top: 7px;
	font-size: 14px;
	line-height: 14px;
	color: #ff0000;
}

.project-select__options {
	position: absolute;
	border: 1px solid #dfdfdf;
	border-radius: 0px 0px 5px 5px;
	background-color: #fff;
	z-index: 60;
}

.project-select__options .option {
	display: block;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
}

.project-select__options .option:hover {
	background-color: #efefef;
}

.project-select__options .option input[type=radio] {
	display: none;
}

.project-select__options .new-option {
	margin: 0px 10px;
	border-top: 1px solid #acacac;
}

.project-select__options .new-option .new-option__btn {
	display: block;
	padding: 7px 0px;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #008aff;
}

.project-select__options .new-option .new-option__btn span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 6px;
	border-radius: 50%;
	vertical-align: top;
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	text-indent: 0.5px;
	background-color: #158fff;
	color: #fff;
}

.project-footer {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.project-footer span, .project-footer a {
	font-size: 14px;
	color: #008aff;
	text-decoration: underline;
	cursor: pointer;
}

.card-checkout {
	margin-left: auto;
	margin-right: 15px;
	flex-basis: 240px;
}

.card-checkout__button {
	display: block;
	width: 100%;
	max-width: 240px;
	padding: 10px 20px;
	text-align: center;
	background-color: #008aff;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
}

a.card-checkout__button:hover {
	color: #fff;
	opacity: 0.7;
}

.item-numPosition {
	display: flex;
	width: 5%;
	align-items: center;
}

.item-numPosition span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: #191919;
}

.tableItem-naming {
	display: flex;
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #e9e9e9;
}

.tableItem-naming div {
	font-size: 12px;
	color: #191919
}

.item-naming {
    width: 32.8%;
    padding-left: 8.6%;
	box-sizing: border-box;
}

.item-avaliability {
	width: 19%;
}

.item-boxes {
	width: 10%;
}

.item-boxCost {
	width: 12%;
}

.item-totalPrice {
	width: auto;
	margin-left: auto;
	padding-right: 15px;
}

.item-total > div {
    display: flex;
    align-items: baseline;
	white-space: nowrap;
}

.btn-grey {
	display: block;
	max-width: 150px;
	width: 100%;
	padding: 10px 15px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;
	border: 1px solid #afafaf;
	border-radius: 4px;
}

.purchase-head__additional,
.samples-head__additional {
	display: flex;
    width: 78%;
    align-items: center;
	cursor: pointer;
}

.purchase-head__additional .total-cost,
.samples-positions {
	margin: 0 auto;
}

.itemInRequest {
    display: block;
    width: 100%;
    max-width: 23%;
    margin-left: auto;
    padding: 10px 5px;
    align-self: center;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
    color: #fff;
    background-color: #727a81;
    border-radius: 4px;
    cursor: not-allowed;

}

.trash, .not-equal--svg {
	fill: #a7a5a6;
}

.item-total > div {
	display: flex;
}

.item-total > div .item-total__price {
	display: block;
	margin-left: auto;
}

.in-box {
	margin-top: 5px;
	font-size: 12px;
	color: #7a7a7a;
}

.not-multiples a {
	color: #008aff;
}

.not-multiples > span {
	display: flex;
}

.not-multiples svg {
	display: block;
	width: 10px;
	height: 12px;
	margin-right: 5px;
	margin-left: -15px;
}

.purchase-content__item.moved .item-info__name,
.purchase-content__item.moved .item-info .item-info__head,
.purchase-content__item.moved .item-info__content,
.purchase-content__item.moved .item-available .avaliable,
.purchase-content__item.moved .in-box,
.purchase-content__item.moved .item-price__quantity,
.purchase-content__item.moved .item-price__cost,
.purchase-content__item.moved .item-pricends .prices > div li,
.purchase-content__item.moved .not-multiples a,
.purchase-content__item.moved .item-available .avaliable span,
.purchase-content__item.moved .item-info .item-info__content li {
	color: #b2b2b2;
}

.item-pricends .prices > .item-price__cost {
	padding-left: 15px;
}

.itemInRequest {
	margin-right: 15px;
}

.itemInRequest-info {
	margin-left: auto;
    margin-right: 15px;
	align-self: center;
	font-size: 20px;
}




.cart-empty__header svg {
	display: block;
	width: 100%;
	max-width: 150px;
	margin: 50px auto 10px;
}

.empty-cart-message {
	display: block;
	margin-bottom: 30px;
	font-size: 60px;
	text-align: center;
	font-weight: 300;
}

.empty-cart-content {
	margin-bottom: 50px;
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	color: #9e9e9e;
	font-weight: 300;
}

.empty-cart-content > .add-to-cart {
	display: inline-block;
	width: 250px;
	margin-right: 10px;
	padding: 7px 30px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	background-color: #008aff;
	color: #fff;
	border-radius: 5px;
	white-space: nowrap;
	font-weight: 400;
}

.empty-cart-content > .add-to-cart svg {
	display: inline-block;
	max-width: 20px;
	margin-right: 10px;
	height: 20px;
	fill: #fff;
	vertical-align: text-bottom;
}

.empty-cart-content > .take-sample {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding: 7px 15px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
	font-weight: 400;
}

.cart-empty__footer {
	font-size: 24px;
	text-align: center;
	font-weight: 300;
	color: #9e9e9e;
}

.cart-empty__footer a {
	display: inline-block;
	text-decoration: none;
	color: #008aff;
}

.purchase-content,
.samples-content {
	display: none;
}

.purchase-content.open,
.samples-content.open {
	display: block;
} 

.request-quantity-calculator__head,
.request-quantity-calculator {
	display: block;
}

.item-total > div[id$="_calculator_req"] {
	flex-direction: column;
}


@media (max-width: 1023px) {
	.tableItem-naming {
		display: none;
	}
}

@media (max-width: 960px) {
	.purchase-content__item {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.item-img {
		width: 30%;
		margin-bottom: 30px;
	}

	.item-info {
		width: 70%;
		margin-bottom: 30px;
	}

	.item-available, .item-pricends, .item-quantity, .item-total  {
		width: 25%;
		margin-bottom: 30px;
	}

	.item-delete {
		display: block;
		width: 100%;
	}

	.item-delete .close-btn {
		margin:  0 auto;
	}

	.item-available {
		padding: 0px 20px;
	}

	.item-available .item-section__head, .item-available .avaliable {
		text-align: left;
	}

	.sample-content__item {
		flex-wrap: wrap;
	}

	.item-project {
		margin-bottom: 30px;
	}

	.sample-content__item .item-quantity, .sample-content__item .item-total {
		width: 25%;
	}

	.sample-content__item .item-project {
		width: 50%;
	}
}

@media (max-width: 768px) {

	.item-available, .item-pricends, .item-quantity, .item-total  {
		width: 50%;
	}

	.sample-content__item .item-quantity, .sample-content__item .item-total {
		width: 50%;
	}

	.sample-content__item .item-project {
		width: 100%;
		order: 8;
	}

	.sample-content__item .item-delete {
		order: 9;
	}

	.item-numPosition {
		width: 100%;
		margin: 10px 22px;
		text-align: left;
	}

	.item-numPosition span {
		text-align: left;
	}

	.item-info {
		width: 100%;
    	padding: 0 22px;
	}

	.item-delete .close-btn {
    	margin: 0 0 0 3px;
	}

	.purchase-head,
	.samples .samples-head {
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.total-cost, .card-checkout {
		margin-bottom: 15px;
		margin-left: 58px;
	}

	.card-checkout {
		flex-basis: auto;
	}

	.item-pricends, .item-available {
		display: none;
	}

	.purchase-head__additional, .samples-head__additional {
		width: 100%;
		flex-wrap: wrap;
	}	

	.purchase-head h2, .samples-head h2 {
		max-width: 225px;
	}

	.purchase-head__additional .total-cost, .samples-positions {
		width: 100%;
		margin: 0px auto 10px 58px;
	}


}