.selected-faq-item {font-weight:bold; white-space: normal;}
.unselected-faq-item {white-space: normal;}
.unselected-arrow-faq{background: url(images/unselected_faq.gif) no-repeat; height:13px; width:17px; dislay:block; float:left;}
.selected-arrow-faq{background: url(images/selected_faq.gif) no-repeat; height:13px; width:17px; dislay:block; float:left;}