.subscribe {
	margin-top: 50px;
}

.subscribe-header img {
	display: block;
	width: auto;
	max-width: 50px;
	margin: 0 auto 20px;
}

.subscribe-header h2 {
	margin: 0px auto 12px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
}

.subscribe-header p {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	text-align: center;
}

.subscribe-content {
	margin-top: 25px;
}

.subscribe-content form {
	display: flex;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
	border-radius: 5px 0px 0px 5px;
}

.subscribe-content form input[type=email] {
	display: block;
	width: 100%;
	max-width: 800px;
	padding: 16px 15px 15px 15px;
	font-size: 16px;
	line-height: 16px;
}

.subscribe-content form button {
	display: block;
	width: 100%;
	max-width: 200px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	background-color: #262b2e;
	color: #fff;
	border-radius: 0px 5px 5px 0px;
}
