.bom__label {
    display: block;
}

.bom__grey {
    display: block;
    color: #949494;
}

.bom-file {
    display: flex;
}

.bom-file > label {
    width: 42%;
}

#bom-file {
    visibility: hidden;
}

.work-bom .buttons #button-home{
    width: 10%;
    float: left;
}

.work-bom .buttons #button-next{
    width: 10%;
    float: right;
}

.work-bom .buttons #button-all{
    width: 10%;
    float: right;
    margin-right: 35%;
}

.work-bom .buttons #button-add-order, .work-bom .buttons #button-add-samples, .work-bom .buttons #button-add-request{
    float: right;
}

.work-bom .buttons #button-back{
    float: left;
}

.work-bom table {
    width: 100%;
    border-collapse: collapse;
}

.work-bom table td {
    /*text-align: center;*/
    font-size: 15px;
    line-height: 15px;

    padding: 15px 10px;
    text-align: left;
}

.work-bom table th {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    line-height: 15px;
}

.work-bom table tr {
    border-bottom: 1px solid #bdbfc0;
}

.work-bom table tr:nth-child(n+13) {
    display: none;
}

.work-bom table.all tr {
    display: table-row;
}

.work-bom .disabled {
    pointer-events: none;
    background-color: #e9ecef;
    opacity: 1;
}

.project-select {
    width: 120px;
    position: relative;;
    font-weight: initial;
}

.project-select.selectMcart {
    font-weight: bold;
}

.project-select__options {
    display: none;
}

.project-select.open .project-select__options {
    display: block;
    width: 100%;
    margin-top: -1px;
}

.project-select__btn {
    position: relative;
    padding: 12px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.project-select.open .project-select__btn {
    border-radius: 5px 5px 0px 0px;
}

.project-select__btn:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 17px;
    border-style: solid;
    border-width: 5.5px 4px 0 4px;
    border-color: #373b44 transparent transparent transparent;
}

.project-select__btn.error {
    border-color: #ff0000;
    color: #ff0000;
}

.project-select__btn.error:after {
    border-color: #ff0000 transparent transparent transparent;
}

.project-select__error {
    margin-top: 7px;
    font-size: 14px;
    line-height: 14px;
    color: #ff0000;
}

.project-select__options {
    position: absolute;
    border: 1px solid #dfdfdf;
    border-radius: 0px 0px 5px 5px;
    background-color: #fff;
    z-index: 60;
    width: 100%;
}

.project-select__options .option {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.project-select__options .option:hover {
    background-color: #efefef;
}

.project-select__options .option input[type=radio] {
    display: none;
}

.project-select__options .new-option {
    margin: 0px 10px;
    border-top: 1px solid #acacac;
}

.project-select__options .new-option .new-option__btn {
    display: block;
    padding: 7px 0px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #008aff;
}

.project-select__options .new-option .new-option__btn span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 6px;
    border-radius: 50%;
    vertical-align: top;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    text-indent: 0.5px;
    background-color: #158fff;
    color: #fff;
}

.favorite-status:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #ff0000;
}

.favorite-status.ordered:before {
    background-color: #0066ff;
}

.favorite-status.stock:before {
    background-color: #13af2c;
}

.favorite-status.order:before {
    background-color: #ff9600;
}

.status-add{
    color: #008aff;
}

.nrecognized {
    white-space: nowrap;
    color: #9b9b9b;
}