.quantity-block {
    display: flex;
    position: relative;
    margin-left: 50px;
    margin-bottom: 10px;
}

.quantity-block {
    display: flex;
    position: relative;
    margin-left: 50px;
    margin-bottom: 10px;
}

.in-box {
    margin-top: 5px;
    font-size: 12px;
    color: #7a7a7a;
}

.not-multiples a {
    color: #008aff;
}

.not-multiples > span {
    display: flex;
}

.not-multiples svg {
    display: block;
    width: 10px;
    height: 12px;
    margin-right: 5px;
    margin-left: -15px;
}

.trash, .not-equal--svg {
    fill: #a7a5a6;
}

.item-more .in-box.not-multiples {
    padding: 0px 40px 10px;
}


.wholesale {
    margin: 20px 0px;
}

.avalibilty {
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}


.avalibilty.out:before {
    color: #ff0000;
    background-color: #ff0000;
}

.quantity {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.quantity > span {
    width: 33.33%;
    text-align: center;
}


.quantity-items,
.quantity-price {
    font-size: 14px;
}

.quantity > .quantity-items {
    padding-right: 10px;
    text-align: right;
}

.quancart .quantity-price {
    margin-top: 15px;
    margin-right: -100%;
    margin-left: 10%;
    display: block;
}

.quantity .quantity-separator {
    align-self: center;
    flex-grow: 8;
    border-bottom: 1px solid #c6c6c6;
}


form > .price {
    font-size: 30px;
    text-align: center;
}

.add-to-cart {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 11px 0px;
    font-size: 16px;
    text-align: center;
    background-color: #008aff;
    color: #fff;
    border-radius: 5px;
}

.add-to-cart:hover {
    opacity: 0.85;
}

.sidebar-favorite {
    cursor: pointer;
}

.sidebar-favorite,
.sidebar-question a,
.sidebar-sample {
    display: block;
}

.sidebar-favorite,
.sidebar-question a {
    font-size: 14px;
    text-decoration: none;
}

.sidebar-favorite span {
    display: inline-block;
    vertical-align: middle;
}


.sidebar-favorite span svg {
    width: 17px;
    height: 17px;
    margin-bottom: -2px;
    fill: #000;
    stroke: #000;
}

.sidebar-favorite,
.sidebar-question {
    margin-bottom: 10px;
}

.sidebar-favorite {
    margin-top: 20px;
}

.sidebar-sample {
    width: 240px;
    margin: 0px 0px 0px auto;
    padding: 10px 0px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #d4d5d5;
    border-radius: 5px;
}

.sidebar-sample:hover {
    opacity: 0.85;
}

.cb {
    clear: both;
}

.mini-cart__wrapper .item-more {
    padding: 0px;
}


@media (min-width: 1550px) {
    .mini-cart__wrapper .item-more {
        padding-top: 40px;
    }
}

.item-more .wholesale {
    padding: 0px 15px;
}

.no-quant__text {
    display: block;
    font-size: 12px;
    text-align: center;
    color: #ff0000;
    clear: both;
}

.mini-cart__wrapper .item-info {
    width: 65%;
}

@media (min-width: 769px) {
    .mini-cart__wrapper .item-info {
        width: 60%;
    }
}

.mini-cart__wrapper .item-more {
    /*width: 35%;*/
    width: 60%;
}

.quant-inPack {
    display: block;
    margin: 10px 0px;
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
}

.mini-cart__wrapper .item-more .quantity-num {
    float: none;
    margin: 0px;
}

.quancart {
    display: flex;
    padding: 15px;
    clear: both;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #e9e9e9;
}

.mini-cart__wrapper .item-more .add-to-cart {
    max-width: none;
    width: 240px;
    margin: 0px 0px 0px auto;
}

.mini-cart__wrapper .item-more .add-to-cart.analogue-btn {
    margin: 0px auto;
}

.quantity-holder {
    margin-top: 2px;
}

.quant-weHave {
    margin-top: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.mini-card .no-quant__text {
    margin-top: 10px;
}

.mini-card .sidebar-sample svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
    fill: #fff;
}

.quancart form {
    display: block;
    width: 100%;
}

.mini-card .sidebar-sample.qua-request,
.mini-card .sidebar-sample.miss-request {
    max-width: none;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #737a82;
}

.mini-card .sidebar-sample.qua-no {
    width: 100%;
    margin: 0 auto;
}

.mini-card .sidebar-sample.qua-request span,
.mini-card .sidebar-sample.miss-request span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.mini-card .sidebar-sample.qua-no span {
    display: inline-block;
    vertical-align: middle;
}

.mini-card .sidebar-sample svg.cart-no {
    margin-left: auto;
    margin-right: 5px;
    fill: #000;
}

.card-sidebar__content .sidebar-sample {
    margin: 0 auto;
}

.modal .sidebar-sample {
    margin: 0 auto;
}

#select_count select {
    font-size: 14px;
    height: 32px;
    min-width: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid #d3d5d6;
    background-color: transparent;
    text-align: center;
    text-align-last: center;
    outline: none;
}

@media (max-width: 1024px) {
    .mini-cart__wrapper {
        max-width: 970px;
    }

    .mini-cart__wrapper .item-more .add-to-cart {
        /*width: 220px;*/
        width: 190px;
    }

    .quantity-holder {
        margin-right: 5px;
    }
}

.favorite-table .quancart {
    display: block;
}

.favorite-table .quantity-price {
	position: absolute;
	margin-top: 35px;
	left: 85px;
}

.favorite-table .item-sample {
    margin: 0 auto 15px;
    display: block;
}

.favorite-table .item-more .quancart .add-to-cart {
	margin: 0 50%;
}

@media (max-width: 768px), {
    .mini-cart__wrapper {
        /*max-width: 730px;*/
        max-width: 480px;

    }

    .mini-cart__wrapper .item-more {
        border-left: 0px;
    }

    .quancart {
        padding: 15px 31px;
    }

    .analogue-table .mini-cart__wrapper .item-info {
        width: 100%;
        padding: 0px 25px 0px 10px;
    }

    .mini-cart__wrapper .item-info .item-info__head {
        font-size: 24px;
        line-height: 24px;
    }

    .mini-cart__wrapper .item-more .quancart .sidebar-sample, .mini-cart__wrapper .item-more .quancart .add-to-cart {
        margin: 0 auto;
    }

    .quancart {
        display: block;
    }

    .quantity-price {
        position: absolute;
        margin-top: 15px;
        left: 85px;
    }

    .item-sample {
        margin: 0 auto 15px;
        display: block;

    }
}

@media (max-width: 480px) {
    .mini-card .mini-cart__wrapper {
        /*max-width: 480px;*/
        max-width: 360px;
    }

    .item-info__description {
        flex-direction: column;
    }

    .item-info {
        flex-direction: column;
    }

    .item-info__inner {
        flex-direction: column;
    }

    .item-info__actions, .item-info__description {
        width: 100%;
    }

    .mini-card.open .mini-cart__wrapper {
        padding: 0px 25px 0px 0px;
    }

    .item-info__text, .item-more .wholesale {
        padding-left: 0px;
    }

    .quancart {
        padding: 15px;
    }

    .item-info__img img {
        max-width: 470px;
        width: 100%;
        height: 70px;
    }
}

@media (min-width: 1550px) {
    .mini-card.open .mini-cart__wrapper {
        flex-direction: row;
    }
}

@media (max-width: 414px) {
    .mini-card .mini-cart__wrapper {
        max-width: 400px
    }
}

@media (max-width: 411px) {
    .mini-card .mini-cart__wrapper {
        max-width: 400px
    }
}

@media (max-width: 375px) {
    .mini-card .mini-cart__wrapper {
        max-width: 365px
    }
}


@media (max-width: 360px) {
    .mini-card .mini-cart__wrapper {
        max-width: 350px
    }

    .item-info__description, .item-info__inner {
        flex-direction: column;
    }
}


@media (max-width: 320px) {
    .mini-card .mini-cart__wrapper {
        max-width: 320px
    }

    .item-info__description, .quancart {
        flex-direction: column;
        align-items: center;
    }

    .mini-cart__wrapper .item-more .add-to-cart,
    .sidebar-sample {
        margin: 15px auto;
    }

}

.favorite-select + .mini-card .item-info__description {
    margin-left: 20px;
}

.favorite-select + .mini-card .item-info {
    position: relative;
}

.favorite-select + .mini-card .item-info__description {
    position: absolute;
    top: 108px;
}

.favorite-select + .mini-card .item-more {
    width: 231px;
}
