.catalog-section-header{
	font-size:14px;
	font-weight: bold;
	text-align: left;
	margin:5px 0;
	padding:5px 15px;
	border-bottom: 2px solid #d9dee6;
	color: #000;
	text-decoration: none;
}

#analogue .wrapper {
	max-width: 2560px;
}

#analogue .section-content {
	padding:	0px 50px;
}

.row::before {
	display: initial;
}

/* CARD */

.card {
	margin-top: 30px;
}

.card h1 {
	margin: 0px;
	font-size: 60px;
	font-weight: normal;
	line-height: 60px;
}

.card-wrapper {
	display: flex;
	margin-top: 30px;
}

.card-content {
	width: 75%;
	padding-right: 20px;
}

.card-sidebar {
	width: 25%;
}

.card-nav {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.card-nav li {
	display: inline-block;
	margin-right: 30px;
	padding-bottom: 5px;
	border-bottom: 5px solid transparent;
}

.card-nav li:hover {
	border-bottom: 5px solid #000;
}

.card-nav li:last-child {
	margin-right: 0px;
}

.card-nav li a {
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #262b2e;
}

.card-content > .content-header {
	border-bottom: 1px solid #bdbfc0;
}


.card-content .section-header {
	padding-bottom: 15px;
	border-bottom: 1px solid #d4d5d5;
}

.section-header h2 {
	margin: 0px;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

/* SHORT DESCRIPTION */

.short-description {
	margin-top: 30px;
}

.short-description .section-header {
	display: flex;
	justify-content: space-between;
}

.short-description .section-header h2 {
	width: 50%;
}

.short-description .section-header .section-header__description {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.short-description .section-header .section-header__description span {
	display: block;
	width: 50%;
	margin-bottom: 5px;
	font-size: 12px;
	color: #4c4c4c;
}

.short-description .section-header .section-header__description span a {
	color: #008aff;
}

.short-description .section-header .section-header__description span a:hover {
	text-decoration: underline;
}

.short-description  .section-content {
	display: flex;
	padding-top: 30px;
}

.short-description  .section-content .section-content__image {
	width: 100%;
	max-width: 450px;
}

.short-description  .section-content .section-content__description  {
	padding-left: 60px;
}

.short-description  .section-content .section-content__description ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.short-description  .section-content .section-content__description ul li {
	margin-bottom: 10px;
	font-size: 16px;
}

.card-pager {
	display: flex;
	justify-content: space-between;
	max-width: 450px;
	margin-top: 10px;
}

.card-pager .card-slide {
	display: block;
	padding: 10px;
}

.card-pager .card-slide.active {
	box-shadow: 0px 0px 5px 0px #008aff;
}


.card-pager .card-slide img {
	display: block;
	width: 100%;
}




.table-filter__hint {
	position: absolute;
    left: -18px;
	top: -3px;
	cursor: pointer;
}

.table-filter__hint svg {
	display: block;
	width: 21px;
	height: 20px;
}



/* SPECS */

.specs {
	margin-top: 30px;
}

.specs .section-content {
	padding-top: 30px;
}

.spec-item {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.spec-item__name,
.spec-item__value {
	flex-grow: 1;
}

.spec-item__group {
	max-width: 700px;
	margin-bottom: 30px;
}

.spec-item__group .section-content__header {
	margin-bottom: 10px;
	font-weight: bold;
}

.spec-item__separator {
	align-self: center;
	flex-grow: 35;
	border-bottom: 1px solid #c6c6c6;
}

.spec-item__value {
	text-align: right;
}

/* DOCS */

.docs {
	margin-top: 30px;
}

.docs-item {
	margin-bottom: 30px;
}

.docs-item a {
	color: #008aff;
}

.docs-item__header {
	margin-bottom: 10px;
}

/*.docs-item__header a {
	position: relative;
	padding-left: 35px;
}

.docs-item__header a::before {
	content: "";
	display: block;
	position: absolute;
	width: 33px;
	height: 30px;
	background-image: url("/local/templates/symmetron_default/images/pdf.svg");
	background-repeat: no-repeat;
	top: -5px;
	left: 0px;
	background-size: 100% 100%;
}*/

.docs-item p {
	margin: 0px 0px 8px;
	font-size: 14px;
	line-height: 16px;
}

.docs-item__file {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
}



/* SIDEBAR */

.card-sidebar__content {
	padding: 30px;
	box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.add-to-cart {
	text-decoration: none;
}

a.add-to-cart:hover {
	color: #fff;
	opacity: 0.85;
}

.sidebar-question {
	margin-bottom: 30px;
}

.sidebar-sample {

	text-decoration: none;
}

/* analogue */

.current-product {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.section-content {
	position: relative;
}

.analogue .section-content {
	margin-top: 10px;
}



.analogue-table__holder .left-side {
	float: left;
	background-color: #fff;
}


.analogue-table th:first-child > .table-filter {
	display: flex;
}


.section-content .scroll-table {
	/*height: 500px;
	overflow-y: auto;*/
	width: 100%;
	position: relative;
	/*min-height: 350px;*/
	overflow-x: auto;

}

.section-content .scroll-table th, .table-left .analogue-table__left th {
	position: sticky; 
	top: 0;
	background-color: #fff;
	z-index: 2;
    /*border-bottom: 1px solid #bdbfc0;*/
}

.section-content .scroll-table th,
.table-left .analogue-table__left th {
	position: relative;
}

.section-content .scroll-table .table-filter:after, 
.table-left .analogue-table__left .table-filter:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #bdbfc0;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}



.analogue-table {
	width: 100%;
	border-collapse: collapse;
}


.analogue-table th, .analogue-table__left th  {
	padding: 10px;
	vertical-align: bottom;
	text-align: left;
	white-space: nowrap;
	font-weight: normal;
	font-size: 15px;
	line-height: 15px;
}

.analogue-table__left {
	border-collapse: collapse;
}



.analogue-table td {
	padding: 0px 10px;
	font-size: 15px;
	line-height: 15px;
	border-bottom: 1px solid #bdbfc0;
	text-align: center;
}

.analogue-table__left .mini-card__select td,
.mini-card__select td  {
	height: 60px;
}

.analogue-table__left td {
	padding: 10px;
	font-size: 15px;
	line-height: 15px;
	text-decoration: none;
	color: #008aff;
}

.analogue-table__left  td:first-child,
.analogue-table__left  th:first-child,
.analogue-table__left  td:first-child > a,
.analogue-table__left  th:first-child > a {

}

.analogue-table td:nth-child(1), 
.analogue-table td:nth-child(2) {
	text-align: left;
}

.analogue-table th:first-child {
	z-index: 15;
}

.analogue-table__holder .left-side th {
	color: #000;
}

.analogue-table__holder .right-side th {
	font-weight: normal;
}

.analogue-status {
	display: block;
}

.analogue-table .sort-val-desc, .analogue-table .sort-val-asc {
	font-weight: bold;
}

.analogue-status:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 5px;
	background-color: #ff0000;
}

.analogue-status.ordered:before {
	background-color: #0066ff;
}

.analogue-status.stock:before {
	background-color: #13af2c;
}

.analogue-status.order:before {
	background-color: #ff9600;
}

.table-filter___item {
	display: flex;
    align-items: flex-end;
	white-space: nowrap;
	position: relative;
	justify-content: center;

}

th:nth-child(-n+2) .table-filter___item {
	justify-content: flex-start;
}

.table-filter__name {
	white-space: nowrap;
}

.table-filter__arrow {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-left: 7px;
	border-style: solid;
	border-width: 5.5px 4px 0 4px;
	border-color: #373b44 transparent transparent transparent;
	cursor: pointer;
}

.sort-val-asc .table-filter__arrow {
	transform: rotate(180deg);
}

.analogue-table th.sort-val-asc:after {
	transform: rotate(180deg);
}

.analogue-table th:first-child:after {
	display: none;
}

button.show-all {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 30px auto;
	padding: 10px 0px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
}

.industry-solutions {
	padding: 30px 15px 60px;
	border-top: 1px solid #bdbfc0;
	border-bottom: 1px solid #bdbfc0;
}

.industry-solutions .solutions {
	display: flex;
	width: 100%;
	margin-top: 20px;
	justify-content: space-between;
}

.industry-solutions .solutions .solution {
	display: block;
	width: 32.5%;
	height: 300px;
	padding: 20px 13px;
	overflow: hidden;
	border-radius: 5px;
	text-decoration: none;
	background-color: #53545a;
	background-repeat: no-repeat;
	background-size: cover;
}

.industry-solutions .solutions .solution span {
	display: block;
	color: #fff;
}

.industry-solutions .solutions .solution.black span {
	color: #000;
}

.solution-header {
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 34px;
}

.solution-content {
	font-size: 16px;
}

.industry-solutions .solutions .solution.solution-1 {
	background-image: url(../images/industrial1.png);
}

.industry-solutions .solutions .solution.solution-2 {
	background-image: url(../images/industrial2.png);
}

.industry-solutions .solutions .solution.solution-3 {
	background-image: url(../images/industrial3.png);
}

.table-filter__selector {
	display: block;
    position: absolute;
    z-index: 21;
    vertical-align: bottom;
    margin-left: -24px;

}

.table-filter__selector.fixed {
	position: fixed;
}



/*th:nth-child(1) .table-filter___item {
	display: inline-block;
}*/

.items-selector {
	display: block;
	cursor: pointer;
	position: absolute;
}

.items-selector svg {
	display: block;
	width: 16px;
	height: 16px;
	fill: #727272;
}

.table-filter__list {
	display: none;
	position: absolute;
	background-color: #fff;
    box-shadow: 0px 12px 13.84px 4.16px rgba(50, 52, 55, 0.1);
	z-index: 60;
}

.table-filter__selector.open .table-filter__list {
	display: block;
	min-width: 300px;
	max-width: 300px;
	max-height: 500px;
	white-space: normal;
	border-radius: 5px;
	top: 32px;
}

.table-filter__header {
	padding: 20px;
	font-size: 25px;
	line-height: 32px;
	text-align: center;
	box-sizing: border-box;
}

.table-filter__search-wrap {
	position: relative;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	box-sizing: border-box;
}

.table-filter__search-wrap input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 11px 11px 11px 40px;
    background: url(http://denis.symmetron.mcart.ru/local/templates/symmetron_default/images/catalog/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
}

.filter-list__footer {
	border-top: 1px solid #dbdbdb;
}

.default-button.add-table-filter {
	width: 100%;
	max-width: 265px;
	margin: 0 auto 15px;
	padding: 11px 10px;
	border-color: #d4d5d5;
}

.filter-list__wrapper {
    padding: 15px 20px 10px 40px;
    max-height: 212px;
    overflow-y: scroll;

}

.table-filter__item {
	display: block;
	margin-right: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}

.tFilter-result {
	margin: 10px auto;
    font-size: 14px;
    color: #7f7f7f;
    text-align: center;
}

.table-filter__item input {
	display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px -2px 0px;
    background-image: url(/local/templates/symmetron_default/images/checkbox-false.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
}

.table-filter__item input:checked {
	background-image: url(/local/templates/symmetron_default/images/checkbox-true.jpg);
}

.sidebar-favorite.act svg {
    fill: #008aff;
    stroke: #008aff;
}

.sidebar-favorite.act svg:hover {
    fill: #008aff;
    stroke: #008aff;
    opacity: 0.55;
}




.hint {
	display: none;
	margin: 6px 0px 0px 7px;
	padding: 6px 15px;
	position: absolute;
	font-size: 12px;
	line-height: 16px;
	color: #000;
	white-space: normal;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #bdbfc0;
	font-weight: 400;
	border-radius: 5px;
}


.table-filter__hint:hover .hint {
	display: block;
}




.filter-nothing {
	margin-top: 150px;
}

.filter-nothing h2 {
	margin-bottom: 15px;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
}

.filter-nothing p {
	display: block;
	margin-bottom: 40px;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
}

.remove-filters {
	display: flex;
	max-width: 250px;
	align-items: center;
	margin: 0 auto 40px;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
}

.remove-filters .remove-all {
	display: block;
	position: static;
}

.scroll-blocks {
	display: flex;
	width: 50px;
	height: 100%;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.5s;
	z-index: 15;
}

.scroll-blocks:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.scroll-blocks svg {
	display: block;
	width: 50px;
	height: 50px;
}

.scroll-toLeft svg {
	transform: rotate(180deg);
}

.scroll-toLeft {
	left: 225px;
}

.scroll-toRight {
	right: 0;
}

.scroll-blocks.hidden {
	display: none;
}

.scroll-table__wrapper {
	position: relative;
}

.tooltipster-sidetip .tooltipster-content {
	font-size: 12px;
    line-height: 16px;
	color: #000;
}

.table-full {
	display: flex;
	porsition: relative;
}

.table-left {
	min-width: 225px;
	position: relative;
}

.analogue-table__left {
	min-width: 225px;
}

.analogue-table__left .mini-card {
    border-bottom: 1px solid #bdbfc0;
}

.analogue-table__left .mini-card__select  td {
	border-bottom: 1px solid #bdbfc0;
}

/*.analogue-table__left .mini-card__select:first-child  td {
	border-top: 1px solid #bdbfc0;
}*/


@media (max-width: 1024px) {
	section#analogue {	
		padding: 0px;
		position: relative;
	}

	#analogue .section-content {
		padding: 0px 0px 0px 30px;
	}
}


@media (min-width: 1200px){
	/*lg*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-md-2:nth-child(6n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6  > .row > .col-md-4:nth-child(3n+1),
	.product-item-list-col-6-1 > .col-sm-6  > .row > .col-md-4:nth-child(3n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-md-3:nth-child(4n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}

.table-separator {
	display: none;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
    left: 215px;
	background-color: #bdbfc0;
}

.table-separator.closed {
	left: 0px;
}

.close-left {
    display: block;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 20px;
    height: 60px;
	margin-left: -10px;
	margin-top: 35px;
    background: #000;
    top: 200px;
    left: 1px;
    z-index: 20;
	border-radius: 6px;
}

.close-left:after {
	content: '<';
	display: block;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 20px;
	color: #fff;
}

.table-separator.closed .close-left:after {
	transform: rotate(180deg);
}

.message-wrap {
	display: none;
	width: 100%;
	padding: 5%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.56);
	z-index: 100;
}

.message-box {
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 30px auto;
	padding: 15px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
	top: 0px;
	left: 0;
	right: 0;
	background-color: #fff;
	border-radius: 6px;
}

.message-box > .message {
	font-size: 16px;
	line-height: 18px;
}

.message-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 17px;
    height: 17px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/local/templates/symmetron_default/images/close.png);
	z-index: 100;
}



@media (max-width: 1200px) {
	.scroll-table__wrapper {
		padding-left: 0px;
	}

	.table-filter__selector {
    	left: 2px;
	}
}

@media (min-width: 992px) and (max-width:1199px){
	/*md*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-md-2:nth-child(6n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 > .row > .col-md-4:nth-child(3n+1),
	.product-item-list-col-6-1 > .col-sm-6 > .row > .col-md-4:nth-child(3n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-md-3:nth-child(4n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (min-width: 768px) and (max-width: 991px){
	/*sm*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (max-width: 767px){
	/*xs*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}

@media (max-width: 1024px) {
	.table-separator {
		display: block;
	}
}


@media (max-width: 960px) {
	.card-wrapper {
		flex-direction: column;
	}

	.card-content {
		width: 100%;
	}

	.card-sidebar {
		width: 100%;
		max-width: 300px;
		margin: 0 auto 15px;
	}

	.industry-solutions .solutions .solution span {
		overflow: hidden;
	}

}
@media (max-width: 768px) {
	.card h1 {
		font-size: 24px;
		line-height: 24px;
	}

	.section-header h2 {
		font-size: 18px;
		line-height: 18px;
	}

	.card-nav li a {
		font-size: 14px;
		line-height: 14px;
	}

	.card-wrapper {
		margin-top: 15px;
	}

	.short-description {
		margin-top: 15px;
	}

	.short-description .section-header .section-header__description span {
		padding-right: 5px;
	}

	.short-description .section-header {
		flex-direction: column;
	}

	.short-description .section-header h2 {
		width: 100%;
		margin-bottom: 15px;
	}

	.short-description .section-header .section-header__description {
		width: 100%;
	}

	.short-description .section-content .section-content__image {
		width: 50%;
		max-width: none;
	}

	.short-description .section-content .section-content__description {
		width: 50%;
		padding-left: 15px;
	}

	.analogue-table th, .analogue-table td {
		font-size: 12px;
	}

	.card-sidebar.js-is-sticky {
        max-width: none;
        top: auto !important;
        bottom: 0px;
        transform: translateY(0px);
    }

    .card-sidebar.js-is-sticky .avalibilty,
    .card-sidebar.js-is-sticky .wholesale,
    .card-sidebar.js-is-sticky .quantity-num,
    .card-sidebar.js-is-sticky .price,
    .card-sidebar.js-is-sticky .sidebar-favorite,
    .card-sidebar.js-is-sticky .sidebar-question,
    .card-sidebar.js-is-sticky .sidebar-sample {
        display: none;
    }

    .card-sidebar.js-is-sticky.showFull .avalibilty,
    .card-sidebar.js-is-sticky.showFull .wholesale,
   
    .card-sidebar.js-is-sticky.showFull .price,
    .card-sidebar.js-is-sticky.showFull .sidebar-favorite,
    .card-sidebar.js-is-sticky.showFull .sidebar-question,
    .card-sidebar.js-is-sticky.showFull .sidebar-sample {
        display: block;
    }

    .card-sidebar.js-is-sticky.showFull .quantity-num {
        display: flex;
    }

    

    .card-sidebar.js-is-sticky .add-to-cart {
        margin: 0 auto;
    }

    .card-sidebar.showFull.js-is-sticky .add-to-cart {
        margin: 30px auto 0px;
    }


    .card-sidebar.showFull .close-sidebar {
        display: block;
    }

	.scroll-blocks {
		display: none;
	}
	
}
@media (max-width: 480px) {

	.card-nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.card-nav li {
		width: 50%;
		margin-right: 0px;
		padding-bottom: 0px;
	}

	.short-description .section-content {
		flex-direction: column;
		padding-top: 15px;
	}

	.short-description .section-content .section-content__image {
		width: 100%;
		margin-bottom: 15px;
	}

	.short-description .section-content .section-content__description {
		width: 100%;
		margin-bottom: 15px;
		padding-left: 0px;
	}

	.industry-solutions .solutions {
		flex-direction: column;
	}

	.industry-solutions .solutions .solution {
		width: 100%;
		margin-bottom: 15px;
	}

	.analogue-table th, .analogue-table td {
		font-size: 10px;
	}

}

@media (max-width: 411px) and (max-height: 731px) {
	.message-wrap {
		display: block;
	}
}

@media (max-width: 731px) and (max-height: 411px) {
	.message-wrap {
		display: none;
	}
}

@media (max-width: 360px) and (max-height: 640px) {
	.message-wrap {
		display: block;
	}
}

@media (max-width: 640px) and (max-height: 360px) {
	.message-wrap {
		display: none;
	}
}

.message-wrap.closed {
	display: none;
}

.table-left.closed {
	display: none;
}