.additional {
    display: flex;
    justify-content: space-between;
}

.additional .video-block, .additional .text-block {
    width: 48.7%;
}

.additional .video-block iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 960px) {
    .brand-contacts, .brand-manager {
        flex-direction: column;
    }

    .brand-manager__info, .brand-contact:nth-child(1)  {
        margin-right: 0px;
    }

    .docs-wrapper {
        flex-wrap: wrap;
    }

    .docs-sections, .docs-search {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .brand-news__blocks, .brand-events__blocks {
        flex-direction: column;
    }

    .brand-news__block, .brand-events__block {
        width: 100%;
        margin-bottom: 30px;
    }

    .additional {
        flex-direction: column;
    }

    .additional .video-block, .additional .text-block {
        width: 100%;
        margin-bottom: 15px;
    }
} 



@media (max-width: 480px) {
    .brand-contacts, .brand-manager {
        width: 100%;
        float: none;
        padding: 0px;
    }

    .brand-contacts {
       padding: 65px 0px 0px;
    }

    .brand-contact {
        margin-bottom: 15px;
    }

    .brand-contact__head, .brand-contact__link {
        text-align: center;
    }
    
    .brand-manager {
        padding-bottom: 30px;
    }
}