@media (min-width: 1200px){
	/*lg*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-md-2:nth-child(6n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6  > .row > .col-md-4:nth-child(3n+1),
	.product-item-list-col-6-1 > .col-sm-6  > .row > .col-md-4:nth-child(3n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-md-3:nth-child(4n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (min-width: 992px) and (max-width:1199px){
	/*md*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-md-2:nth-child(6n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 > .row > .col-md-4:nth-child(3n+1),
	.product-item-list-col-6-1 > .col-sm-6 > .row > .col-md-4:nth-child(3n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-md-3:nth-child(4n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (min-width: 768px) and (max-width: 991px){
	/*sm*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (max-width: 767px){
	/*xs*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}

.catalog-section-header{
	font-size:14px;
	font-weight: bold;
	text-align: left;
	margin:5px 0;
	padding:5px 15px;
	border-bottom: 2px solid #d9dee6;
	color: #000;
}

.row::before {
	display: initial;
}











/* CARD */

.card {
	margin-top: 30px;
}

.card h1 {
	margin: 0px;
	font-size: 60px;
	font-weight: normal;
	line-height: 60px;
}

.card-wrapper {
	display: flex;
	margin-top: 30px;
}

.card-content {
	width: 75%;
	padding-right: 20px;
}

.card-sidebar {
	width: 25%;
}

.card-nav {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.card-nav li {
	display: inline-block;
	margin-right: 30px;
	padding-bottom: 5px;
	border-bottom: 5px solid transparent;
}

.card-nav li:hover {
	border-bottom: 5px solid #000;
}

.card-nav li:last-child {
	margin-right: 0px;
}

.card-nav li a {
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #262b2e;
}

.card-content > .content-header {
	border-bottom: 1px solid #bdbfc0;
}


.card-content .section-header {
	padding-bottom: 15px;
	border-bottom: 1px solid #d4d5d5;
}

.section-header h2 {
	margin: 0px;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

/* SHORT DESCRIPTION */

.short-description {
	margin-top: 30px;
}

.short-description .section-header {
	display: flex;
	justify-content: space-between;
}

.short-description .section-header h2 {
	width: 50%;
}

.short-description .section-header .section-header__description {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.short-description .section-header .section-header__description span {
	display: block;
	width: 50%;
	margin-bottom: 5px;
	font-size: 12px;
	color: #4c4c4c;
}

.short-description  .section-content {
	display: flex;
	padding-top: 30px;
}

.short-description  .section-content .section-content__image {
	width: 100%;
	max-width: 450px;
}

.short-description  .section-content .section-content__description  {
	padding-left: 60px;
}

.short-description  .section-content .section-content__description ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.short-description  .section-content .section-content__description ul li {
	margin-bottom: 10px;
	font-size: 16px;
}

.card-pager {
	display: flex;
	justify-content: space-between;
	max-width: 450px;
	margin-top: 10px;
}

.card-pager .card-slide {
	display: block;
	padding: 10px;
}

.card-pager .card-slide.active {
	box-shadow: 0px 0px 5px 0px #008aff;
}


.card-pager .card-slide img {
	display: block;
	width: auto;
	max-width: 100%;
}


/* SPECS */

.specs {
	margin-top: 30px;
}

.specs .section-content {
	padding-top: 30px;
}

.spec-item {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.spec-item__name,
.spec-item__value {
	flex-grow: 1;
}

.spec-item__group {
	max-width: 700px;
	margin-bottom: 30px;
}

.spec-item__group .section-content__header {
	margin-bottom: 10px;
	font-weight: bold;
}

.spec-item__separator {
	align-self: center;
	flex-grow: 35;
	border-bottom: 1px solid #c6c6c6;
}

.spec-item__value {
	text-align: right;
}

/* DOCS */

.docs {
	margin-top: 30px;
}

.docs-item {
	margin-bottom: 30px;
}

.docs-item__header {
	margin-bottom: 10px;
}

.docs-item p {
	margin: 0px 0px 8px;
	font-size: 14px;
	line-height: 16px;
}

.docs-item__file {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
}

.google-search {
	margin-bottom: 30px;
}

.google-search a {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}


/* SIDEBAR */

.card-sidebar__content {
	padding: 30px;
	box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.wholesale {
	margin-top: 20px;
}

.avalibilty {
	display: block;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}

.avalibilty:before {
	content: '•';
	display: inline-block;
	margin-right: 5px;
	color: #13af2c;
}

.avalibilty.out:before {
	color: #ff0000;
}

.quantity {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.quantity > span {
	flex-grow: 1;
}

.quantity-items,
.quantity-price {
	font-size: 14px;
}

.quantity-price {
	text-align: right;
}

.quantity .quantity-separator {
	align-self: center;
	flex-grow: 8;
	border-bottom: 1px solid #c6c6c6;
}


form > .price {
	font-size: 30px;
	text-align: center;
}

.add-to-cart {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding: 11px 0px;
	font-size: 16px;
	text-align: center;
	background-color: #008aff;
	color: #fff;
	border-radius: 5px;
}

.add-to-cart:hover {
	opacity: 0.85;
}

.sidebar-favorite a,
.sidebar-question a,
.sidebar-sample {
	display: block;
}

.sidebar-favorite a,
.sidebar-question a {
	font-size: 14px;
	text-decoration: none;
}

.sidebar-favorite a span {
	display: inline-block;
	vertical-align: middle;
}

.sidebar-favorite a span svg {
	width: 17px;
	margin-bottom: -2px;
	fill: #000;
	stroke: #000;
}

.sidebar-favorite,
.sidebar-question {
	margin-bottom: 10px;
}

.sidebar-favorite {
	margin-top: 20px;
}



.sidebar-sample {
	width: 100%;
	max-width: 190px;
	margin: 0px auto;
	padding: 10px 0px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
}

.sidebar-sample:hover {
	opacity: 0.85;
}



/* analogue */

.analogue {
	padding-top: 30px;
	border-top: 1px solid #bdbfc0;
}

.current-product {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.analogue .section-content {
	margin-top: 30px;
}



.analogue-table__holder .left-side {
	float: left;
	background-color: #fff;
}


/* .analogue-table__holder {
    overflow-x: scroll;
    white-space: nowrap;
} */

.analogue-table {
	width: 100%;
	border-collapse: collapse;
}

.analogue-table th,
.analogue-table td {
	padding: 10px;
	font-size: 15px;
	line-height: 15px;
	border-bottom: 1px solid #bdbfc0;
}

.analogue-table th {
	text-align: left;
}

.analogue-table td:first-child,
.analogue-table th:first-child,
.analogue-table td:first-child > a,
.analogue-table th:first-child > a {
	text-decoration: none;
	color: #008aff;
}

.analogue-table__holder .left-side th {
	color: #000;
}

.analogue-table__holder .right-side th {
	font-weight: normal;
}

.analogue-status {
	display: block;
}

.analogue-status:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 5px;
	background-color: #ff0000;
}

.analogue-status.ordered:before {
	background-color: #0066ff;
}

.analogue-status.stock:before {
	background-color: #13af2c;
}

.analogue-status.order:before {
	background-color: #ff9600;
}

.analogue-table th:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	margin-top: 2px;
	margin-left: 7px;
	border-style: solid;
	border-width: 5.5px 4px 0 4px;
	border-color: #373b44 transparent transparent transparent;
}

.analogue-table th:first-child:after {
	display: none;
}







.show-all {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 30px auto;
	padding: 10px 0px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
}

.industry-solutions {
	padding: 30px 15px 60px;
	border-top: 1px solid #bdbfc0;
	border-bottom: 1px solid #bdbfc0;
}

.industry-solutions .solutions {
	display: flex;
	width: 100%;
	margin-top: 20px;
	justify-content: space-between;
}

.industry-solutions .solutions .solution {
	display: block;
	width: 32.5%;
	height: 300px;
	padding: 20px 13px;
	overflow: hidden;
	border-radius: 5px;
	text-decoration: none;
	background-color: #53545a;
	background-repeat: no-repeat;
	background-size: cover;
}

.industry-solutions .solutions .solution span {
	display: block;
	color: #fff;
}

.industry-solutions .solutions .solution.black span {
	color: #000;
}

.solution-header {
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 34px;
}

.solution-content {
	font-size: 16px;
}

.industry-solutions .solutions .solution.solution-1 {
	background-image: url(../images/industrial1.png);
}

.industry-solutions .solutions .solution.solution-2 {
	background-image: url(../images/industrial2.png);
}

.industry-solutions .solutions .solution.solution-3 {
	background-image: url(../images/industrial3.png);
}



/* PARAMETRIC */

.parametric {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	position: relative;
}


.add-filter__items {
	display: none;
	position: absolute;
	z-index: 120;
	background-color: #fff;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
	box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.add-filter__items > div {
	display: block;
	padding: 10px;
	font-size: 13px;
	line-height: 16px;
	cursor: pointer;
}

.add-filter__items > div:hover {
	color: #fff;
	background-color: #172430;
}

.add-filter__items > div:hover span {
	color: #fff;
}

.filter-item {
	display: flex;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0px 10px;
	flex-wrap: nowrap;
	border: 1px solid #e1e1e1;
	border-radius: 50px;
	background-color: #ebebeb;
}


.filter-item__delete  {
	width: 11px;
	height: 23px;
	margin: 0px 5px;
	position: relative;
	cursor: pointer;
}

.filter-item__delete span {
	display: block;
	width: 11px;
	height: 2px;
	background-color: #000;
	position: absolute;
	top: 11px;
}

.filter-item__delete span:nth-child(1) {
	transform: rotate(45deg);
}

.filter-item__delete span:nth-child(2) {
	transform: rotate(-45deg);
}

.filter-item__name {
	padding-right: 10px;
	font-size: 13px;
	line-height: 24px;
}

.filter-item__option:nth-child(1) {
	border-left: 1px solid #e1e1e1;
}

.filter-item__option {
	display: flex;
	padding: 0px 5px 0px 13px;
	line-height: 24px;
	border-right: 1px solid #e1e1e1;
	background-color: #fff;
}

.filter-item__option .option-name {
	font-size: 12px;
}

.filter-item__option .option-delete  {
	width: 10px;
	height: 23px;
	margin: 0px 5px;
	position: relative;
	cursor: pointer;
}

.filter-item__option .option-delete span {
	display: block;
	width: 10px;
	height: 2px;
	background-color: #000;
	position: absolute;
	top: 11px;
}

.filter-item__option .option-delete span:nth-child(1) {
	transform: rotate(45deg);
}

.filter-item__option .option-delete span:nth-child(2) {
	transform: rotate(-45deg);
}

.filter-item__add {
	width: 10px;
	margin-left: 7px;
	position: relative;
	cursor: pointer;
}

.filter-item__add span {
	display: block;
	width: 10px;
	height: 2px;
	background-color: #000;
	position: absolute;
	top: 11px;
}

.filter-item__add span:nth-child(2) {
	transform: rotate(90deg)
}

.filter-item__more span {
	display: block;
	font-size: 12px;
	line-height: 24px;
	padding: 0px 5px;
	background-color: #fff;
	cursor: pointer;
}

.filter-item__more .more-list {
	display: none;
}

.filter-item__option.range-option {
	font-size: 12px;
	line-height: 24px;
}

.filter-item__option.range-option span {
	font-size: 12px;
	line-height: 24px;
	padding: 0px 2px;
}

.filter-item__range {
	cursor: pointer;
}

.filter-item__range:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	margin-top: 2px;
	margin-left: 7px;
	border-style: solid;
	border-width: 5.5px 4px 0 4px;
	border-color: #373b44 transparent transparent transparent;
}


.add-filter button span {
	display: inline-block;
	vertical-align: middle;
}

.add-filter button span:nth-child(1) {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	position: relative;
	background-color: #172430;
	border-radius: 50%;
}

.add-filter button span:nth-child(2) {
	font-size: 13px;
	line-height: 24px;
	color: #858585;
}



.add-filter button span:nth-child(1):before {
	content: '';
	display: block;
	width: 15px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 12.5px;
	left: 5px;
}

.add-filter button span:nth-child(1):after {
	content: '';
	display: block;
	width: 15px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 12.5px;
	left: 5px;
	transform: rotate(90deg)
}

.filter-item__option input[type=radio] {
	display: inline-block;
	width: 18px;
	height: 13px;
	margin: 0px 2px 0px -5px;
	vertical-align: middle;
	background-image: url(../images/filter-radio-off.jpg);
	background-repeat: no-repeat;
	background-size: 18px 13px;
	appearance: none;
	-webkit-appearance: none;
}

.filter-item__option input[type=radio]:checked {
	background-image: url(../images/filter-radio-on.jpg);
}

.filter-item__option > div > label {
	font-size: 13px;
	line-height: 24px;
	padding-right: 4px;
}

.remove-all {
	display: inline-block;
	position: absolute;
	right: 0px;
	top: -55px;
	cursor: pointer;
}

.remove-all span {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #9b240c

}

.remove-all .delete-red {
	display: inline-block;
	width: 10px;
	height: 23px;
	margin: 0px 5px;
	position: relative;
	cursor: pointer;
}

.remove-all .delete-red:before {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	background-color: #9b240c;
	position: absolute;
	top: 11px;
	transform: rotate(45deg);
}

.remove-all .delete-red:after {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	background-color: #9b240c;
	position: absolute;
	top: 11px;
	transform: rotate(-45deg);
}

.add-filter.open .add-filter__items {
	display: block;
}



/* filter units */

.add-filter__item  {
	display: none;
	min-width: 200px;
	position: absolute;
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
	box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
	border-radius: 5px;
	z-index: 120;
}

.add-filter__item h4 {
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	margin: 40px 0px;
	text-align: center;
}

/* RANGE SLIDER*/

.items-choise__range {
	height: 75px;
	padding-top: 25px;
	position: relative;
}

.irs-line {
	height: 5px;
	border-radius: 5px;
	background-color: #17232f;
}

.irs-to {
	top: -25px;
}

.irs-to:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -25px;
	right: -6px;
	border-style: solid;
	border-width: 0 7.5px 15px 7.5px;
	border-color: transparent transparent #000000 transparent;
}

.irs-from {
	top: 10px;
}

.irs-from:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: -23px;
	right: 18px;
	border-style: solid;
	border-width: 15px 7.5px 0 7.5px;
	border-color: #000000 transparent transparent transparent;
}

.irs-single {
	top: 10px;
}

.default-button.add-filter__unit {
	min-width: 235px;
	margin: 0 auto;
	padding: 11px;
	border-radius: 5px;
}

.range-from, .range-to {
	display: none;
}



@media (max-width: 960px) {
	.card-wrapper {
		flex-direction: column;
	}

	.card-content {
		width: 100%;
	}

	.card-sidebar {
		width: 100%;
		max-width: 300px;
		margin: 0 auto 15px;
	}

	.industry-solutions .solutions .solution span {
		overflow: hidden;
	}

}
@media (max-width: 768px) {
	.card h1 {
		font-size: 24px;
		line-height: 24px;
	}

	.section-header h2 {
		font-size: 18px;
		line-height: 18px;
	}

	.card-nav li a {
		font-size: 14px;
		line-height: 14px;
	}

	.card-wrapper {
		margin-top: 15px;
	}

	.short-description {
		margin-top: 15px;
	}

	.short-description .section-header .section-header__description span {
		padding-right: 5px;
	}

	.short-description .section-header {
		flex-direction: column;
	}

	.short-description .section-header h2 {
		width: 100%;
		margin-bottom: 15px;
	}

	.short-description .section-header .section-header__description {
		width: 100%;
	}

	.short-description .section-content .section-content__image {
		width: 50%;
		max-width: none;
	}

	.short-description .section-content .section-content__description {
		width: 50%;
		padding-left: 15px;
	}

	.analogue-table th, .analogue-table td {
		font-size: 12px;
	}
}
@media (max-width: 480px) {

	.card-nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.card-nav li {
		width: 50%;
		margin-right: 0px;
		padding-bottom: 0px;
	}

	.short-description .section-content {
		flex-direction: column;
		padding-top: 15px;
	}

	.short-description .section-content .section-content__image {
		width: 100%;
		margin-bottom: 15px;
	}

	.short-description .section-content .section-content__description {
		width: 100%;
		margin-bottom: 15px;
		padding-left: 0px;
	}

	.industry-solutions .solutions {
		flex-direction: column;
	}

	.industry-solutions .solutions .solution {
		width: 100%;
		margin-bottom: 15px;
	}

	.analogue-table th, .analogue-table td {
		font-size: 10px;
	}

}
