.personal h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.lk-wrapper {
    display: flex;
}

.lk-wrapper .lk-left {
    margin-right: 30px;
}

.lk-wrapper .lk-left, .lk-wrapper .lk-right {
    width: 48%;
}

.lk-left, .user-favorites, .user-subscribe {
    padding:  25px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.user-info h3, .user-favorites h3, .user-subscribe h3 {
    margin: 0px 0px 45px;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
}

.user-info h4, .user-favorites h4, .user-subscribe h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
}

.user-info > div {
    display: flex;
    margin-bottom: 75px;
}

.user-info > div:last-child {
    margin-bottom: 0px;
}

.user-info .left {
    width: 30%;
}

.user-fio .right span {
	margin-right: 5px;
}

.current-mail {
    display: block;
    margin-bottom: 5px;
}

.current-mail__status {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}

.glk {
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-right: 3px;
    position: relative;
    vertical-align: middle
}

.glk:before {
    content:'';
    display: block;
    width: 5px;
    height: 2px;
    position: absolute;
    bottom: 2px;
    left: 2px;
    background-color: #b5b5b5;
    transform: rotate(45deg);
}

.glk:after {
    content:'';
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: #b5b5b5;
    transform: rotate(-45deg);
}

.current-mail__status.confirm-false  {
    color: #ff0000;
}

.confirm-false .glk:before {
    content:'';
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: #ff0000;
    transform: rotate(45deg);
}

.confirm-false .glk:after {
    content:'';
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: #ff0000;
    transform: rotate(-45deg);
}

.favorites-items {
    display: flex;
    justify-content: space-between;
}

.favorites-items span {
    display: inline-block;
    vertical-align: middle;
}

.favorites-items svg {
    display: block;
    width: 30px;
    height: 28px;
    fill: #99a2b5;
    stroke: #99a2b5;
}

.favorites-items .favorite-total {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background-color: #3e76dd;
    color: #fff;
}

.favorites-items > .right > .default-button {
    min-width: 170px;
    max-width: 170px;
}

.favorites-items > .left > span:nth-child(2) {
    margin: 0px 10px;
}

.user-subscribe {
    margin-top: 30px;
}

.user-subscribe span, .user-subscribe a {
    display: block;
}

.user-subscribe .headings {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 12px;
    color: #797979;
}

.subscribe-mail {
    margin-bottom: 50px;
}

.default-button.change-subscription {
    max-width: 210px;
}


@media (max-width: 1024px) {
    .favorites-items {
        flex-wrap: wrap;
    }

    .favorites-items > .left  {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .lk-wrapper {
        flex-direction: column;
    }

    .lk-wrapper .lk-left, .lk-wrapper .lk-right {
        width: 100%;
    }

    .lk-wrapper .lk-left {
        margin-right: 0px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
	.user-info .left  {
		width: 100%;
		margin-bottom: 15px;
	}

	.user-info > div {
		flex-wrap: wrap;
	}

    .favorites-items > .left > span:nth-child(1) {
        display: none;
    }

    .favorites-items > .left > span:nth-child(2) {
        margin: 0px 10px 0px 0px;
    } 
}