.aniversary > .wrapper {
	max-width: none;
}

section.aniversary {
	padding: 0px;
}

.aniversary .header,
.aniversary .fb {
	padding: 0 15px;
}

img.mfp-img {
	padding: 0px;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	right: 5px;
}

.mfp-counter {
	right: 5px;
}

@media (min-width: 2560px) {

	.owl-carousel .owl-item img {
		display: block;
		width: auto;
		height: 1500px;
	}

	.owl-nav img {
		height: 600px;
		max-height: 600px;
	}

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
		top: 13vh;
	}

	.owl-carousel .owl-stage-outer {
		max-height: 1500px;
	}

	.header > div {
		width:60%;
	}

	.logo-holder img, .logo-holder svg {
		max-width: 50%;
	}

	.years-holder {
		font-size: 270px;
    	line-height: 270px;
	}

	.header-text__ru {
		font-size: 60px;
	}

	.header-text__en {
		font-size: 43px;
	}

	.years-holder {
		text-align: right;
	}

	.fb-text__ru {
		font-size: 58px;
	}

	.fb-text__en {
		font-size: 41px;
	}

	.fb-img svg {
		width: 80px;
		height: 80px;
	}

	.owl-carousel .owl-nav button.owl-next {
		padding: 5% 1% 5% 5% !important;
	}

	.owl-carousel .owl-nav button.owl-prev {
		padding: 5% 5% 5% 1% !important;
	}

	.aniversary .header, .aniversary .fb {
		padding: 0 1%;
	}

	.years-holder {
		max-width: 15%;
	}
}

@media (max-width: 1200px) {
	.header-bot.nav-wrapper {
		display: none;
	}
}

/* 1024 TABLET */

@media (max-width: 1024px) {
    section {
        padding: 0px 15px;
    }

    section.slider {
        padding: 0px;
    }

    .wrapper {
        max-width: 1024px;
    }

    .top-nav__wrapper {
        display: none;
    }

    .header-bot.nav-wrapper {
        display: none;
    }

    .phone-wrapper > a:nth-child(1) {
        margin-bottom: 10px;
    }

    .burger-menu {
        margin-left: 15px;
    }

    .auth-wrapper {
        margin-left: 15px;
        float: left;
    }

    .auth-registration {
        margin-left: 15px;
    }

    .favorite-top a span {
        margin-left: 0px;
        margin-right: 10px;
    }

    .info-blocks {
        padding: 0px 15px;
    }

    .cart-wrapper {
        margin-left: 0px;
        margin-right: 15px;
    }

    .nav-map {
        padding: 0px 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .burger-nav.open {
        overflow-x: scroll;
        position: fixed;
        padding-bottom: 40px;
    }

    .burger-nav > .nav-header {
        padding-top: 15px;
        padding-left: 10px;
        margin-bottom: 30px;
    }

    .close-nav {
        right: 10px;
        top: 15px;
    }

    .nav-header {
        margin-bottom: 10px;
    }

    .nav-map__section {
        margin-bottom: 15px;
    }

    .header-bot__info {
        margin-top: 20px;
        padding: 0px 10px;
    }

    .search-select {
        display: none;
    }

    .header-bot__search form input[type=search] {
        padding: 20px 80px 20px 20px;
    }

    .header-bot__search form input[type=search]:-moz-placeholder {
        display: none;
    }

    .head-wrapper > h3 {
        font-size: 22px;
        line-height: 22px;
    }

    .content-wrapper {
        display: none;
        /* max-height: 110px;
        margin-top: 0px;
        overflow: hidden; */
    }

    .subscribe-header {
        padding: 0px 10px;
    }

    .service-item {
        margin-bottom: 30px;
    }

    .service-item > .icon-holder > img {
        margin-bottom: 25px;
    }

    .services {
        margin-top: 35px;
    }

    .footer-head {
        padding: 0px 10px;
    }

    .logo-text-wrapper {
        font-size: 12px;
    }

    footer .logo-wrapper a {
        margin: 0 auto;
    }

    .footer-content {
        text-align: center;
    }

    .personal-data {
        max-width: 100%;
        float: none;
        margin-bottom: 15px;
    }

    .submit button {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .modal {
        width: 100%;
        padding: 15px;
    }

    .modal a.close-modal {
        top: 5px;
        right: 5px;
    }

    .footer-content {
        overflow: hidden;
    }

    .footer-content > .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer-content .row:before, .footer-content .row:after {
        display: none;
    }

    .subscribe-wrapper.open {
        padding: 20px 15px;
    }

    .subscribe-wrapper.open .subscribe-inputs {
        padding: 10px 15px 20px;
    }

	.search-category {
		flex-direction: column;
	}

	.search-category__header {
		width: 100%;
	}

	.search-category__link {
		width: 100%;
	}

	.search-category__path {
		display: none;
	}

	.search-category__list > li {
		padding-left: 0px;
	}

}


@media (max-width: 1024px) {
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
		top: 12vh;
	}
}


@media (max-width: 960px) {
	.slide-block {
		max-width: 80%;
	}

    .slide-content {
        display: none;
    }

    .slide-footer {
        bottom: 30px;
    }

    .slide-header {
        font-size: 30px;
        line-height: 30px;
    }

    .mini-cart__wrapper .item-more .quantity-num,
    .mini-cart__wrapper .item-more .price {
        float: none;
    }

    .about-page { 
        width: 100%;
    }

	.quantity-num {
		margin: 20px 0px;
	}

	.card-sidebar__content .quantity-num {
		margin: 20px auto;
	}
}

/* 768 TABLET */

@media (max-width: 768px) {

    .wrapper {
        max-width: 768px;
    }

    .top-cart a span:nth-child(1) {
        margin-right: 0px;
    }

    .favorite-top a span:nth-child(2),
    .top-cart a span:nth-child(2) {
        display: none;
    }

    .phone-wrapper {
        display: none;
    }

    .subscribe-content form {
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .subscribe-content form input[type=email] {
		border-radius: 5px;
        margin-bottom: 15px;
        -webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
        box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    }

    .subscribe-content form button {
        max-width: 100%;
        padding: 20px 0px;
		border-radius: 5px;
    }

    .col-3 {
        width: 50%;
        margin-bottom: 15px;
    }

    .footer-head .logo-wrapper {
        display: block;
        margin: 0 auto 10px;
    }

    .logo-text-wrapper {
        display: block;
        text-align: center;
    }

    .info-blocks > .wrapper > .row > .col-6 {
        width: 100%;
        margin-bottom: 10px;
    }



    .main-info {
        height: 600px;
        text-decoration: none;
		margin-right: 0px;
    }

    .subscribe-inputs {
        flex-wrap: wrap;
    }

    .subscribe-inputs__item {
        width: 100%;

    }

    .mini-cart__wrapper {
        flex-wrap: wrap;
    }

    .mini-cart__wrapper .item-img {
        width: 20%;
    }

    .mini-cart__wrapper .item-info {
        width: 80%;
    }

    .mini-cart__wrapper .item-more {
        width: 100%;
    }


    .img-holder .about-img {
        width: 100%;
        margin-bottom: 15px;
    }

    .scroll-table {
        overflow-x: scroll;
    }

	.item-img .favorite svg {
		width: 40px;
		height: 40px;
	}

	.customer .error-message,
	.contact-person .error-message {
		margin-left: 0px;
	}

	body > #bx-panel, #bx-panel div {
		display: none !important;
	}

	.owl-carousel .owl-item img {
		display: block;
		width:  auto;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
		top: 7px;
	}

	.owl-carousel .owl-nav button.owl-next {
		padding: 5% 1% 5% 5% !important;
	}

	.owl-carousel .owl-nav button.owl-prev {
		padding: 5% 5% 5% 1% !important;
	}

	.owl-nav img {
		max-height: 160px;
	}



	.header {
		margin-top: 10px;
	}



	.owl-item a {
		min-height:  60vh;
		max-height: 60vh;
	}

	.photo-slider {
		max-height: 60vh;
	}

	.owl-carousel .owl-item img {
		max-height: 60vh;
	}

	.old-site__wrapper .link-old {
		position: static;
	}

}


/* 480 MOBILE */

@media (max-width: 480px) {
    .wrapper {
        max-width: 480px;
    }

    .slide-header {
        font-size: 24px;
        line-height: 26px;
    }

    .slide-footer {
        display: none;
    }

    .phone-wrapper {
        display: none;
    }

    .col-3 {
        width: 100%;
        margin-bottom: 15px;
        float: none;
    }

    .col-6 {
        width: 100%;
        margin-bottom: 10px;
        float: none;
    }

    /* .content-wrapper {
        max-height: 75px;
        margin-top: 0px;
        overflow: hidden;
    } */


    .services-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

	.service-item {
		width: 100%;
		margin-bottom: 45px;
	}

	.service-item.support {
		border: none;
	}


	.service-item > .icon-holder > img, .service-item > .icon-holder > svg {
		margin: 0 auto 15px;
	 }


    .total-cost__wrapper {
        flex-direction: column;
    }

    .total-col {
        width: 100%;
        margin-bottom: 30px;
    }

    .mini-cart__wrapper .item-img {
        width: 100%;
        margin-bottom: 20px
    }

    .mini-cart__wrapper .item-info {
        width: 100%;
        margin-bottom: 20px;
    }

    .mini-cart__wrapper {
        margin: 0 auto;
        padding: 45px 15px;
    }

    .close-mini {
        right: 23px;
    }

    .mini-cart__wrapper {
        margin: 0px;
        max-width: 320px;
    }

    .mini-cart__wrapper .item-info__content {
        display: block;
    }

	.item-img .favorite {
		left: -15px;
		top: -45px;
	}

	.slide-block {
		max-width: 90%;
		top: 15%;
		left: 20px;
	}

	/*.owl-carousel .owl-item img {
		max-height: 300px;
	}*/

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
		top: 22vh;
	}

	.owl-nav img {
		max-height: 80px;
	}

	.logo-holder {
		display: flex;
		align-items: flex-end;
	}


	.logo-holder span {
		font-size: 60px;
		line-height: 57px;
		font-weight: bold;
		padding-left: 15px;

	}

	.logo-holder img, .logo-holder svg {
		min-width: 200px;
	}

	.col-6:nth-child(1) > a > .sub-info__item {
		margin-right: 0px;
	}

	.col-6:nth-child(2) > a >  .sub-info__item {
		margin-left: 0px;
	}

	 .main-info {
		height: 370px;
	}


}

/* 480x968	 */

@media (max-width: 480px) and (max-height: 968px) {
	.header {
		margin-top: 15px;
	}

	.logo-holder {
		margin-bottom: 10px;
	}

	.logo-holder img, .logo-holder svg {
		max-width: 150px;
	}

	.years-holder {
		font-size: 50px;
		line-height: 50px;
	}

	.photo-slider {
		max-height: 50vh;
		overflow: hidden;
	}

	.owl-item a {
		min-height: 50vh;
		max-height: 50vh;
	}

	.owl-carousel .owl-item img {
		max-height: 50vh;
	}

	.owl-nav img {
		max-height: 50px;
	}

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
		top: 17vh;
	}

	.header-text__ru {
		font-size: 11px;
	}

	.header-text__en {
		font-size: 10px;
	}

	.fb-text__ru {
		font-size: 10px;
	}

	.fb-text__en {
		font-size: 9px;
	}

	.fb {
		margin: 15px 0px;
	}
}


/* 980x480	 */

@media (max-width: 968px) and (max-height: 480px) {
	.header {
		margin-top: 15px;
	}

	.logo-holder {
		margin-bottom: 10px;
	}

	.logo-holder img, .logo-holder svg {
		max-width: 150px;
	}

	.years-holder {
		font-size: 50px;
		line-height: 50px;
	}

	.photo-slider {
		max-height: 50vh;
		overflow: hidden;
	}

	.owl-item a {
		min-height: 50vh;
		max-height: 50vh;
	}

	.owl-carousel .owl-item img {
		max-height: 50vh;
	}

	.owl-nav img {
		max-height: 50px;
	}

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
		top: 30px;
	}

	.owl-carousel .owl-nav button.owl-next {
		padding: 5% 1% 5% 5% !important;
	}

	.owl-carousel .owl-nav button.owl-prev {
		padding: 5% 5% 5% 1% !important;
	}

	.header-text__ru {
		font-size: 11px;
	}

	.header-text__en {
		font-size: 10px;
	}

	.fb-text__ru {
		font-size: 10px;
	}

	.fb-text__en {
		font-size: 9px;
	}

	.fb {
		margin: 15px 0px;
	}
}

@media (max-width: 411px) {
	 .main-info {
		height: 320px;
	}
}


@media (max-width: 380px) {
	 .main-info {
		height: 300px;
	}
}



@media (max-width: 320px) {
	.owl-item a {
		min-height:  60vh;
		max-height: 60vh;
	}

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    	top: 70px;
	}

	.header-text__ru {
		font-size: 13px;
		margin-bottom: 3px;
	}

	.header-text__en {
		font-size: 11.5px;
	}

	.fb-text__ru {
		margin-bottom: 3px;
		font-size: 11px;
	}

	.fb-text__en {
		font-size: 11px;
	}

	.main-info {
		height: 240px;
	}

}