* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
	background-color: #fff;
}

header *,
main *,
footer *,
.modal * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

input, button {
    padding: 0px;
    border: none;
    background-color: transparent;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    cursor: pointer;
}

input[type=number] {
	-moz-appearance:textfield;
}


a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #008aff;
}

p a {
	color: #008aff;
}


input.error[type=text],
input.error[type=tel],
input.error[type=email],
input.error[type=password] {
    border-color: #d73535 !important;
}

input[type=radio] {
	width: 25px;
	height: 18px;
    appearance: radio;
    -webkit-appearance: radio;
    -moz-appearance: radio;
}

input:focus, button:focus {
    outline: none;
}

section > div > h2 {
    margin: 0px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

header, main, footer {
    display: block;
    width: 100%;
}

footer {
    clear:both;
    overflow: hidden;
}

.black {
    color: #000;
}

.ov-hidden {
    overflow: hidden;
    position: fixed;
}

@media (min-width: 1025px) {
    .ov-hidden {
        position: static;
    }
}

.link-old {
    display: block;
    margin: 20px 0 30px;
}

.header-top {
    padding: 11px 0px;
    background-color: #262b2e
}

.header-top .wrapper:before,
.header-top .wrapper:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.wrapper h1 {
    margin: 0px 0px 30px;
    font-size: 42px;
    line-height: 42px;
    font-weight: normal;


}

.burger-menu {
    display: block;
    width: 23px;
    height: 23px;
    padding: 0px;
	cursor: pointer;
}

.burger-menu span {
    display: block;
    width: 23px;
    height: 3px;
    margin: 3px 0px;
    background-color: #fff;
}

.burger-nav {
    display: none;
    width: 100%;
	height: 100%  ;
    min-height: 100vh;
  	overflow-x: scroll;
	-webkit-overflow-scrolling-x: touch;
    position: absolute;
    left: 0;
    top: 0;
	right: 0;
	bottom: 0;
    background-color: #fff;
    z-index: 200;
}

.burger-nav.open {
    display: block;
}

.nav-header {
    display: block;
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 25px;
    text-decoration: none;
}

.nav-header > a {
    display: block;
    max-width: 200px;
}

.nav-header > a > img {
    display: block;
    width: auto;
    max-width: 100%;
}

.burger-nav > .nav-header {
    padding-top: 25px;
    padding-left: 100px
}

.close-nav {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 100px;
    top: 40px;
}

.close-nav span {
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    background: #000;
}

.close-nav span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close-nav span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.nav-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 800px;
    margin: 0px auto;
    padding-top: 130px;
}

.nav-list {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-list li {
    margin-bottom: 7px;
}

.nav-list a {
    display: block;
    font-size: 17px;
    text-transform: none;
    text-decoration: none;
    color: #000;
}

.header-contact {
    margin-bottom: 12px;
}

.header-contact > div {
    margin-bottom: 5px;
}

.header-contact a {
    display: block;
    font-size: 15px;
    text-decoration: none;
}

.top-nav__wrapper {
    display: block;
}

.top-nav__wrapper ul {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.top-nav__wrapper ul > li {
    display: inline-block;
}

.top-nav__wrapper ul > li > a {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-decoration: none;
}

.top-nav__wrapper ul > li > a:hover {
    color: #008aff;
}

.burger-nav__wrapper,
.top-nav__wrapper {
    float: left;
}

.auth-wrapper, .cart-wrapper, .favorite-wrapper{
    float: right;
}

.top-nav__wrapper {
    margin-top: 1px;
    margin-left: 10px;
}

.top-nav__wrapper ul > li {
    margin-left: 30px;
}

.cart-wrapper {
    margin-left: 40px;
}

.auth-login, .auth-registration {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.auth-registration {
    margin-left: 47px;
}

.favorite-top a {
    display: block;
    text-decoration: none;
}

.favorite-top a span svg {
    width: 24px;
    height: 22px;
    margin-bottom: -2px;
    fill: #fff;
    stroke: #fff;
}

.favorite-top a span:nth-child(1) {
	margin-right: 10px;
}


.top-cart a, .top-cart a span  {
    display: inline-block;
    vertical-align:  middle;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
}

.top-cart a span:nth-child(1) {
    margin-right: 14px;
}

.top-cart a span:nth-child(1) img,
.top-cart a span:nth-child(1) svg  {
    display: block;
    width: 19px;
    height: 19px;
    fill: #fff;
}

.header-bot__info:before,
.header-bot__info:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.header-bot__info {
    margin-top: 30px;
}

.logo-wrapper {
    display: block;
    width: 100%;
    max-width: 295px;
    float: left;
}

.logo-wrapper a {
    display: block;
    width: 100%;
    max-width: 250px;
}

.logo-wrapper a img {
    display: block;
    width: auto;
    max-width: 100%;
}

.logo-wrapper span {
    display: block;
    margin-top: 12px;
    font-size: 12px;
}

.header-bot.nav-wrapper {
    display: block;
    float: left;
    margin-left: 18px;
}

.header-bot.nav-wrapper ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.header-bot.nav-wrapper > ul > li {
    display: inline-block;
    margin-left: 20px;
    padding: 20px;
    background-color: #fff;
}

.header-bot.nav-wrapper > ul > li:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 7px;
    border-style: solid;
    border-width: 5.5px 4px 0 4px;
    border-color: #373b44 transparent transparent transparent;
}

.header-bot.nav-wrapper > ul > li:hover {
    z-index: 300;
}

.header-bot.nav-wrapper > ul > li:hover > a {
    color: #006cff;
}

.header-bot.nav-wrapper > ul > li > a {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 18px;
    color: #373b44;
    text-decoration: none;
    z-index: 36;
}

.header-bot.nav-wrapper .inner-menu {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 15px 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    -webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    z-index: 300;
}

.inner-menu {
    background: #262b2e;
}

.catalog-top__menu {
    display: flex;
    justify-content: space-between
}

.catalog-top__menu a {
    color: #fff;
}

.header-bot.nav-wrapper .inner-menu .catalog-top__menu  ul li > a:hover {
    color: #008aff;
}

.header-bot.nav-wrapper > ul > li:hover .inner-menu {
    display: block;
}

.header-bot.nav-wrapper .inner-menu ul {
    display: block;
	width: 33.3333%;
    padding: 20px 30px 20px 0px;
    box-sizing: border-box;
}


.header-bot.nav-wrapper .inner-menu ul li a {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 20px;
    text-decoration: none;
}

.header-bot.nav-wrapper .inner-menu .show-all {
	margin-top: 30px;
}

.header-bot.nav-wrapper .inner-menu .show-all a {
	display: flex;
}

.header-bot.nav-wrapper .inner-menu .show-all a svg {
	width: 12px;
    height: 12px;
}

.header-bot.nav-wrapper .inner-menu ul li .manufacturers-item a {
	margin-bottom: 5px;
}

.brands-menu {
    display: flex;
    justify-content: space-between;
}

.menu-item__name {
    font-size: 16px;
    color: #fff;
}

.manufacturers-menu__item {
    margin-bottom: 15px;
}

.manufacturers-item {
    display: inline-block;
}

.manufacturers-item a {
    font-size: 14px;
    line-height: 29px;
    color: #bbbbbb;
}

.all-manufacturers svg {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.all-manufacturers span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 29px;
    color: #888888;
}

.all-manufacturers:hover span {
    color: #006cff;
}

.arrow-rightMan {
    fill: #888888;
}

.all-manufacturers:hover .arrow-rightMan {
    fill: #006cff;
}

.manufacturers-item a:hover {
    color: #006cff;
}

.header-bot.nav-wrapper .inner-menu ul li > a:hover {
    text-decoration: none;
    color: #fff;
}

.inner-menu.inner-catalog ul {
    display: inline-block;
    vertical-align: top;
}

.show-all {
    display: block;
}

.inner-menu .show-all > a {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

.show-all > a:hover {
    color: #0060ff
}

.inner-menu .show-all > a svg {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.show-all .arrow-rightMan {
    fill: #fff;
}

.show-all > a:hover .arrow-rightMan {
    fill: #0060ff;
}


.inner-menu.inner-catalog:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.phone-wrapper {
    display: block;
    float: right;
}

.phone-wrapper > a {
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    color: #000;
    text-decoration: none;
}

.phone-wrapper > a:hover {
	color: #008aff;
}

.phone-wrapper > a:nth-child(1) {
    margin-bottom: 10px;
}

.header-bot__search {
    display: block;
    width: 100%;
    position: relative;
}

.header-bot__search form {
    display: block;
    width: 100%;
    position: relative;
}


.search-category {
    padding: 25px 0px;
    border-bottom: 1px solid #e6eaf0;
}

.search-category:first-child {
    padding-top: 0px;
}

.search-category:last-child {
    border-bottom: none;
}

.search-category__header {
    display: block;
}

.search-category__header > a {
    display: block;
    text-decoration: none;
    line-height: 28px;
}

.search-category__list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.search-category__list li a {
    line-height: 28px;
    text-decoration: none;
    color: #000;
}

.search-category__list li a:hover {
	color: #008aff;
}

.search-select.open .select-list {
    display: block;
}

.search-select.open:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.select-list span label {
    display: block;
    cursor: pointer;
}

.select-list span input[type=radio] {
    position: absolute;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.slider {

    margin-top: 40px;
    margin-bottom: 30px;
}

.slider-wrap > .slide > a {
    display: block;
    position: relative;
	border-radius: 5px;
}

.slide-block, .slide-footer {
    display: block;
    position: absolute;
}

.slide-block {
	max-width: 40%;
    top: 25%;
    left: 50px;
}

.slide-header {
    font-size: 58px;
    line-height: 60px;
    font-weight: 300;
}

.slide-header {
    margin-bottom: 5%;
    color: #fff;
}

.slide-content {
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    color: #fff;
}

.slide-footer {
    bottom: 15px;
    left: 15px;
}

.slide-tag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #808080;
    border-radius: 50px;
    background-color: #666;
}

.info-blocks > .wrapper {
    overflow: hidden;
}

.row:before,
.row:after {
    content: '';
    display: block;
    clear: both;
}

.col-6 {
    display: block;
    width: 50%;
    float: left;
}

.col-9 {
    display: block;
    width: 75%;
    float: left;
}

.col-6:nth-child(even) {
	padding-left: 5px;
}

.col-6:nth-child(odd) {
	padding-right: 5px;
}

.col-12 {
    display: block;
    width: 100%;
}

.col-12 .sub-info__item {
    margin-bottom: 10px;
}

.col-6:nth-child(1) > a > .sub-info__item {
	margin-right: 5px;
}

.col-6:nth-child(2) > a >  .sub-info__item {
	margin-left: 5px;
}


.info-blocks a {
	display: block;
}

.info-blocks a:hover h3 {
	color: #008aff;
}

.main-info {
    height: 500px;
    margin-right: 10px;
    position: relative;
	border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

.sub-info__item {
    height: 245px;
    position: relative;
    position: relative;
	border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.date-wrapper {
    padding-top: 20px;
    margin-left: 20px
}

.date-wrapper > div {
    display: inline-block;
    vertical-align: bottom;
    display: none;
}

.num {
    font-size: 50px;
    line-height: 40px;
    font-weight: 300;
    text-align: center;
    color: #222d33;
}

.m-y {
    margin-left: 10px;
}

.m-y span {
    display: block;
    font-size: 16px;
    line-height: 16px;
    text-transform: lowercase;
}

.m-y span:nth-child(1) {
    margin-bottom: 5px;
}

.head-wrapper, .content-wrapper {
    margin-top: 24px;
    padding: 0px 20px;
}

.head-wrapper > h3,
.head-wrapper > h3 a,
.head-wrapper > a  {
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    text-decoration: none;
}

.sub-info__item > .head-wrapper > h3 {
    font-size: 20px;
    font-weight: bold;
    word-break: break-word;
    line-height: 24px;
}

.bottom-wrapper {
    position: absolute;
    bottom: 15px;
    left: 20px;

}

.tags > a {
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    border: 2px solid #878d90;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
}

.sub-info__item.white {
    background-color: #aab9c1
}

.sub-info__item.white .num,
.sub-info__item.white .m-y span,
.sub-info__item.white .head-wrapper h3,
.sub-info__item.white .content-wrapper p,
.sub-info__item.white .tags > a {
    color: #fff;
}

.content-wrapper p {
    line-height: 18px;
}

.info-blocks a:hover .sub-info__item.white .head-wrapper h3 {
	color: #008aff;
}

/* CATALOG SECTION */


/* SUBSCRIBE SECTION */

.subscribe {
    margin-top: 150px;
}

.subscribe-header img,
.subscribe-header svg {
    display: block;
    width: auto;
    max-width: 50px;
    height: 44px;
    margin: 0 auto 20px;
    fill: #000;
}

.subscribe-header h2 {
    margin: 0px auto 12px;
    font-size: 30px;
	font-weight: normal;
    line-height: 30px;
    text-align: center;
}

.subscribe-header p {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    text-align: center;
}

.subscribe-content {
    margin-top: 25px;
}

.subscribe-content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    border-radius: 5px;
}

.subscribe-content form input[type=email] {
    display: block;
    width: 100%;
    max-width: 800px;
    padding: 16px 15px 15px 15px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid transparent;
    border-radius: 5px 0px 0px 5px;
}

.subscribe-content form button {
    display: block;
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #262b2e;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}

.subscribe-inputs {
    display: none;
    width: 100%;
    max-width: 1105px;
    margin: 0px auto;
    padding: 10px 50px 40px;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    left: 0px;
    right: 0px;
    background-color: #fff;
}

.subscribe-inputs__item {
    width: 32%;
}

.subscribe-inputs__item label {
    cursor: pointer;
}

.subscribe-inputs__item .head {
	font-weight: normal;
    margin-bottom: 10px;
}

.subscribe-inputs__item input[type=checkbox] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px -2px 0px;
    background-image: url(../images/checkbox-false.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
}

.subscribe-inputs__item input[type=checkbox]:checked {
    background-image: url(../images/checkbox-true.jpg);
}

.subscribe-input {
    margin-bottom: 6px;
}

.subscribe-wrapper {
    padding-top: 20px;
}

.subscribe-wrapper.open {
	max-width: 1105px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
	background-color: #fff;
}

.subscribe-wrapper.open .subscribe-content form {
    box-shadow: none;
}

.subscribe-wrapper.open .subscribe-content form input[type=email] {
    border-color: #727a81;
}

.subscribe-wrapper.open .subscribe-inputs {
    display: flex;
    box-shadow: 0px 17px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.services {
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 60px 0px;
    background-color: #262b2e
}

.services-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.service-item {
    display: block;
	width: 33%;
    text-decoration: none;
}

.service-item.support {
	border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.service-item > .icon-holder > img,
.service-item > .icon-holder > svg {
    display: block;
    width: auto;
    max-width: 50px;
    height: 60px;
    margin: 0 auto 50px;
    fill: #fff;
}

.service-item > .service-item__head {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}

.service-item > .service-item__content {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #fff;
}

.sub-menu.open {
    display: block;
}

.footer-head {
    margin-bottom: 35px;
}

.logo-wrapper a {
    display: block;
}

.footer-head .logo-wrapper {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.logo-wrapper a img {
    display: block;
    width: auto;
    max-width: 100%;
}

.logo-text-wrapper {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
    color: #727a81
}

.col-3 {
    width: 25%;
    padding: 0px 15px;
    float: left;
}

.footer-content .city {
    font-size: 21px;
}

.footer-content .city,
.footer-content .address,
.footer-content .metro,
.footer-content .phone,
.footer-content .mail {
    margin-bottom: 15px;
}

.footer-content .address,
.footer-content .metro,
.footer-content .phone,
.footer-content .mail {
    font-size: 14px;
}

.footer-content .phone a,
.footer-content .mail a {
    text-decoration: none;
}

.footer-content {
    padding-bottom: 50px;
}

.main-modal {
    background: #fff;
}

.main-modal h2 {
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
	text-align: center;
}

.required-fields {
    display: block;
    margin-bottom: 10px;
    font-size: 11px;
    color: #858585;
}

.required-fields p {
	font-size: 14px;
}

.main-modal > div,
.main-modal form > div  {
    margin-bottom: 20px;
}

.main-modal > div:last-child {
    margin-bottom: 0px;
}

.main-modal label,
.main-modal > div > span,
.main-modal input,
.main-modal textarea {
    display: block;
    width: 100%;
}

.main-modal label,
.main-modal > div > span {
    font-size: 16px;
    line-height: 32px;
}

.main-modal input[type=text],
.main-modal input[type=tel],
.main-modal input[type=email],
.main-modal input[type=password],
.main-modal input[type=number] {
    padding: 11px 15px;
    font-size: 16px;
    line-height: 26px;
	border-radius: 5px;
    border: 1px solid #dfdfdf;
}
.main-modal > div > span.form-error-fld {
    display: none !important;
}
.main-modal .submit input[type=submit] {
    width: unset;
}

.main-modal textarea {
    min-height: 130px;
    padding-left: 5px;
    font-size: 20px;
    line-height: 26px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

.main-modal form textarea:focus {
    outline: none;
}

.thanks.main-modal {
    max-width: 320px;
    margin: 0 auto;
}

.thanks.main-modal h2 {
    text-align: center;
}

.thanks.main-modal p {
    text-align: center;
}


.thanks.main-modal .default-button {
    max-width: 200px;
    margin: 30px auto;
    background-color: #000;
    color: #fff;
}

.submit:before,
.submit:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.personal-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    max-width: 60%;
}

.personal-data input[type=checkbox] {
    margin: 0px 10px 0px 0px;
    max-width: 15px;
    height: 15px;
    border: 1px solid #dfdfdf;
}

.personal-data input[type=checkbox]:checked {
    background-image: url("../images/ok.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 2px;
}


.personal-data label {
    font-size: 12.5px;
    line-height: 14px;
    color: #909090;
}

.submit button,
.submit input[type="submit"]  {
    display: block;
    padding: 17px 10px;
    float: right;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
}

.file {
    position: relative;
}



#file-uploader,
.file > input[type=file] {
    display: inline-block;
    max-width: 200px;
    padding: 14px 0px;
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 2;
}

.fake-input {
    display: inline-block;
    width: 100%;
    max-width: 190px;
    padding: 16px 50px 16px 10px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #000;
    background-image: url(../images/xls.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 150px 10px;
    cursor: pointer;
    z-index: 1;
}

.chose-file,
.main-modal > div > .chose-file {
    display: inline-block;
    width: auto;
    margin-left: 15px;
    color: #949494;
}

.main-modal > div > .bx-input-file-desc {
	display: none;
}

#modal-project .submit button,
#modal-project .submit input {
    margin: 0 auto;
    padding: 16px 30px;
    float: none;
}

#modal-login .submit button,
#modal-login .submit input{
    width: 100%;
	margin: 0 auto;
}

#modal-login.modal {
	max-width: 350px;
}

.reg-link {
	font-size: 14px;
	color: #0095fe
}

.first-time {
    margin-top: 25px;
    border-top: 1px solid #353535;
}

.first-time h4 {
    margin: 15px 0px 5px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.first-time a {
    display: block;
    text-align: center;
    color: #1d57cb;
    margin-bottom: 15px;
}

#modal-login .password {
    margin-bottom: 10px;
}

#modal-login .forgot-mobile {
	display: inline-block;
	margin-bottom: 45px;
	margin-left: 16px;
	font-size: 14px;
	color: #0095fe;
}

#modal-login .submit {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#modal-login .submit:before,
#modal-login .submit:after {
    display: none;
}

#modal-registration.modal {
	max-width: 350px;
}

#modal-registration .submit .personal-data {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    float: none;
}

#modal-registration .submit button,
#modal-registration .submit input[type="submit"] {
    width: 100%;
    margin: 0 auto;
    float: none;
}

#modal-project .submit input[type="submit"] {
    width: 100%;
    max-width: 300px;
}

.registration .phone {
	display: flex;
}

.registration .phone .reg-phone__main {
	width: 60%;
	margin-right: 10px;
}

.registration .phone .reg-phone__additional {
	width: 38%;
}



/* QUANTITY BUTTON */

.quantity-num {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 105px;
    margin: 20px auto;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.quantity-num,
.quantity-num *::selection {
    background: transparent;
}

.quantity-num span {
    display: inline-block;
    width: 34px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
}


.quantity-num span:hover {
    background-color: #dfdfdf;
}

.quantity-num  span:first-child {
    border-radius: 4px 0 0 4px;
}

.quantity-num input {
    width: 40px;
    height: 38px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.quantity-num input::-webkit-outer-spin-button,
.quantity-num input::-webkit-inner-spin-button {
	-webkit-appearance: none;
    margin: 0;
}

.total-cost__head {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
}

.total-cost__wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 15px auto 30px;
    padding: 15px 0px;
    border-top: 1px solid #dddddd;
}

.total-col {
    width: 50%;
}

.total-col__head {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    font-size: 14px;
    text-align: center;
}

.total-col__content span {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}

.default-button {
    display: block;
    padding: 16px 10px;
    border: 1px solid #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
	border-radius: 5px;
}

.cb {
    display: block;
    width: 100%;
    clear: both;
}

.black {
    color: #000;
}

/* ABOUT */

.about-holder {
    display: flex;
}

.about-page {
    width: 75%;    
}

.about-page h1 {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 10px;
}

.about-page h3 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
    font-weight: 500;
}

.about-page p {
    display: block;
    font-size: 18px;
    line-height: 28px;
}

.about-img__block {
    margin-bottom: 30px;
}

.img-holder {
    display: flex;
    justify-content: space-between;
}

.img-holder .about-img {
    width: 48%;
}

.about-img img {
    display: block;
    width: auto;
    max-width: 100%;
    margin-bottom: 10px;
}

.img-description {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #838b96;
}

.about-quote {
    display: block;
    margin-left: 5%;
    margin-bottom: 30px;
    padding-left: 20px;
    border-left: 1px solid #838b96;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}


.error-message {
	display: block;
    font-size: 12px;
    display: block;
    margin-top: 5px;
    color: #ff0000;
	text-decoration: none;
    text-align: center;
}

.customer .error-message,
.contact-person .error-message {
	/*margin-left: 26%;*/
    text-align: center;
}


#errors .error {
	display: block;
	margin-bottom: 10px;
	color: #ff0000;
}

.status-add {
	cursor: pointer;
}

a.modal-result {
	display: block;
    margin: 35px 0px;
    text-align: center;
    color: #008aff;
}

a.modal-result:hover {
	opacity: 0.85;
}


/* 25 years  */ 

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-top: 50px;
}

.logo-holder {
	margin-bottom: 20px;
}

.logo-holder img,
.logo-holder svg {
	display: block;
	width: auto;
	max-width: 250px;
}

.years-holder {
	font-size: 100px;
    line-height: 100px;
    font-weight: bold;
}

.header-text__ru {
	font-size: 16px;
	margin-bottom: 3px;
}

.header-text__ru span {
	white-space: nowrap;
}

.header-text__en {
	font-size: 13.5px;
}


.fb {
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.fb-img {
	margin-right: 15px;
}

.fb-text__ru {
	margin-bottom: 3px;
	font-size: 14px;
}

.fb-text__en {
	font-size: 13px;
}


.fb-img svg {
	display: block;
	width: 25px;
	height: 25px;
}

.fb-img img {
	display: block;
	width: 25px;
	height: 25px;
}

.photo-slider {
	padding: 0px;
	list-style: none;
}

.owl-nav {
	width: 100%;
	position: absolute;
	top: 0;
}

.owl-prev {
	left: 0px;
}

.owl-next {
	right: 0px;
}

.owl-nav img {
	max-height: 175px;
}

.owl-carousel .owl-nav button.owl-next {
	position: absolute;
	padding: 10% 1% 10% 5% !important;
}

.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	padding: 10% 5% 10% 1% !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
	background: transparent;
}

.owl-carousel .owl-item img {
    display: block;
    width: auto;
    height: 600px;
}

.owl-item a {
	display: flex;
	align-items: center;
}

.owl-carousel .owl-nav button {
	top: 1vh;
}

.col-6 {
	padding: 0px 15px;
}

.info-blocks .col-6 {
	padding: 0px;
}

.link-old {
	font-size: 14px;
    color: #008aff;
}

.link-old:hover {
	text-decoration: underline;
}

.old-site__wrapper {
    position: relative;
}

.old-site__wrapper .link-old {
    position: absolute;
    top: -36px;
}
