.brands-list {
    display: flex;
    justify-content: flex-start;
}

.brands-list__tabs {

    display: flex;
    width: 30%;
    padding-right: 20px;
    box-sizing: border-box;
    flex-direction: column;
    padding-bottom: 10px;
    border-right: 2px solid #bdbdbd;
}

.brands-slider {
    width: 70%;
}

.brands-list__tab {
    display: block;
    padding: 10px 5px;

    font-size: 14px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.brands-list__tab:hover {
    background-color: #000;
    color: #fff;
}

.brands-list__tab.active {
    background-color: #000;
    color: #fff;
}

.brands-list__items {
    display: none;
    padding: 0px 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.brands-list__items.active {
    display: flex;
}


.brands-list__item {
    display: flex;
    width: 25%;
	height: 110px;
    margin: 25px 0px;
    padding: 10px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}



.brands-list__item img {
    display: flex;
	align-self: center;
    width: 100%;
    margin: 0 auto;
    filter: grayscale(1);
    transition: 0.8s;
    -webkit-transform: translateZ(0);
}


.brands-list__item:hover img  {
    filter: grayscale(0);
}

.tooltipster-sidetip .tooltipster-content {
	font-size: 12px;
    line-height: 16px;
	color: #000;
}

@media (max-width: 1024px) {
    .brands-list__item {
        width: 25%;
    }

    .brands-list__tabs {
        flex-wrap: wrap;
    }

    .brands-list__tab {
        margin-bottom: 8px;
        padding-bottom: 5px;
        border-bottom: 4px solid transparent;
    }
}

@media (max-width: 768px) {
    .brands-list {
        flex-direction: column;
    }

    .brands-list__tabs {
        width: 100%;
    }

    .brands-slider {
        width: 100%;
    }

    .brands-list__tabs {
        padding-right: 0px;
        border: none;
    }
}

@media (max-width:  680px) {
	.brands-list__item {
        width: 33%;
    }
}

@media (max-width: 480px) {
	.brands-list__item {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .brands-list__item {
        width: 100%;
    }
}