.bx-pagination {
	margin: 10px 0;
}
.bx-pagination .bx-pagination-container {
	text-align: center;
	position: relative;
}

@media (min-width: 420px) {
	.bx-pagination .bx-pagination-container ul {
		width: auto;
		padding: 0;
		margin: 0 auto;
		list-style: none;
		display: inline-block;
		min-width: 250px;
	}
}

.bx-pagination .bx-pagination-container ul li {
	display: inline-block;
	margin: 0 2px 15px 2px;
	min-width: 30px;
	max-width: 85px;
}
.bx-pagination .bx-pagination-container ul li span{
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
       -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    	 -o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    		transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	padding: 0 8px;
	display: block;
	height: 32px;
	min-width: 32px;
	line-height: 32px;
	color: #000;
	font-size: 14px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-pagination .bx-pagination-container ul li a {
	text-decoration: none;
	display: block;
	height: 32px;
	min-width: 32px;
	line-height: 32px;
	color: #444;
	vertical-align: middle;
}
.bx-pagination .bx-pagination-container ul li a:hover span{
	background: #DADADA;
}
.bx-pagination .bx-pagination-container ul li.bx-active span{
	background: #0083d1;
	border-color: #0083d1;
	color: #fff;
}


.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span {
	background: #fff;
	border-color: #DADADA;
	color: #000;
}

.bx-pagination-container li span {
	border-radius: 50%;
	border: 1px solid #d3d5d6;
}

li.bx-pag-prev span, 
li.bx-pag-next span, 
li.bx-pag-all span {
	border-radius: 5px;
	border: 1px solid #d3d5d6;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all {
	display: none;
}
.bx-pagination .bx-pagination-container.more a {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 30px auto;
	padding: 10px 0px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
}

.bx-pagination .bx-pagination-container .bx-pag-form {
	margin-left: 8px;
	position: relative;
}

.bx-page-visibility {
	visibility: hidden;
	width: 2px;
}

.bx-pagination .bx-pagination-container ul .bx-pag-form__link {
	font-weight: 450;
	font-size: 14px;
	width: 55px;
}
label .input-form-value {
	position: relative;
	z-index: 10;
}

.input-form-value {
	border: 1px solid #e5e5e5;
	width: 35px;
	padding: 7px 0;
	border-radius: 4px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	position: absolute;
	z-index: 0;
}

.bx-pagination .bx-pagination-container .bx-pag-form #select_count ul {
	font-size: 14px;
	/*height: 32px;*/
	min-width: 37px;
	line-height: 32px;
	border-radius: 4px;
	border: 1px solid #d3d5d6;
	background-color: transparent;
	text-align: center;
	text-align-last: center;
	outline: none;
	font-weight: 500;
	display: none;
	flex-direction: column;
	position: absolute;
	top: 33px;
	left: -1px;
	padding: 0;
}

.bx-pagination .bx-pagination-container .bx-pag-form #select_count {
	display: flex;
	flex-direction: column;
}

.bx-pagination .bx-pagination-container .bx-pag-form #select_count ul li {
	text-align: center;
	margin-bottom: 0;
	cursor: pointer;
}

.bx-pagination .bx-pagination-container .bx-pag-form #select_count ul li:hover {
	color: #0083d1;
}

.bx-pagination .bx-pagination-container .bx-pag-form #select_count ul li.active {
	display: block;
}

.bx-pagination .bx-pagination-container .bx-pag-form #select_count select option p {
	text-align: center;
}