.in-box {
	margin-top: 5px;
	font-size: 12px;
	color: #7a7a7a;
}

.not-multiples a {
	color: #008aff;
}

.not-multiples > span {
	display: flex;
}

.not-multiples svg {
	display: block;
	width: 10px;
	height: 12px;
	margin-right: 5px;
	margin-left: -15px;
}

.trash, .not-equal--svg {
	fill: #a7a5a6;
}

.card-sidebar__content .in-box.not-multiples {
	padding: 10px 40px 0px;
}



.wholesale {
	margin-top: 20px;
}

.avalibilty {
	display: block;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}

.avalibilty:before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 5px;
	vertical-align: middle;
	color: #13af2c;
	background-color: #13af2c;
	border-radius: 50%;
}

.avalibilty.out:before {
	color: #ff0000;
	background-color: #ff0000;
}

.quantity {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.quantity > span {
	flex-grow: 1;
}

.quantity-items,
.quantity-price {
	font-size: 14px;
}

.quantity-price {
	text-align: right;
}

.quantity .quantity-separator {
	align-self: center;
	flex-grow: 8;
	border-bottom: 1px solid #c6c6c6;
}


form > .price {
	font-size: 30px;
	text-align: center;
}

.add-to-cart {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding: 11px 0px;
	font-size: 16px;
	text-align: center;
	background-color: #008aff;
	color: #fff;
	border-radius: 5px;
}

.card-sidebar__content .add-to-cart .cart-i {
    display: inline-block;
    width: 20px;
	height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    fill: #fff;
}

.card-sidebar__content .btn.inCart .inCart-i {
    display: inline-block;
    width: 20px;
	height: 20px;
    margin-left: 5px;
    vertical-align: middle;
    fill: #fff;
}

.card-sidebar__content .add-to-cart.req {
	margin-top: 20px;
}

.add-to-cart:hover {
	opacity: 0.85;
}

.sidebar-favorite,
.sidebar-question a,
.sidebar-sample {
	display: block;
}

.sidebar-favorite,
.sidebar-question a {
	font-size: 14px;
	text-decoration: none;
}

.sidebar-favorite span {
	display: inline-block;
	vertical-align: middle;
}

.sidebar-favorite span svg {
	width: 17px;
	margin-bottom: -2px;
	fill: #000;
	stroke: #000;
}

.sidebar-favorite,
.sidebar-question {
	margin-bottom: 10px;
}

.sidebar-favorite {
	margin-top: 20px;
}

.sidebar-sample {
	width: 100%;
	max-width: 190px;
	margin: 0px auto;
	padding: 10px 0px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
}

.sidebar-sample:hover {
	opacity: 0.85;
}
.cb {
	clear: both;
}

#modal-add-more.modal {
    max-width: 350px;
	padding: 0px;
}

.more-header {
	display: block;
	margin-bottom: 20px;
	padding: 20px;
	border-bottom: 1px solid #dbdbdb;
	font-size: 25px;
	line-height: 32px;
	text-align: center;
}

.more-text {
    display: block;
    padding: 0px 20px;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
}

.more-text__more {
    display: block;
    padding: 0px 20px;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
}

.more-footer {
	display: block;
	margin-top: 15px;
	padding: 15px 20px 40px;
	border-top: 1px solid #dbdbdb;
}

.modal .more-text__req {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #7f7f7f;
}

.more-footer .sidebar-sample {
	max-width: 290px;
}