

.subscribe-wrapper.open .subscribe-content .personal-data {
    display: block !important;
    max-width: 100% !important;
    width: 91% !important;
    float: inherit;
    margin: 0 auto;
    padding-top: 20px;
}

.subscribe-wrapper .subscribe-content .personal-data {
    display: none;
}

.subscribe-content .personal-data div {
    float: none;
    display: flex;
    text-align: center;
    margin: 15px auto 0px;
    max-width: 800px !important;
}

.subscribe-content .personal-data input[type=checkbox] {
    padding: 0px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin: 0px 10px 0px 0px;
    max-width: 15px;
    height: 15px;
    border: 1px solid #dfdfdf;
}

.subscribe-content .personal-data input[type=checkbox]:checked {
    background-image: url("/local/templates/symmetron_default/images/ok.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 2px;
    padding: 0px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin: 0px 10px 0px 0px;
    max-width: 15px;
    height: 15px;
    border: 1px solid #dfdfdf;
}


.subscribe-content .personal-data div label {
    font-size: 12.5px;
    line-height: 14px;
    color: #909090;
}
