.active-status:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #ff0000;
}

.active-status.ordered:before {
    background-color: #0066ff;
}

.active-status.stock:before {
    background-color: #13af2c;
}

.active-status.order:before {
    background-color: #ff9600;
}

.favorite-table table {
    width: 100%;
    border-collapse: collapse;
}

.favorite-table th {
	white-space: nowrap;
    color: #000;
}


.favorite-table th:nth-child(1) {
    font-weight: bold;
}

.sidebar-favorite a, .sidebar-question a, .sidebar-sample {
    display: block;
}

.favorite-table th, .favorite-table td {
    padding: 10px;
    font-size: 15px;
    line-height: 15px;
    text-align: left;
    border-bottom: 1px solid #bdbfc0;
}

/*.favorite-table a {
    display: block;
    text-decoration: none;
    color: #008aff;
}*/

.favorite-heart {
    display: block;
    width: 26px;
    height: 24px;
    float: right;
}

.favorite-status:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #ff0000;
}

.favorite-status.ordered:before {
    background-color: #0066ff;
}

.favorite-status.stock:before {
    background-color: #13af2c;
}

.favorite-status.order:before {
    background-color: #ff9600;
}


.quantity {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.quantity > span {
    flex-grow: 1;
}

.quantity-items,
.quantity-price {
    font-size: 14px;
}

.quantity-price {
    text-align: right;
}

.quantity .quantity-separator {
    align-self: center;
    flex-grow: 8;
    border-bottom: 1px solid #c6c6c6;
}


.remove-fav {
	display: block;
    width: 20px;
    height: 20px;
    fill: #000;
    stroke: #000;
	cursor: pointer;
}


.disabled {
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
    color: #888;/* цвет текста серый */
}

.add-to-cart {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 11px 0px;
    font-size: 16px;
    text-align: center;
    background-color: #008aff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
	cursor: pointer;
}

.wholesale {
    margin-top: 20px;
}

.sidebar-sample {
    width: 100%;
    max-width: 190px;
    margin: 0px auto;
    padding: 10px 0px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #d4d5d5;
    border-radius: 5px;
    text-decoration: none;
	cursor: pointer;
}

.mini-cart__wrapper .item-more .avalibilty.out {
    margin-bottom: 15px;
    text-align: center;
}
.avalibilty {
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

a.add-to-cart:hover {
    color: #fff;
    opacity: 0.85;
}

.favorite-select a {
    text-decoration: none;
    color: #008aff;
}


@media (max-width: 480px) {
    .favorite-table {
        overflow: auto;
    }

	.favorite-table td:nth-child(3) {
		white-space: nowrap;
	}
}