.filter-bottom { width: 100%; }
.filter-bottom-text { font-size: 16px; }
.filter-show-more { text-align: center; }
a.filter-show-more:hover { color: #000; }
.filter-element-head__number { line-height: 25px !important; }
.modef_show { display: block; margin: 0 auto; }
.filter-checkbox-element.disabled label { color: rgb(144,144,144); }

/*
* 	Result Popup
*
*/
.bx_filter_popup_result{
	font-size:13px;
	font-weight:normal;
	line-height: 1.4;
	position:absolute;
	z-index:930;
	display:none;
	height: 19px;
	margin-top: 0px;
	margin-left:10px;
	padding:0 10px;
	white-space:nowrap;
	color:#3f3f3f;
	border-top:1px solid #c0d6dc;
	border-right:1px solid #c0d7dd;
	border-bottom:1px solid #c0d6dc;
	border-left:1px solid #c0d7dd;
	border-radius:3px;
	background:#fff;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
}

.bx_filter_popup_result .arrow{
	position:absolute;
	top:50%;
	width:8px;
	height:14px;
	margin-top:-7px;
	background:url(images/arr_left.png) no-repeat center;
}
.bx_horizontal .bx_filter_popup_result{
	position: static !important;
	display: inline-block
}
.bx_horizontal .bx_filter_popup_result .arrow{
	display: none;
}

.bx_filter_popup_result.left{right:90%;}
.bx_filter_popup_result.left  .arrow{right:-8px;background:url(images/arr_right.png) no-repeat center;}
.bx_filter_popup_result a{color:#0073a3;}
.bx_filter_popup_result a:hover{text-decoration:none;}
.bx_filter_popup_result_close{display:none;}

@media (max-width:530px){
	.bx_filter_popup_result{
		font-size:12px;
		line-height:14px;
		position:fixed !important;
		z-index:1001;
		top:auto !important;
		right:0 !important;
		bottom:0 !important;
		left:0 !important;
		margin-top: 0;
		margin-left:0;
		width:auto;
		height:auto;
		padding:10px;
		border-radius:0;
		box-shadow:0 -2px 5px 0 rgba(0,0,0,.1);
	}
	.bx_filter_popup_result .arrow{
		display: none;
	}
	.bx_filter_popup_result_close{
		position:absolute;
		top:50%;
		right:10px;
		display:block;
		width:22px;
		height:22px;
		margin-top:-11px;
		background:url(images/x.png) no-repeat center;
		background-size:16px;
	}
}

.news-element-wrapper {    
    padding-right: 50px;
}