.docs {
    margin-top: 50px;
}

.docs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.docs-sections {
    width: 50%;
}

.docs-sections a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 1px solid #b7b7b7;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
}

.docs-sections a > span {
    display: inline-block;
    margin-right: 10px;
}

.docs-sections a > span > svg,
.docs-sections a > span > img {
    display: block;
    width: 20px;
}

.docs-search {
    width: 50%;
}

.docs-serach__wrapper {
    position: relative;
}

.docs-serach__wrapper form {
    display: block;
    width: 100%;
}

.docs-serach__wrapper form input {
    display: block;
    width: 100%;
    padding: 20px 80px 20px 15px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.submit-docsearch {
    display: block;
    width: 65px;
    padding-left: 15px;
    border-left: 1px solid #b7b7b7;
    position: absolute;
    right: 0px;
    top: 18px;
    text-decoration: none;
}

.submit-docsearch svg {
    display: block;
    width: 30px;
    height: 28px;
    fill: #808181;
}

@media (max-width: 960px) {
    .docs-wrapper {
        flex-wrap: wrap;
    }

    .docs-sections, .docs-search {
        width: 100%;
        margin-bottom: 30px;
    }
}