section.breadcrumbs {
	margin-top: 30px;
}

.bx-breadcrumb {
	margin: 10px 0;
	padding: 0px;
}


.bx-breadcrumb i {
	display: none;
}
.bx-breadcrumb .bx-breadcrumb-item {
	display: inline-block;
	margin-bottom: 10px;
	white-space: nowrap;
	line-height: 13px;
	vertical-align: middle;
}
.bx-breadcrumb .bx-breadcrumb-item span {
	font-size: 13px;
	white-space: normal;
}
.bx-breadcrumb .bx-breadcrumb-item a {
	display: inline-block;
    vertical-align: middle;
	border-bottom: none;
}
.bx-breadcrumb .bx-breadcrumb-item a:hover {}
.bx-breadcrumb-item  > a > span:hover {
	color: #008aff;
}

.bx-breadcrumb .bx-breadcrumb-item:after {
	content: '/';
	display: inline-block;
    margin: 0 5px;
	font-size: 13px;
	line-height: 13px;
}

.bx-breadcrumb-item svg {
	display: block;
	width: 16px;
	height: 14px;
}

.bx-breadcrumb .bx-breadcrumb-item:last-child:after {
	display: none;
}


@media (max-width: 768px) {
	.bx-breadcrumb .bx-breadcrumb-item {
		display: none;
	}

	.bx-breadcrumb .bx-breadcrumb-item.parent-crumb {
		display: block;
	}

	.bx-breadcrumb .bx-breadcrumb-item:after {
		display: none;
	}
}