.info-blocks > .wrapper {
    overflow: hidden;
}

.row:before,
.row:after {
    content: '';
    display: block;
    clear: both;
}


.col-6 {
    display: block;
    width: 50%;
    float: left;
}



.col-12 {
    display: block;
    width: 100%;
}

.col-12 .sub-info__item {
    margin-bottom: 10px;
}

.main-info {
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-info__item {
    height: 245px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.date-wrapper {
    padding-top: 20px;
    margin-left: 20px
}

.date-wrapper > div {
    display: inline-block;
    vertical-align: bottom;
}

.num {
    font-size: 50px;
    line-height: 40px;
    font-weight: 100;
    text-align: center;
    color: #222d33;
}

.m-y {
    margin-left: 10px;
}

.m-y span {
    display: block;
    font-size: 16px;
    line-height: 16px;
    text-transform: lowercase;
}

.m-y span:nth-child(1) {
    margin-bottom: 5px;
}

.head-wrapper, .content-wrapper {
    margin-top: 24px;
    padding: 0px 20px;
}

.content-wrapper p {
    max-height: 58px;
    overflow: hidden;
}

.main-info > .head-wrapper > h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    font-weight: normal
}

.bottom-wrapper {
    position: absolute;
    bottom: 15px;
    left: 20px;

}

.tags > a {
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    border: 2px solid #878d90;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
}

.sub-info__item.white {
    background-color: #aab9c1
}

.sub-info__item.white .num,
.sub-info__item.white .m-y span,
.sub-info__item.white .head-wrapper h3,
.sub-info__item.white .content-wrapper p,
.sub-info__item.white h3 > a,
.sub-info__item.white .tags > a {
    color: #fff;
}

.head-wrapper > .small-text {
    font-size: 20px;
    font-weight: bold;
    word-break: break-word;
    line-height: 24px;
}

.sub-info__item > .head-wrapper > h3 {
    font-size: 20px;
    font-weight: bold;
    word-break: break-word;
    line-height: 24px;
}

.col-6:hover h3 {
    color: blue;
}
