.catalog {
    margin-top: 50px;
}

.catalog > .wrapper > h2 {
    margin: 0px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.catalog-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #d3d5d6;
    border-bottom: 1px solid #d3d5d6;
    /*overflow-x: scroll;*/
	overflow-x: auto;
}

.catalog-lvl {
    min-width: 33.333333%;
	max-width: 33.333333%;
    position: relative;
    border-right: 1px solid #d3d5d6;
}

.catalog-lvl ul {
    display: block;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.catalog-lvl > li {
    padding: 5px 40px 5px 20px;
    overflow: hidden;
}

.catalog-item__holder {
    height: 20px;
    position: relative;
}

ul > li > .catalog-item__holder > a {
    display: inline-block;
    max-width: 360px;
    position: relative;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    overflow: hidden;
}

.catalog__item {
    padding: 6px 0px 6px 20px;
	overflow: hidden;
}

ul > li.catalog__item.chars-visible:hover {
    overflow: visible;
}

ul > li.catalog__item.chars-visible > .catalog-item__holder > a:hover {
    max-width: none;
    padding: 5px 10px;
    position: absolute;
    top: -6px;
    left: -11px;
    overflow: visible;
    border-width: 1px;
    border-color: rgb(183, 183, 183);
    border-style: solid;
    border-radius: 5px;
    background: #fff;
    z-index: 10;
}

ul > li.catalog__item.chars-visible.chosen > .catalog-item__holder > a:hover {
    padding: 4px 10px 5px;
    top: -5px;
    background: #727a81;
    border-color: transparent;
}

.active-catalog-lvl ul > li.catalog__item.chars-visible.chosen > .catalog-item__holder > a:hover {
    background: #172430;
}


.catalog-item__holder:not(.endpoint):after  {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    right: 5px;
    top: 3px;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #212121;
    z-index: 6;
}


.catalog-item__holder:before {
    content: '';
    display: block;
    width: 50px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: -2px;
    background-image: url('../images/gradient-white.png');
    background-position: left center;
    background-size: cover;
    z-index: 5;
}

li.catalog__item.chosen > .catalog-item__holder:before {
    background-image: url('../images/gradient-grey.png');
}

.active-catalog-lvl li.catalog__item.chosen > .catalog-item__holder:before {
    background-image: url('../images/gradient-black.png');
}

.catalog__item.chosen > .catalog-item__holder:after {
    border-color: transparent transparent transparent #edeeee;
}

.catalog__item.chosen  > .catalog-item__holder:after {
    border-color: transparent transparent transparent #ffffff;
}

.catalog__item.chosen  > .catalog-item__holder > a {
    color: #edeeef;
}

.catalog__item.chosen {
    background-color: #727a81;
}

.active-catalog-lvl .catalog__item.chosen {
    background-color: #172430;
}

@media (max-width: 768px) {
	.catalog-lvl {
		min-width: 100%;
		max-width: 100%;
	}
}