.pagination > li > a, .pagination > li > span {
    /* position: relative; */
    /* float: left; */
    padding: 0px 0px;
    margin-left: 0;
    /* line-height: 1.42857143; */
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}





