.grayscalemap {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
    -webkit-filter: grayscale(1);
}

.ordering {
    margin-top: 30px;
}

.ordering .wrapper h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 300;
    text-align: center;
}

.ordering-form form {
    display: block;
    width: 100%;
}

.ordering-form form .customer,
.ordering-form form .contact-person,
.ordering-form form .obtaining,
.ordering-form form .place {
    display: flex;
}

.ordering-form form .obtaining {
    flex-direction: column;
}

.obtaining h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.ordering-form form > div {
    margin-bottom: 70px;
}


.ordering-step__content {
    width: 100%;
}

.ordering-step__content > div {
    display: flex;
    flex-direction: column;
}

.ordering-form form > div > .ordering-step__content > div {
    margin-bottom: 30px;
}

.ordering-form form > div > .ordering-step__content > div:last-child {
    margin-bottom: 0px;
}

.ordering-form form > .obtaining > .ordering-step__content > div,
.ordering-form form > .place > .ordering-step__content > div {
    margin-bottom: 15px;
}

.ordering-step__head h3 {
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
}

.ordering-step__content input[type="text"],
.ordering-step__content input[type="tel"],
.ordering-step__content input[type="email"] {
    display: block;
    width: 100%;
    padding: 13px 5px;
    font-size: 18px;
    line-height: 18px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-align: center;
}

.ordering-step__content label {
    font-size: 16px;
    line-height: 16px;
}

.ordering-form form .customer label,
.ordering-form form .contact-person label {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
}

.comment h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}


.ordering-form .comment textarea {
    display: block;
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    resize: none;
    border: 1px solid #dfdfdf;
    min-height: 225px;
    font-size: 16px;
    line-height: 16px;
}

.ordering-form form .submit button {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    float: none;
    border-radius: 5px;
    background-color: #008aff;
    border-color: #008aff;
    color: #fff;
}

.ordering-form form .submit button:hover {
    opacity: 0.85;
}

.transport-company {
    display: none;
}

.transport-company.open {
    display: block;
}

.place.close {
    display: none !important;
}

.transport-company h3 {
    font-size: 20px;
    font-weight: normal;
}

.transport-company > div {
    margin-bottom: 30px;
}

.adress-place {
    display: flex;
    justify-content: space-between;
}

.adress-place > div {
    width: 48.4%;
}

.transport-company > div label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.transport-company > div input[type="text"] {
    display: block;
    width: 100%;
}

.adress-last {
    display: flex;
    justify-content: space-between;
}

.adress-last > div {
    width: 22.8%;
    margin-bottom: 30px;
}

.delivery-input {
    max-width: 300px;
    margin: 0 auto 5px;
}

.ordering-step__content .check-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 15px;
    align-items: center;
}

.contact-info__holder {
    display: flex;
}

.ordering-step__content .contact-info__holder {
    flex-direction: row;
    justify-content: space-between;
}

.contact-info__input {
    width: 30%;
    padding-right: 15px;
}

.contact-info__input:last-child {
    width: 10%;
    padding-right: 0px;
}

.ordering-step__content .suggestions-wrapper a {
    display: none !important;
}

.place > .ordering-step__content {
    display: flex;
    justify-content: space-between;
}

.map-order {
    width: 33%;
}

.yamap-wrapper {
    margin-bottom: 30px;
}

.order-mapWrap {
    display: flex;
}

.map-radio {
    margin: 4px 5px 0px 0px;
}


.order-mapCity {
    margin-bottom: 10px;
    font-size: 24px;
}

.order-mapAdress {
    margin-bottom: 10px;
    font-size: 16px;
}

.order-mapPhone {
    margin-bottom: 10px;
    font-size: 16px;
}

.yamap-wrapper.chosen {
    box-shadow: 0px 0px 20px #9cd2ff;
}


@media (max-width: 1024px) {
    .adress-last {
        flex-wrap: wrap;
    }

    .adress-last > div {
        width: 48.4%;
    }
}


@media (max-width: 768px) {

    .ordering-form form .customer, .ordering-form form .contact-person, .ordering-form form .obtaining, .ordering-form form .place {
        flex-direction: column;
    }

    .ordering-form form > div > .ordering-step__head {
        width: 100%;
    }

    .ordering-form form > div > .ordering-step__content {
        width: 100%;
    }

    .ordering-step__head h3 {
        margin-bottom: 15px;
    }

    .ordering-step__content input[type="text"], .ordering-step__content input[type="tel"], .ordering-step__content input[type="email"] {
        width: 100%;
    }

    .ordering-form form .customer label, .ordering-form form .contact-person label {
        display: block;
        width: 100%;
    }

    .ordering-form form .customer label, .ordering-form form .contact-person label {
        margin-bottom: 15px;
    }

    .ordering-form form > div {
        margin-bottom: 30px;
    }

    .ordering-step__content .contact-info__holder {
        flex-wrap: wrap;
    }

    .contact-info__input {
        width: 50%;
        padding: 0px 10px 10px 10px
    }

    .contact-info__input:last-child {
        width: 50%;
        padding: 0px 10px 10px 10px
    }

    .place > .ordering-step__content {
        display: flex;
        flex-direction: column;
    }

    .map-order {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .adress-place {
        flex-wrap: wrap;
    }

    .adress-place > div {
        width: 100%;
        margin-bottom: 30px;
    }

    .adress-place > div:last-child {
        margin-bottom: 0px;
    }

    .contact-info__input {
        width: 100%;
        padding: 0px 0px 10px 0px
    }

    .contact-info__input:last-child {
        width: 100%;
        padding: 0px 0px 10px 0px
    }
}

.ordering-form .personal-data {
    display: block !important;
    max-width: 100% !important;
    width: 100% !important;
}

.ordering-form .personal-data div {
    float: none;
    display: flex;
    text-align: center;
    margin: 15px auto 0px;
    max-width: 800px !important;
}

.ordering-form .personal-data input[type=checkbox] {
    padding: 0px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0px 10px 0px 0px;
    max-width: 15px;
    height: 15px;
    border: 1px solid #dfdfdf;
}

.ordering-form .personal-data input[type=checkbox]:checked {
    background-image: url("/local/templates/symmetron_default/images/ok.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 2px;
    padding: 0px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0px 10px 0px 0px;
    max-width: 15px;
    height: 15px;
    border: 1px solid #dfdfdf;
}


.ordering-form .personal-data div label {
    font-size: 12.5px;
    line-height: 14px;
    color: #909090;
}

.ordering div.total {
    margin-bottom: 0px !important;
}
