.info-blocks > .wrapper {
    overflow: hidden;
}

.date-wrapper {
    padding-top: 20px;
    margin-left: 20px
}

.date-wrapper > div {
    display: inline-block;
    vertical-align: bottom;
}

.num {
    font-size: 50px;
    line-height: 40px;
    font-weight: 100;
    text-align: center;
    color: #222d33;
}

.m-y {
    margin-left: 10px;
}

.m-y span {
    display: block;
    font-size: 16px;
    line-height: 16px;
    text-transform: lowercase;
}

.m-y span:nth-child(1) {
    margin-bottom: 5px;
}

.head-wrapper, .content-wrapper {
    margin-top: 24px;
    padding: 0px 20px;
}

.head-wrapper > h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    font-weight: normal
}

.bottom-wrapper {
    position: absolute;
    bottom: 15px;
    left: 20px;

}

.tags > a {
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    border: 2px solid #878d90;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
}

.brand__blocks {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
}

.brand__block {
    width: 32.7%;
	margin-right: 10px;
    padding-bottom: 40px;
    position: relative;
    border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
}

.brand__block:nth-child(3n) {
	margin-right: 0px;
}

.brand__block.white {
    background-color: #aab9c1
}

.brand__block.white .num,
.brand__block.white .m-y span,
.brand__block.white .head-wrapper h3,
.brand__block.white .content-wrapper p,
.brand__block.white .bottom-wrapper a,
.brand__block.white h3 > a,
.brand__block.white .tags > a {
    color: #fff;
}


@media (max-width: 960px) {
    .brand-contacts, .brand-manager {
        flex-direction: column;
    }

    .brand-manager__info, .brand-contact:nth-child(1)  {
        margin-right: 0px;
    }

    .docs-wrapper {
        flex-wrap: wrap;
    }

    .docs-sections, .docs-search {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .brand-news__blocks, .brand-events__blocks {
        flex-direction: column;
    }

    .brand-news__block, .brand-events__block {
        width: 100%;
		margin-right: 0px;
        margin-bottom: 30px;
    }

    .additional {
        flex-direction: column;
    }

    .additional .video-block, .additional .text-block {
        width: 100%;
        margin-bottom: 15px;
    }
} 



@media (max-width: 480px) {
    .brand-contacts, .brand-manager {
        width: 100%;
        float: none;
        padding: 0px;
    }

    .brand-contacts {
       padding: 65px 0px 0px;
    }

    .brand-contact {
        margin-bottom: 15px;
    }

    .brand-contact__head, .brand-contact__link {
        text-align: center;
    }
    
    .brand-manager {
        padding-bottom: 30px;
    }
}