.mini-card {
    display: none;
    padding: 55px 15px 15px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}

.mini-card.open td {
    border-top: none;
}

.mini-card .card-holder {
    display: none;
    overflow: visible;
}

.mini-cart__wrapper {
    display: none;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    position: relative;
    background-color: #fff;
    /*border-radius: 5px;*/
}

.mini-card.open {
    display: table-row;
}

.mini-card.open .mini-cart__wrapper {
    display: flex ;
    flex-direction: column;
}

.item-img {
    position: relative;
}

.item-img .favorite {
    display: block;
    position: absolute;
    top: -25px;
    left: -20px;
    cursor: pointer;
    z-index: 40;
}
.purchase-content__item .item-img .favorite,
.sample-content__item .item-img .favorite {
    top: -35px;
    left: 0px;
}

.cardmini-favorite {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	cursor: pointer;
    font-size: 15px;
}

.cardmini-favorite:hover span {
	color: #008aff;
}

.cardmini-favorite svg {
    display: block;
    width: 18px;
    height: 18px;
	margin-right: 10px;
    fill: #000;
    stroke: #000;
    transition: 0.3s;
}

.cardmini-favorite:hover svg {
    fill: #008aff;
    stroke: #008aff;
}

.cardmini-favorite.act span {
	color: #008aff;
}

.cardmini-favorite.act svg {
    fill: #008aff;
    stroke: #008aff;
}

.cardmini-favorite.act svg #fill-heart {
	fill: #008aff;
}

.fav_status {
	line-height: 20px;
}

.item-img .favorite svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: #000;
    stroke: #000;
    transition: 0.3s;
}

.item-img .favorite:hover svg {
    fill: #008aff;
    stroke: #008aff;
    opacity: 0.55;
}

.item-img .favorite:hover svg #fill-heart {
    fill: #008aff;
    opacity: 0.55;
}


.item-img .favorite.act svg {
    fill: #008aff;
    stroke: #008aff;
}

.item-img .favorite.act svg #fill-heart {
    fill: #008aff;
}

#fill-heart {
    fill: transparent;
}


.mini-cart__wrapper .item-img a {
    display: block;
}

.mini-cart__wrapper .item-img img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

.mini-cart__wrapper .item-info {
    width: 72%;
    padding: 0px 20px;
}

@media (min-width: 481px) {
    .item-info {
        border-bottom: 1px solid #f0f0f0;
        border-left: 1px solid #f0f0f0;
    }
}

@media (min-width: 1025px) {
    .item-info {
       /* border-left: 1px solid #f0f0f0;*/
    }
}

@media (min-width: 1550px) {
    .item-info {
        border-bottom: none;
    }
}
.mini-cart__wrapper .item-info a {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 20px;
    color: #008aff;
    text-decoration: none;
    white-space: normal;
}

.mini-cart__wrapper .item-more {
    width: 28%;
    margin-top: 40px;
}

@media (min-width: 768px) {
    .mini-cart__wrapper .item-more {
        margin-top: 0;
    }
}

@media (min-width: 1550px) {
    .mini-cart__wrapper .item-more {
        padding-top: 60px;
    }
}

.mini-cart__wrapper .item-info__content {
    display: flex;
}

.mini-cart__wrapper .avalibilty {
	margin-top: 15px;
}

.mini-cart__wrapper .item-info__content ul {
    padding: 0px;
    margin: 0px 20px 0px 0px;
    list-style: none;
}

.mini-cart__wrapper .item-info__content li {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}

.mini-cart__wrapper .item-more {
    padding: 0px 20px;
}

.item-more .avalibilty:before,
.avalibilty:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 5px;
	vertical-align: middle;
    color: #13af2c;
	border-radius: 50%;
	background-color: #13af2c;
}
.item-more .avalibilty.out:before,
.avalibilty.out:before {
    color: #ff0000;
}

.mini-cart__wrapper .item-more .avalibilty.out {
    margin-bottom: 15px;
    text-align: center;
}

.mini-cart__wrapper .item-more .quantity-num {
    margin: 10px auto;
    float: left;
}

.mini-cart__wrapper .item-more .add-to-cart {
    max-width: 284px;
    margin: 10px auto 20px;
}

.mini-cart__wrapper .item-more .price {
    margin-top: 20px;
    float: right;
    font-size: 18px;
    line-height: 20px;
}

.close-mini {
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/close.png);
    cursor: pointer;
}

.analogue-table .mini-card td {
	padding: 0px;
}

.analogue-table .mini-cart__wrapper {
	margin-top: 0px;
}

.mini-card__select td {
	border-bottom: 1px solid #bdbfc0;
}

/*.mini-card__select td:first-child {
	border-left: 1px solid #bdbfc0;
}

.mini-card__select td:last-child {
	border-right: 1px solid #bdbfc0;
}



.mini-cart__wrapper {
	border: 1px solid #cccccc;
	border-bottom: 0px;
	border-top: 0px;
	border-radius: 5px;
}*/

.mini-cart__wrapper .item-info  .item-info__head {
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 36px;
}

.item-info__type {
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 15px;
	line-height: 30px;
}

.mini-cart__wrapper .item-info .item-info__fullLink {
	/*margin-bottom: 15px;*/
    margin-bottom: 80px;
	font-size: 15px;
	line-height: 30px;
}

.mini-cart__wrapper .add-to-cart svg {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: middle;
	fill: #fff;
}

.item-info__actions {
	/*width: 30%;*/
    width: 60%;
}

.item-info__description {
	width: 70%;
}

.item-info__description, .item-info__inner {
	display: flex;
}

.item-info__inner {
    position: relative;
}

.item-info__description {
    position: absolute;
    top: 40px;
    left: 0;
    height: 40px;
}

@media (min-width: 500px) {
    .item-info__description {
        width: 100%;
        justify-content: space-around;
    }
}

.item-wrapper {
    display: flex;
    padding: 10px 0;
    position: relative;
    z-index: 100;
}

.item-info__question {
    font-size: 15px;
}

.mini-cart__wrapper .item-info .item-info__question .item-info__question-link {
    display: flex;
    align-items: center;
}

@media (min-width: 800px) {
    .mini-cart__wrapper .item-info .item-info__question .item-info__question-link {
        margin-left: 10px;
    }
}

.item-info__question a span {
    margin-right: 2px;
}

.mini-cart__wrapper .item-info .item-info__question a {
	margin-bottom: 15px;
}

.item-info__question svg {
	width: 18px;
	height: 18px;
	margin-right: 5px;
    margin-bottom: -2px;
}

.item-info__question span {
	font-size: 15px;
	vetrical-align: middle;
}

.item-info__text {
	margin-bottom: 15px;
	/*padding: 0px 15px;*/
	box-sizing: border-box;
    width: 100%;
}

.item-sample {
    width: 100%;
    max-width: 190px;
    margin-bottom: 15px;
    padding: 10px 0px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #d4d5d5;
    border-radius: 5px;
}

.item-info__textBold {
	margin-bottom: 5px;
}  Bold span {
	display: block;
	font-size: 15px;
	font-weight: bold;
}

.item-info__textDescrition {
	font-size: 14px;
	line-height: 20px;
}

.mini-cart__wrapper .item-more {
	border-left: 1px solid #f0f0f0;
}

.item-info__img a {
    width: 100px;
    height: 70px;
    margin: 135px auto 30px;
}

@media (min-width: 481px) {
    .item-info__img a {
        margin-top: 0;
    }
}

@media (min-width: 1550px) {
    .item-info__img {
        margin-right: 100px;
    }
}

.item-info__img img {
	display: block;
	width: auto;
	max-width: 130px;
}

@media (min-width: 500px) {
    .item-info__img img {
        display: block;
    }
}

.favorite-select + .mini-card .item-sample {
      height: 40px;
    margin-bottom: 0px;
}

.favorite-select + .mini-card .item-info__fullLink {
    /*margin-bottom: 60px;*/
    margin-bottom: 95px;
}

.favorite-select + .mini-card .item-info .item-info__description {
    /*top: 130px;*/
    top: 158px;
}

.favorite-select + .mini-card .item-info .item-info__description .item-info__textBold {
    margin-top: 10px;
}

.favorite-select + .mini-card .mini-cart__wrapper .item-info {
    width: 50%;
}

.favorite-select + .mini-card .mini-cart__wrapper .item-info .item-info__question {
    padding-top: 10px;
}

.favorite-select + .mini-card.open .mini-cart__wrapper {
    width: 100%;
}

.favorite-select + .mini-card.open .item-more {
    width: 50%;
    padding-top: 30px;
    border-left: 1px solid #f0f0f0;
}

.favorite-select + .mini-card.open .item-more .quancart {
    align-items: flex-start;
    min-width: 300px;
    max-width: 400px;
    /*border-top: none;*/
}

.favorite-select + .mini-card.open .item-more .quancart form {
    width: 230px;
}

.favorite-select + .mini-card.open .item-more .quancart .add-to-cart {
    background-color: #008aff;
    color: #ffffff;
    border: 1px solid #d4d5d5;
    width: 230px;
    padding: 10px 20px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.favorite-select + .mini-card.open .item-more .quancart .add-to-cart svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

@media (min-width: 799px) and (max-width: 900px) {
    .favorite-select + .mini-card .mini-cart__wrapper .item-info {
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 798px) {
    .favorite-select + .mini-card .mini-cart__wrapper .item-info {
        width: 100%;
    }

    .favorite-select + .mini-card.open .item-more {
        width: 68%;
    }
}

@media (min-width: 1350px) {
    .favorite-select + .mini-card.open .card-holder {
        width: 1100px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .favorite-select + .mini-card.open .item-more .quancart .sidebar-sample.qua-no {
        width: 390px;
        max-width: 390px;
    }

    .favorite-select + .mini-card.open .mini-cart__wrapper {
        width: 70%;
    }

    .favorite-select + .mini-card .mini-cart__wrapper .item-info {
        width: 76%;
        border-bottom: none;
        border-left: none;
        height: 100%;
    }

    .favorite-select + .mini-card .mini-cart__wrapper .item-info .item-info__inner {
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
    }

    .favorite-select + .mini-card.open .item-more {
        width: 50%;
    }

    .favorite-select + .mini-card.open .item-more .avalibility {
        height: 40px;
    }

    .favorite-select + .mini-card.open .item-more .quancart {
        max-width: 470px;
    }
}

@media (min-width: 846px) and (max-width: 1349px) {
    .favorite-select + .mini-card.open .card-holder {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 600px;
    }

    .favorite-select + .mini-card.open .item-more .quancart {
        max-width: 541px;
    }

    .favorite-select + .mini-card.open .item-more .quancart .sidebar-sample.qua-no {
        max-width: 390px;
    }

    .favorite-select + .mini-card.open .item-more {
        width: 91%;
    }

    .favorite-select + .mini-card .mini-cart__wrapper .item-info {
        width: 91%;
    }
}

@media (min-width: 545px) and (max-width: 845px) {
    .favorite-select + .mini-card.open .card-holder {
        width: 480px;
        margin: 0 auto;
    }

    .favorite-select + .mini-card.open .item-more .quancart .sidebar-sample.qua-no {
        width: 400px;
        max-width: 400px;
    }

    .favorite-select + .mini-card.open .mini-cart__wrapper {
        width: 100%;
    }

    .favorite-select + .mini-card.open .item-more {
        width: 484px;
        border-left: 1px solid #e9e9e9;
    }

    .favorite-select + .mini-card.open .card-holder {
        display: block !important;
    }

    .favorite-select + .mini-card.open .item-more .quancart {
        flex-direction: row;
        max-width: 473px;
    }
}

@media (min-width:  450px) {
    .favorite-select + .mini-card.open .card-holder {
        margin: 0 auto;
    }

   /* .favorite-select + .mini-card.open .mini-cart__wrapper .item-info {
        border-left: 1px solid #e9e9e9e;
    }*/
}

@media (min-width: 320px) and (max-width: 544px) {
    .favorite-select + .mini-card .mini-cart__wrapper .item-info .item-info__inner {
        display: flex;
        flex-direction: column;
    }

    .favorite-select + .mini-card.open .item-more {
        width: 283px;
    }

    .favorite-select + .mini-card.open .item-more .quancart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .favorite-select + .mini-card.open .item-more .quancart .quantity-holder {
        width: 107px;
    }

    .favorite-select + .mini-card .mini-cart__wrapper .item-info {
        width: 100%;
        padding: 0 0 0 20px;
        border-bottom: none;
        border-left: none;
    }

    .favorite-select + .mini-card .mini-cart__wrapper .item-info .item-info__description {
        width: 100%;
    }

    .favorite-select + .mini-card .mini-cart__wrapper .item-info .item-info__actions {
        width: 100%;
    }

    .favorite-select + .mini-card.open .mini-cart__wrapper {
        width: 283px;
    }

    .favorite-select + .mini-card.open .item-more .avalibilty{
        border-top: 1px solid #e9e9e9;
        padding-top: 15px;
    }

    .favorite-select + .mini-card.open .card-holder {
        width: 253px;
        /*margin: 0 auto;*/
    }

    .favorite-select + .mini-card.open .item-more {
        border-left: none;
    }

    .favorite-select + .mini-card.open .card-holder {
        display: block !important;
    }

    .favorite-select + .mini-card.open .item-more .quancart .sidebar-sample.qua-no {
        font-size: 13px;
        max-width: 228px;
        width: 228px;
        display: block;
    }
}



.favorite-select + .mini-card.open .mini-cart__wrapper .item-info__img {
    display: none;
}

.favorite-select + .mini-card.open .card-holder {
    overflow: visible !important;
}

.favorite-select + .mini-card.open .item-more .quant-inPack {
    border-bottom: none;
}

