.section-info{
    background: #fff;
    text-align: center;
    padding: 0;
    margin: 50px 0 25px 0;
    float: none;
    clear: both;
}

.section-info h1{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: normal;
    color: #000000;
    font-size: 24px;
}

.catalog-section-list{
    width: 100%;
    display: flex;
    /*align-items: center;*/
    align-items: stretch;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    position: relative;
}

.catalog-section-list .product-item-container{
    /*align-self: flex-start;*/
    width: 100%;
    position: relative;
    padding: 0 0 70px 0;
    border-bottom: 1px solid #e8e8e8;
}

.catalog-section-list .product-detail{
    margin: 0;
}

.catalog-section-list .product-detail .product-image{
    padding: 0;
}

.catalog-section-list .product-detail .product-image,
.catalog-section-list .product-detail .item_price{
    border: none;
}

.catalog-section-list .product-detail .item_price .btn.btn-buy,
.catalog-section-list .product-detail .item_price .btn.btn-preorder/*,
.catalog-section-list .product-detail .item_price .item-price*/{
    position: absolute;
    left: 0;
    bottom: 86px;
    right: 0;
}

.catalog-section-list .product-detail .item_price .btn.btn-preorder,
.catalog-section-list .product-detail .item_price .btn.btn-buy{
    bottom: 35px;
    width: 66%;
    margin: 0 auto;
}

.catalog-section-list .product-detail .item_price .btn.btn-buy {
    bottom: 25px;
}

.catalog-section-list .product-detail .item_price .btn.btn-block.btn-large.btn-preorder:hover,
.catalog-section-list .product-detail .item_price .btn.btn-block.btn-large.btn-preorder{
    background: #d9534f;
    border-color: #d43f3a;
    cursor: pointer;
}

.catalog-section-list .product-detail h2,
.catalog-section-list .product-detail h2 a{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.35;
    padding: 0;
    margin: 0;
    color: #202326;
}

.catalog-section-list .product-detail h2{
    display: block;
    padding: 15px 15px 5px 15px;
    height: 37px;
    overflow: hidden;
}

.catalog-section-list .product-item-container .product-image{
    margin: 0;
}

.catalog-section-list .product-detail .item-price{
    min-height: 34px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    color: #2db9dd;
    width: calc(100% - 30px);
    margin: 0;
    padding: 0 15px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.catalog-section-list .product-detail .btn.btn-block.btn-large{
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
    float: none;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    font-weight: normal;
    border-radius: 3px;
    height: auto;
    display: inline-block;
    min-width: 124px;
}

.catalog-section-list .product-detail .item_price{
    margin: 0;
    padding: 0;
}

.blog-page-navigation ul{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    font-size: 0;
    text-align: right;
}

.blog-page-navigation ul li{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 1%;
    width: 48%;
}

.blog-page-navigation ul li > span,
.blog-page-navigation ul li > a{
    text-decoration: none;
    color: #333;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px 12px;
    float: left;
    line-height: 1.42857143;
    width: calc(100% - 24px);
}

.blog-page-navigation ul li.active a{
    background: #31b0d5;
    color: #fff;
}

.blog-page-navigation ul li > span:hover,
.blog-page-navigation ul li > a:hover{
    background: #eee;
}

.blog-page-navigation{
    width: 100%;
    text-align: center;
}

.section-count,
.section-sort{
    position: relative;
}

.section-count select::-ms-expand,
.section-sort select::-ms-expand{
    display: none;
}

.section-count select,
.section-sort select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.section-count option,
.section-count select{
    padding: 8px 25px 8px 12px;
    background: #fff;
    outline: none;
    color: #333;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.section-count .ampstart-input{
    position: relative;
    float: left;
    width: auto;
}

.section-count .ampstart-input:after{
    content: "\f107";
    font: normal normal normal 16px/1 FontAwesome;
    display: block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 2;
    text-indent: 0;
}

.section-count select{
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 34px;
}

#sortform{
    border-bottom: 1px solid #e8e8e8;
}

#sortform #sort{
    display: block;
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    border: none;
    outline: 0;
    color: #202326;
    cursor: pointer;
    height: 40px;
}

#sortform #sort option{
    line-height: 40px;
    font-size: 14px;
    color: #202326;
    height: 40px;
}

#sortform:after{
    content: "\f107";
    font: normal normal normal 18px/1 FontAwesome;
    display: block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 17px;
    top: 12px;
    z-index: 2;
    text-indent: 0;
}

.filters-wrapper{
    margin-top: 40px;
    position: relative;
}

.section-sort{
    font-size: 0;
    width: 100%;
    clear: both;
}

.section-sort .ampstart-input{
    position: relative;
}

body main{
    background: #fff;
    position: relative;
    padding: 0 0 0 0;
}

body .section-info{
    display: none;
}

body .amp-category-list{
    width: 100%;
    margin: 0 0 0 0;
}

body .amp-category-list > section > h4{
    padding-left: 15px;
    font-weight: bold;
}

.blog-page-navigation .hidden-xs{
    display: none;
}

.amp-category-list section h4:before,
.amp-category-list section h4:after{
    right: 18px;
}

.amp-category-list section[expanded] > h4:after{
    right: 22px;
}

.pagination-wrapper{
    padding: 20px 15px 10px 15px;
    background: #f1f1f1;
    overflow: hidden;
    margin: 0;
    width: calc(100% - 30px);
}

.pagination-wrapper > form{
    display: none;
}

.pagination-wrapper > form + div{
    width: 100%;
    float: left;
}

.currently-selected a{
    cursor: pointer;
    background: #e5e5e5;
    margin: 0 0 10px 0;
    display: block;
    line-height: 1;
    padding: 9px 40px 7px 15px;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
}

.currently-selected a:after{
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00d";
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {

    .section-sort .ampstart-input{
        width: calc(100% - 14px);
    }

    .section-sort > label{
        float: none;
        display: block;
    }

    .blog-page-navigation ul li{
        width: calc(50% - 14px);
        text-align: center;
    }

    .blog-page-navigation ul li a{
        width: calc(100% - 30px);
    }

}

@media screen and (max-width: 767px) and (orientation: landscape) {

    .catalog-section-list .product-item-container{
        width: calc(33% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(4n){
        border-right: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){

    .catalog-section-list .product-item-container{
        width: calc(33.333% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(3n){
        border-right: none;
    }

}


@media screen and (min-width: 992px){

    .catalog-section-list .product-item-container{
        width: calc(25% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(4n){
        border-right: none;
    }


}

@media screen and (min-width: 1280px){

    .catalog-section .catalog-section-list .product-item-container{
        width: calc(16.666% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(6n){
        border-right: none;
    }


}

@media screen and (min-width: 1440px){

    .catalog-section .catalog-section-list .product-item-container{
        width: calc(12.5% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(8n){
        border-right: none;
    }

}

#smart_template .cart-icon {
    display: none;
}
