.catalog-filter__list {
    display: block;
    min-width: 300px;
    max-height: 500px;
    white-space: normal;
    border-radius: 5px;

    position: absolute;
    background-color: #fff;
    box-shadow: 0px 12px 13.84px 4.16px rgba(50, 52, 55, 0.1);
    z-index: 101;
}

.catalog-filter__list.hide {
    display: none;
}

.catalog-filter__list .catalog-filter__header {
    padding: 20px;
    position: relative;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
}

.catalog-filter__list .list__wrapper {
    padding: 10px 20px;
    max-height: 212px;
    overflow-y: auto;
}

.catalog-filter__list .list__wrapper.range_measure {
    overflow-y: visible;
}

.catalog-filter__list .list__wrapper.range {
    overflow-y: visible;
}

.range-input__wrapper,
.range-wrapper {
    /*display: flex;*/
    align-items: center;
}

.range-wrapper {
    display: table;
    margin-left: 20px;
    /*margin-bottom: 15px;*/
}

p.error{
    height: 20px;
    margin: 0;
    font-size: 0px;
    color: red;
    text-align: center;
}

.range-wrapper:first-child {
    margin-top: 20px;
    margin-bottom: 5px;
}

.range-wrapper:last-child {
    /*margin-bottom: 20px;*/
    margin-bottom: 0px;
}

.range-wrapper > span {
    display: block;
    width: 25px;
    margin-right: 5px;
}

.range-input__wrapper > input {
    display: block;
    width: 100%;
    max-width: 215px;
    padding: 8px 5px;
    line-height: 25px;
    font-size: 25px;
    text-align: right;
    box-sizing: border-box;
	cursor: text;
}
.range-input__wrapper.measure > input {
    max-width: 120px;
}

.range-value__select {
    display: flex;
    width: 95px;
    padding: 11px 15px;
    position: relative;
    background-color: #ebebeb;
    border-left: 1px solid #dfdfdf;
	align-items: center;
    line-height: 25px;
    box-sizing: border-box;
	cursor: pointer;
}

.range-value__select svg {
    display: block;
    width: 10px;
    height: 22px;
    margin-left: auto;
}

.range-value__select > span {
    font-size: 20px;
}

.range-select__options {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow: 0px 12px 13.84px 4.16px rgba(50, 52, 55, 0.1);
    background-color: #fff;
    z-index: 2;
}

.range-value__select.open .range-select__options {
    display: block;
}

.range-option {
    display: block;
    position: relative;
}

.range-option:hover,
.range-select__options:not(:hover) .range-option.mark {
    background-color: #172430;
}

.range-option:hover span,
.range-option:hover span u,
.range-select__options:not(:hover) .range-option.mark span,
.range-select__options:not(:hover) .range-option.mark span u {
    color: #fff;
}

.range-option input[type=radio] {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:  0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    opacity: 0;
}

.range-option span {
    display: block;
    padding: 11px 10px;
}

.range-input__wrapper {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}

.catalog-filter__list .list__wrapper .catalog-filter__item {
    display: block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
}

.catalog-filter__list .list__wrapper .catalog-filter__item.hideFiltered {
    display: none;
}

.catalog-filter__list .list__wrapper .catalog-filter__item input {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px -2px 0px;
    background-image: url("images/checkbox-false.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
}

.catalog-filter__list .list__wrapper .catalog-filter__item input:checked {
    background-image: url("images/checkbox-true.jpg");
}

.catalog-filter__list .catalog-list__footer {
    border-top: 1px solid #dbdbdb;
}

.catalog-filter__list .catalog-list__footer .tFilter-result {
    margin: 10px auto;
    font-size: 14px;
    color: #7f7f7f;
    text-align: center;
}

.catalog-filter__submit img,
.catalog-filter__submit svg {
    display: block;
    width: 100%;
}

.catalog-filter__submit {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.catalog-filter__search-wrap {
    position: relative;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
}
.catalog-filter__search-wrap.hide {
    display: none;
}

.catalog-filter__search-wrap input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 11px 11px 11px 40px;
    background: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
}

.close-thisFilter {
    display: block;   
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
	cursor: pointer;
    z-index: 2;
}

.close-thisFilter span {
    display: block;
    width: 20px;
    height: 3px;
    position: absolute;
    bottom: 8px;
    border-radius: 5px;
    background-color: #000;
}

.close-thisFilter span:nth-child(1) {
    transform: rotate(45deg);
}

.close-thisFilter span:nth-child(2) {
    transform: rotate(-45deg);
}

.table-filter__submit {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}