.brand-head {
    margin-top: 50px;
    margin-bottom: 50px;
}

.brand-head > .wrapper h1 {
    margin-bottom: 55px;
}

.brand-start {
    display: flex;
	padding-bottom: 15px;
    position: relative;
    width: 100%;
    padding-top: 30px;
}

.brand-logo__holder {
    width: 100%;
    box-sizing: border-box;
}

.brand-mainInfo {
    width: 70%;
    padding-right: 9%;

}

.wrapper .brand-mainInfo > h1 {
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 72px;
}

.distributor {
    width: 24%;
    margin-left: auto;
}

.brand-description__text, .brand-description__more {
    font-size: 16px;
    line-height: 28px;
}




.brand-description__text {
    display: inline-block;
    max-height: 160px;
    overflow: hidden;
    transition: 0.5s;
}

.brand-description.open .brand-description__text {
    height: auto;
    overflow: visible;
}

.brand-description__more {
    display: block;
    margin-top: 12px;
    color: #008aff;
    cursor: pointer;
}

.brand-description .brand-description__more.less {
	display: none;
}

.brand-description.open .brand-description__more.more {
	display: none;
}

.brand-description.open .brand-description__more.less {
	display: block;
}


.distributor-info {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
}

.distributor-support, .distributor-sert {
    display: block;
    margin-bottom: 15px;
}

.distributor-support, .distributor-support a {
    font-size: 14px;
    line-height: 25px;
}

.distributor-support a,
.distributor-sert,
.distributor-sert span {
    font-size: 14px;
    line-height: 25px;
    color: #008aff;
}

.distributor-support .service-item {
	width: 100%;
	white-space: nowrap;
}

.distributor-sert svg {
    display: inline-block;
    width: auto;
    max-width: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

.distributor-sert span {
    display: inline-block;
    vertical-align: middle;
}

.brand-contacts, .brand-manager {
    display: flex;
    width: 45%;
}

.brand-contacts {
    float: left;
    padding: 15px 0px 0px 50px;
}

.brand-manager {
    float: right;
    justify-content: flex-end;
    padding: 15px 50px 0px 0px;
}

.brand-contact:nth-child(1) {
    margin-right: 30px;
}

.brand-contact__head, .brand-contact__link {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    text-decoration: none;
}

.brand-contact__head.black, .brand-contact__link.black {
    color: #000;
}

.brand-logo {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 15px 0px;
}

.brand-logo img {
    display: block;
    width: auto;
    max-width: 100%;
}

.brand-logo__wrapper {
    display: flex;
    width: auto;
    max-width: 104px;
    height: 104px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid #e7e9ea;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;

}

.brand-logo__wrapper img {
    display: block;
    width: 100%;
    max-width: 104px;
    max-height: 100px;
    margin: 0 auto;    
}

.manager-fio {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}

.manager-position {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    text-align: center;
    color: #fff;
}

.manager-fio.black, .manager-position.black {
    color: #000;
}

.brand-manager__info {
    margin-right: 30px;
}

.default-button.ask-manager {
    border-color: #fff;
    color: #fff;
    padding: 16px 35px;
    max-width: 250px;
    margin: 0 auto;
}

.brand-description {
	width: 100%;
	position: relative;
}

.brand-description:after {
	content: '';
	display: block;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.brand-description.open:after {
	display: none;
}

@media (max-width: 768px) {
	.brand-description {
		width: 100%;
	}
}