
.personal-form__data {
    margin-bottom: 30px;
}

.personal-form__data label {
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

.personal-form__data input {
    display: block;
    width: 100%;
    max-width: 350px;
    padding: 11px 5px;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid #000;
}


.pass-notification {
    display: block;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 1px solid #dfdfdf;
}

.personal-form__submit {
    display: flex;
}

.default-button.cancel {
    margin-right: 10px;
}

.default-button.personal-submit {
    background-color: #000;
    color: #fff;
}