.section-info{
    background: #fff;
    text-align: center;
    padding: 0;
    margin: 50px 0 25px 0;
    float: none;
    clear: both;
}

.section-info h1{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: normal;
    color: #000000;
    font-size: 24px;
}

.catalog-section-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    position: relative;
}

.catalog-section-list .product-item-container{
    /*align-self: flex-start;*/
    flex-shrink: 0;
    width: 100%;
    position: relative;
    padding: 0 0 70px 0;
    border-bottom: 1px solid #e8e8e8;
}

.catalog-section-list .product-detail{
    margin: 0;
}

.catalog-section-list .product-detail .product-image{
    padding: 0;
}

.catalog-section-list .product-detail .product-image,
.catalog-section-list .product-detail .item_price{
    border: none;
}

.catalog-section-list .product-detail .item_price .btn.btn-buy,
.catalog-section-list .product-detail .item_price .btn.btn-preorder/*,
.catalog-section-list .product-detail .item_price .item-price*/{
    position: absolute;
    left: 0;
    bottom: 86px;
    right: 0;
}

.catalog-section-list .product-detail .item_price .item-price {
    position: static;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.catalog-section-list .product-detail .item_price .btn.btn-preorder,
.catalog-section-list .product-detail .item_price .btn.btn-buy{
    bottom: 35px;
    width: 66%;
    margin: 0 auto;
}

.catalog-section-list .product-detail .item_price .btn.btn-block.btn-large.btn-preorder:hover,
.catalog-section-list .product-detail .item_price .btn.btn-block.btn-large.btn-preorder{
    background: #d9534f;
    border-color: #d43f3a;
    cursor: pointer;
}

.catalog-section-list .product-detail h2,
.catalog-section-list .product-detail h2 a{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.35;
    padding: 0;
    margin: 0;
    color: #202326;
    white-space: normal;
}

.catalog-section-list .product-detail h2{
    display: block;
    padding: 15px 15px 5px 15px;
    height: 37px;
    overflow: hidden;
}

.catalog-section-list .product-item-container .product-image{
    margin: 0;
}

.catalog-section-list .product-detail .item-price{
    min-height: 34px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    color: #2db9dd;
    width: calc(100% - 30px);
    margin: 0;
    padding: 0 15px;
    text-align: left;
}

.catalog-section-list .product-detail .btn.btn-block.btn-large{
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
    float: none;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    font-weight: normal;
    border-radius: 3px;
    height: auto;
    display: inline-block;
    min-width: 124px;
}

.catalog-section-list .product-detail .item_price{
    margin: 0;
    padding: 0;
}

.blog-page-navigation ul{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    font-size: 0;
    text-align: right;
}

.blog-page-navigation ul li{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 1%;
    width: 48%;
}

.blog-page-navigation ul li > span,
.blog-page-navigation ul li > a{
    text-decoration: none;
    color: #333;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px 12px;
    float: left;
    line-height: 1.42857143;
    width: calc(100% - 24px);
}

.blog-page-navigation ul li.active a{
    background: #31b0d5;
    color: #fff;
}

.blog-page-navigation ul li > span:hover,
.blog-page-navigation ul li > a:hover{
    background: #eee;
}

.blog-page-navigation{
    width: 100%;
    text-align: center;
}

.bx-filter{
    background: #fff;
}

.bx-filter a{
    display: block;
    width: 100%;
    padding: 5px 0 0 0;
    text-decoration: underline;
    cursor: pointer;
}

.bx-filter a.checked{
    font-weight: bold;
}

.bx-filter .tab-content{
    padding: 0 15px 5px 15px;
}

.bx-filter .bx-filter-title{
    display: none;
}

.bx-filter h4{
    padding: 5px 15px;
    margin: 0;
    width: calc(100% - 30px);
}

.section-count,
.section-sort{
    position: relative;
}

.section-count select::-ms-expand,
.section-sort select::-ms-expand{
    display: none;
}

.section-count select,
.section-sort select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.section-count option,
.section-count select{
    padding: 8px 25px 8px 12px;
    background: #fff;
    outline: none;
    color: #333;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.section-count .ampstart-input{
    position: relative;
    float: left;
    width: auto;
}

.section-count .ampstart-input:after{
    content: "\f107";
    font: normal normal normal 16px/1 FontAwesome;
    display: block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 2;
    text-indent: 0;
}

.section-count select{
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 34px;
}

#sortform{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

#sortform #sort{
    display: block;
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    border: none;
    outline: 0;
    color: #202326;
    cursor: pointer;
    height: 40px;
}

#sortform #sort option{
    line-height: 40px;
    font-size: 14px;
    color: #202326;
    height: 40px;
}

#sortform:after{
    content: "\f107";
    font: normal normal normal 18px/1 FontAwesome;
    display: block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 17px;
    top: 12px;
    z-index: 2;
    text-indent: 0;
}

.filters-wrapper{
    margin-top: 40px;
    position: relative;
}

.modal-preorder.bx-filter{
    border-radius: 6px;
    max-width: 600px;
    padding: 0;
}

.modal-preorder.bx-filter .modal-title{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    margin: 0;
    display: block;
}

.modal-preorder.bx-filter .filters-wrapper .button-close-filters{
    top: 22px;
    right: 15px;
}

.modal-preorder.bx-filter .filters-wrapper .btn.btn-block.btn-large{
    width: 66%;
    margin: 20px auto;
    float: none;
    clear: both;
    cursor: pointer;
}

.modal-preorder.bx-filter .result.result-error,
.modal-preorder.bx-filter .result.result-success{
    border-radius: 4px;
    padding: 15px 15px;
    background-color: #d6e9c6;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    margin: 20px 15px 0 15px;
    white-space: normal;
}

.modal-preorder.bx-filter .result.result-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.modal-preorder.bx-filter .filters-wrapper .consent-processing{
    float: none;
    clear: both;
    width: 100%;
}

.modal-preorder.bx-filter .filters-wrapper{
    margin-top: 0;
    padding: 0;
}

.modal-preorder.bx-filter .filters-wrapper input[type="email"],
.modal-preorder.bx-filter .filters-wrapper input[type="text"]{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
    width: calc(100% - 80px);
}

.modal-preorder.bx-filter .filters-wrapper .form-group{
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    margin: 20px 15px 0 15px;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon{
    width: 40px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #eee;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}

.filters-wrapper button.button-open-filters{
    border: none;
    outline: 0;
    background: none;
    text-align: left;
    display: block;
    cursor: pointer;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    background-color: #383838;
    width: 100%;
}

.filters-wrapper button.button-open-filters:after{
    content: "\f0ae";
    font: normal normal normal 16px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    position: absolute;
    top: 12px;
    right: 17px;
}

#filter div.bx-filter{
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}

.filters-wrapper .button-close-filters{
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 5;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-align: center;
}

.section-sort{
    font-size: 0;
    width: 100%;
    clear: both;
}

.section-sort .ampstart-input{
    position: relative;
}

body main{
    position: relative;
    padding: 0 0 0 0;
}

body .section-info{
    display: none;
}

body .amp-category-list{
    width: 100%;
    margin: 0 0 0 0;
}

body .amp-category-list > section > h4{
    padding-left: 15px;
    font-weight: bold;
}

.blog-page-navigation .hidden-xs{
    display: none;
}

.amp-category-list section h4:before,
.amp-category-list section h4:after{
    right: 18px;
}

.amp-category-list section[expanded] > h4:after{
    right: 22px;
}

.pagination-wrapper{
    padding: 20px 15px 10px 15px;
    background: #f1f1f1;
    overflow: hidden;
    margin: 0;
    width: calc(100% - 30px);
}

.pagination-wrapper > form{
    width: 25%;
    float: left;
}

.pagination-wrapper > form + div{
    width: 75%;
    float: left;
}

.catalog-section{
    border-top: 1px solid #e8e8e8;
}

.catalog-section-list .product-item-container{
    background: #fff;
}

html body .catalog-section .catalog-section-list .product-item-container{
    padding-top: 15px;
    margin: 0;
    border-top: 1px solid #e8e8e8;
}

.catalog-section > amp-carousel > div:first-of-type{
    width: 100%;
}

.new-product-title{
    line-height: 1;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    padding: 15px;
}
/*
.catalog-section-list .product-detail .item_price .item-price{
    padding-left: 0;
    padding-right: 0;
}*/

@media screen and (max-width: 767px) {

    html body main .catalog-section-list .product-item-container .product-image{
        padding: 0 20%;
        box-sizing: border-box;
    }

    .section-sort .ampstart-input{
        width: calc(100% - 14px);
    }

    .section-sort > label{
        float: none;
        display: block;
    }

    .blog-page-navigation ul li{
        width: calc(50% - 14px);
        text-align: center;
    }

    .blog-page-navigation ul li a{
        width: calc(100% - 30px);
    }

    .bx-filter{
        padding: 0 15px;
        width: calc(95% - 30px);
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {

    .catalog-section-list .product-item-container{
        width: calc(30% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(4n){
        border-right: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){

    html body main .catalog-section-list .product-item-container .product-image{
        padding: 0 20%;
        box-sizing: border-box;
    }

    .catalog-section-list .product-item-container{
        width: calc(33.333% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(3n){
        border-right: none;
    }

    .bx-filter{
        padding: 0 15px;
        width: calc(95% - 30px);
        margin-top: 15px;
    }
}


@media screen and (min-width: 992px){

    html body main .catalog-section-list .product-item-container .product-image{
        padding: 0 20%;
        box-sizing: border-box;
    }

    .catalog-section-list .product-item-container{
        width: calc(25% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(4n){
        border-right: none;
    }

    .bx-filter{
        padding: 0 15px;
        width: 80%;
        margin-top: 15px;
    }

}

@media screen and (min-width: 1280px){

    .catalog-section .catalog-section-list .product-item-container{
        width: calc(16.666% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(6n){
        border-right: none;
    }


}

@media screen and (min-width: 1440px){

    .catalog-section .catalog-section-list .product-item-container{
        width: calc(12.5% - 2px);
        border-right: 1px solid #e8e8e8;
    }

    .catalog-section-list .product-item-container:nth-of-type(8n){
        border-right: none;
    }

}

.i-amphtml-scrollable-carousel-container  {
    display: flex;
    align-items: stretch;
}

#smart_template .cart-icon {
    display: none;
}
