.catalog-section-header{
	font-size:14px;
	font-weight: bold;
	text-align: left;
	margin:5px 0;
	padding:5px 15px;
	border-bottom: 2px solid #d9dee6;
	color: #000;
	text-decoration: none;
}

.row::before {
	display: initial;
}











/* CARD */

.card {
	margin-top: 30px;
}

.card h1 {
	margin: 0px;
	font-size: 60px;
	font-weight: normal;
	line-height: 60px;
}

.card-wrapper {
	display: flex;
	margin-top: 30px;
}

.card-content {
	width: 75%;
	padding-right: 20px;
}

.card-sidebar {
	width: 25%;
	    background-color: #fff;
    border-radius: 5px;
    z-index: 20;
    transition: 0.5s;
}

.card-nav {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.card-nav li {
	display: inline-block;
	margin-right: 30px;
	padding-bottom: 5px;
	border-bottom: 5px solid transparent;
}

.card-nav li:hover {
	border-bottom: 5px solid #000;
}

.card-nav li:last-child {
	margin-right: 0px;
}

.card-nav li a {
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #262b2e;
}

.card-content > .content-header {
	border-bottom: 1px solid #bdbfc0;
}


.card-content .section-header {
	padding-bottom: 15px;
	border-bottom: 1px solid #d4d5d5;
}

.section-header h2 {
	margin: 0px;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

/* SHORT DESCRIPTION */

.short-description {
	margin-top: 30px;
}

.short-description .section-header {
	display: flex;
	justify-content: space-between;
}

.short-description .section-header h2 {
	width: 50%;
}

.short-description .section-header .section-header__description {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.short-description .section-header .section-header__description span {
	display: block;
	width: 50%;
	margin-bottom: 5px;
	font-size: 12px;
	color: #4c4c4c;
}

.short-description  .section-content {
	display: flex;
	padding-top: 30px;
}

.short-description  .section-content .section-content__image {
	width: 100%;
	max-width: 450px;
}

.short-description  .section-content .section-content__description  {
	padding-left: 60px;
}

.short-description  .section-content .section-content__description ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.short-description  .section-content .section-content__description ul li {
	margin-bottom: 10px;
	font-size: 16px;
}

.card-pager {
	display: flex;
	justify-content: space-between;
	max-width: 450px;
	margin-top: 10px;
}

.card-pager .card-slide {
	display: block;
	padding: 10px;
}

.card-pager .card-slide.active {
	box-shadow: 0px 0px 5px 0px #008aff;
}


.card-pager .card-slide img {
	display: block;
	width: auto;
	max-width: 100%;
}


/* SPECS */

.specs {
	margin-top: 30px;
}

.specs .section-content {
	padding-top: 30px;
}

.spec-item {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.spec-item__name,
.spec-item__value {
	flex-grow: 1;
}

.spec-item__group {
	max-width: 700px;
	margin-bottom: 30px;
}

.spec-item__group .section-content__header {
	margin-bottom: 10px;
	font-weight: bold;
}

.spec-item__separator {
	align-self: center;
	flex-grow: 35;
	border-bottom: 1px solid #c6c6c6;
}

.spec-item__value {
	text-align: right;
}

/* DOCS */

.docs {
	margin-top: 30px;
}

.docs-item {
	margin-bottom: 30px;
}

.docs-item__header {
	margin-bottom: 10px;
}

.docs-item p {
	margin: 0px 0px 8px;
	font-size: 14px;
	line-height: 16px;
}

.docs-item__file {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
}

.google-search {
	margin-bottom: 30px;
}

.google-search a {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}


/* SIDEBAR */

.card-sidebar__content {
	padding: 30px;
	box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.wholesale {
	margin-top: 20px;
}

.avalibilty {
	display: block;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}

.avalibilty:before {
	content: '•';
	display: inline-block;
	margin-right: 5px;
	color: #13af2c;
}

.avalibilty.out:before {
	color: #ff0000;
}

.quantity {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.quantity > span {
	flex-grow: 1;
}

.quantity-items,
.quantity-price {
	font-size: 14px;
}

.quantity-price {
	text-align: right;
}

.quantity .quantity-separator {
	align-self: center;
	flex-grow: 8;
	border-bottom: 1px solid #c6c6c6;
}


form > .price {
	font-size: 30px;
	text-align: center;
}

.add-to-cart {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding: 11px 0px;
	font-size: 16px;
	text-align: center;
	background-color: #008aff;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;

}

a.add-to-cart:hover {
	color: #fff;
	opacity: 0.85;
}

.sidebar-favorite a,
.sidebar-question a,
.sidebar-sample {
	display: block;
}

.sidebar-favorite a,
.sidebar-question a {
	font-size: 14px;
	text-decoration: none;
}

.sidebar-favorite a span {
	display: inline-block;
	vertical-align: middle;
}

.sidebar-favorite a span svg {
	width: 17px;
	margin-bottom: -2px;
	fill: #000;
	stroke: #000;
}

.sidebar-question {
	margin-bottom: 30px;
	cursor: pointer;
}

.sidebar-favorite {
	margin-top: 20px;
	cursor: pointer;
}

.sidebar-question:hover a span {
	color: #008aff;
}

.sidebar-favorite:hover span {
	color: #008aff;
}

.sidebar-question:hover svg, .sidebar-favorite:hover svg {
	fill:  #008aff;
	stroke:  #008aff;
}



.sidebar-sample {
	width: 100%;
	max-width: 190px;
	margin: 0px auto;
	padding: 10px 0px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
	text-decoration: none;
}

.sidebar-sample:hover {
	background-color:  #d4d5d5;
}



/* analogue */

.analogue {
	padding-top: 30px;
}

.current-product {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.analogue .section-content {
	margin-top: 30px;
}



.analogue-table__holder .left-side {
	float: left;
	background-color: #fff;
}


/* .analogue-table__holder {
    overflow-x: scroll;
    white-space: nowrap;
} */

.analogue-table {
	width: 100%;
	border-collapse: collapse;
}


.analogue-table th {
	padding: 10px;
	font-size: 15px;
	line-height: 15px;
}

.analogue-table td {
	padding: 10px;
	font-size: 15px;
	line-height: 15px;
	border-top: 1px solid #bdbfc0;
}

.mini-card.open td {
	border-top: none;
}

.analogue-table th {
	text-align: left;
	white-space: nowrap;
	font-weight: normal;
}

.analogue-table td:first-child,
.analogue-table th:first-child,
.analogue-table td:first-child > a,
.analogue-table th:first-child > a {
	text-decoration: none;
	color: #008aff;
}

.analogue-table__holder .left-side th {
	color: #000;
}

.analogue-table__holder .right-side th {
	font-weight: normal;
}

.analogue-status {
	display: block;
}

.analogue-table .sort-val-up, .analogue-table .sort-val-down {
	font-weight: bold;
}

.analogue-status:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 5px;
	background-color: #ff0000;
}

.analogue-status.ordered:before {
	background-color: #0066ff;
}

.analogue-status.stock:before {
	background-color: #13af2c;
}

.analogue-status.order:before {
	background-color: #ff9600;
}

.analogue-table th:after, .table-filter__sorting:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	margin-top: 2px;
	margin-left: 7px;
	border-style: solid;
	border-width: 5.5px 4px 0 4px;
	border-color: #373b44 transparent transparent transparent;
}

.analogue-table th.sort-val-down:after, .table-filter__sorting.sort-val-down:after {
	transform: rotate(180deg);
}

.analogue-table th:first-child:after {
	display: none;
}







button.show-all {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 30px auto;
	padding: 10px 0px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d4d5d5;
	border-radius: 5px;
}

.industry-solutions {
	padding: 30px 15px 60px;
	border-top: 1px solid #bdbfc0;
	border-bottom: 1px solid #bdbfc0;
}

.industry-solutions .solutions {
	display: flex;
	width: 100%;
	margin-top: 20px;
	justify-content: space-between;
}

.industry-solutions .solutions .solution {
	display: block;
	width: 32.5%;
	height: 300px;
	padding: 20px 13px;
	overflow: hidden;
	border-radius: 5px;
	text-decoration: none;
	background-color: #53545a;
	background-repeat: no-repeat;
	background-size: cover;
}

.industry-solutions .solutions .solution span {
	display: block;
	color: #fff;
}

.industry-solutions .solutions .solution.black span {
	color: #000;
}

.solution-header {
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 34px;
}

.solution-content {
	font-size: 16px;
}

.industry-solutions .solutions .solution.solution-1 {
	background-image: url(../images/industrial1.png);
}

.industry-solutions .solutions .solution.solution-2 {
	background-image: url(../images/industrial2.png);
}

.industry-solutions .solutions .solution.solution-3 {
	background-image: url(../images/industrial3.png);
}
/* RANGE SLIDER*/

.items-choise__range {
	height: 75px;
	padding-top: 25px;
	position: relative;
}

.irs-line {
	max-width: 94%;
	height: 5px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #bdbfc0;
}

.irs-to {
	top: -25px;
}

/*.irs-to:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -25px;
	right: -6px;
	border-style: solid;
	border-width: 0 7.5px 15px 7.5px;
	border-color: transparent transparent #000000 transparent;
}*/

.irs-from {
	top: 10px;
}

/*.irs-from:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: -23px;
	right: -3px;
	border-style: solid;
	border-width: 15px 7.5px 0 7.5px;
	border-color: #000000 transparent transparent transparent;
}*/

.irs-single {
	top: -40px;
}

.default-button.add-filter__unit {
	min-width: 235px;
	margin: 0 auto;
	padding: 11px;
	border-radius: 5px;
}

.range-from, .range-to {
	display: none;
}


.table-filter__selector {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	vertical-align: bottom;
}

.table-filter__sorting {
	display: inline-block;
	font-weight: normal;
}

.items-selector2 {
	display: block;
	cursor: pointer;
}

.items-selector2 svg {
	display: block;
	width: 16px;
	height: 16px;
	fill: #727272;
}

.table-filter__list {
	display: none;
	position: absolute;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 12px 13.84px 4.16px rgba(50, 52, 55, 0.1);
	z-index: 35;
}

.table-filter__selector.open .table-filter__list {
	display: block;
	min-width: 300px;
	max-height: 300px;
	white-space: normal;
	overflow: auto;
}

.table-filter__item {
	display:block;
	margin-right: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}

.table-filter__item input {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 5px -2px 0px;
	background-image: url(/local/templates/symmetron_default/images/checkbox-false.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0px;
	-webkit-appearance: none;
	appearance: none;
}

.table-filter__item input:checked {
	background-image: url(/local/templates/symmetron_default/images/checkbox-true.jpg);
}

.sidebar-favorite.act svg {
	fill: #008aff;
	stroke: #008aff;
}

.sidebar-favorite.act svg:hover {
	fill: #008aff;
	stroke: #008aff;
	opacity: 0.55;
}


@media (min-width: 1200px){
	/*lg*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-md-2:nth-child(6n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6  > .row > .col-md-4:nth-child(3n+1),
	.product-item-list-col-6-1 > .col-sm-6  > .row > .col-md-4:nth-child(3n+1),
		/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-md-3:nth-child(4n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
		/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
		/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
		/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (min-width: 992px) and (max-width:1199px){
	/*md*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-md-2:nth-child(6n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 > .row > .col-md-4:nth-child(3n+1),
	.product-item-list-col-6-1 > .col-sm-6 > .row > .col-md-4:nth-child(3n+1),
		/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-md-3:nth-child(4n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
		/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
		/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
		/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (min-width: 768px) and (max-width: 991px){
	/*sm*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
		/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
		/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
		/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
		/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (max-width: 767px){
	/*xs*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
		/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
		/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
		/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
		/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}



@media (max-width: 960px) {
	.card-wrapper {
		flex-direction: column;
	}

	.card-content {
		width: 100%;
	}

	.card-sidebar {
		width: 100%;
		max-width: 300px;
		margin: 0 auto 15px;
	}

	.industry-solutions .solutions .solution span {
		overflow: hidden;
	}

}
@media (max-width: 768px) {
	.card h1 {
		font-size: 24px;
		line-height: 24px;
	}

	.section-header h2 {
		font-size: 18px;
		line-height: 18px;
	}

	.card-nav li a {
		font-size: 14px;
		line-height: 14px;
	}

	.card-wrapper {
		margin-top: 15px;
	}

	.short-description {
		margin-top: 15px;
	}

	.short-description .section-header .section-header__description span {
		padding-right: 5px;
	}

	.short-description .section-header {
		flex-direction: column;
	}

	.short-description .section-header h2 {
		width: 100%;
		margin-bottom: 15px;
	}

	.short-description .section-header .section-header__description {
		width: 100%;
	}

	.short-description .section-content .section-content__image {
		width: 50%;
		max-width: none;
	}

	.short-description .section-content .section-content__description {
		width: 50%;
		padding-left: 15px;
	}

	.analogue-table th, .analogue-table td {
		font-size: 12px;
	}


    .card-sidebar {
        transform: translateY(100px);
    }

 .card-sidebar__content {
        padding: 10px;
        box-shadow: none;
    }

    .showFull .card-sidebar__content {
        padding: 30px;
    }

    .showFull .card-sidebar__content {
        box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1); 
    }

    .card-sidebar.js-is-sticky {
        max-width: none;
        top: auto !important;
        bottom: 0px;
        transform: translateY(0px);
    }

	.card-sidebar.js-is-stuck {
		transform: translateY(0px);
		max-width: none;
	}

    .card-sidebar.js-is-sticky .avalibilty,
    .card-sidebar.js-is-sticky .wholesale,
    .card-sidebar.js-is-sticky .quantity-num,
    .card-sidebar.js-is-sticky .price,
    .card-sidebar.js-is-sticky .sidebar-favorite,
    .card-sidebar.js-is-sticky .sidebar-question,
    .card-sidebar.js-is-sticky .sidebar-sample {
        display: none;
    }

    .card-sidebar .avalibilty,
    .card-sidebar .wholesale,
    .card-sidebar .quantity-num,
    .card-sidebar .price,
    .card-sidebar .sidebar-favorite,
    .card-sidebar .sidebar-question,
    .card-sidebar .sidebar-sample {
        display: none;
    }

    .card-sidebar.js-is-sticky.showFull .avalibilty,
    .card-sidebar.js-is-sticky.showFull .wholesale,
   
    .card-sidebar.js-is-sticky.showFull .price,
    .card-sidebar.js-is-sticky.showFull .sidebar-favorite,
    .card-sidebar.js-is-sticky.showFull .sidebar-question,
    .card-sidebar.js-is-sticky.showFull .sidebar-sample {
        display: block;
    }

    .card-sidebar.js-is-sticky.showFull .quantity-num {
        display: flex;
    }

    

    .card-sidebar.js-is-sticky .add-to-cart {
        margin: 0 auto;
    }

    .card-sidebar.showFull.js-is-sticky .add-to-cart {
        margin: 30px auto 0px;
    }


    .card-sidebar.showFull .close-sidebar {
        display: block;
    }



}
@media (max-width: 480px) {

	.card-nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.card-nav li {
		width: 50%;
		margin-right: 0px;
		padding-bottom: 0px;
	}

	.short-description .section-content {
		flex-direction: column;
		padding-top: 15px;
	}

	.short-description .section-content .section-content__image {
		width: 100%;
		margin-bottom: 15px;
	}

	.short-description .section-content .section-content__description {
		width: 100%;
		margin-bottom: 15px;
		padding-left: 0px;
	}

	.industry-solutions .solutions {
		flex-direction: column;
	}

	.industry-solutions .solutions .solution {
		width: 100%;
		margin-bottom: 15px;
	}

	.analogue-table th, .analogue-table td {
		font-size: 10px;
	}

}