.copyright {
    width: 100%;
    position: relative;
}

.copyright-link {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    width: 225px;
   /* background-color: #000000;*/
    height: 30px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-end;
}

.copyright-link span {
    line-height: 13px;
    font-size: 14px;
}

.copyright-link img {
    width: 110px;
    height: 26px;
   /* background-color: #000000;*/
}

@media (min-width: 481px) {
    .copyright {
        width: 50%;
    }
    .copyright-link {
        position:absolute;
        margin: 5px 0 20px;
        right: 50%;
        width: 228px;
        transform: translateX(50%);
    }
}

@media (min-width: 769px) {
    .copyright-link {
        margin-top: 0;
        transform: none;
        right: 0;
        left: 10%;
        top: -15px;
    }

    .old-site__wrapper .link-old {
        top: 0;
    }
}

@media (min-width: 1025px) {
    .copyright .copyright-link {
       margin-top: 22px;
        left: 3%;
    }

    .copyright {
        left: -7px;
    }
}

.title-page {
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    margin: 0 auto 23px;
    width: 100%;
    max-width: 1200px;
    padding-left: 10px;
}

.page-text {
    margin: 0 auto 23px;
    width: 100%;
    max-width: 1200px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 22px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .title-page {
        font-size: 28px;
        line-height: 32px;
        width: 80%;
        margin-left: 0px;
    }

    .page-text {
        width: 95%;
        padding-left: 0;
    }

    .wrapper.wrapper-new {
        /*max-width: 1024px;*/
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .title-page {
        font-size: 28px;
        line-height: 32px;
    }

    .page-text {
        width: 95%;
        padding-left: 0;
    }
}

.news {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}

.news-element {
    margin-bottom: 40px;
}

.news__title {
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 23px;
}

.news-element__date {
    color: rgb(25,25,25);
    font-size: 14px;
    line-height: 18px;
}

.news-elements__title {
    font-size: 24px;
    line-height: 30px;
    margin: 5px 0px;
    font-weight: 500;
}

.cloud-tags__link {
    color: rgb(144,144,144);
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
    position: relative;
}

.cloud-tags__link::after {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    display: block;
    border-radius: 100%;
    background-color: rgb(144,144,144);
    right: -8px;
    top: 5px;
}

.cloud-tags__link:last-child::after {
    display: none;
}

.cloud-tags {
    display: flex;
    flex-wrap: wrap;
}

.news-elements__text {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 28px;
    /*width: 70%;*/
    width: 100%;
}

.show-more-news {
    color: rgb(1,127,219);
}

.filter.filter-news {
    display: none;
    position: relative;
    box-shadow: 0 0 15px 0px #cdcdcd;
    /*margin-left: -10px;*/
    padding: 15px 15px 0;
    max-width: 360px;
    /*margin: 0 auto;*/
    margin-left: -10px;
    margin-bottom: 15px;
}

.filter.filter-article {
    display: none;
    position: relative;
    box-shadow: 0 0 15px 0px #cdcdcd;
    /*margin-left: -10px;*/
    padding: 15px 15px 0;
    max-width: 360px;
    /*margin: 0 auto;*/
    margin-left: -10px;
    margin-bottom: 15px;
}

.filter-head {
    border-bottom: 1px solid rgb(184,188,192);
    padding: 0px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filter-head p {
    text-align: center;
    margin: 0;
    position: relative;
}

.filter-head__button {
    width: 11px;
    height: 6px;
    background-image: url("/local/templates/symmetron_default/images/burger.png");
    background-size: 100%;
    display: block;
    margin-top: 2px;

    margin-right: 5px;
    cursor: pointer;
}

.filter-head__button.filter-head__button--open {
    background-image: url("/local/templates/symmetron_default/images/plus.svg");
    transform: rotate(45deg);
    height: 11px;
    margin-top: 0px;
}

.filter-element-head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-wrapper {
    background-color: #ffffff;
    width: 100%;   
}

.filter-element-head .filter-element-head__button {
    width: 11px;
    height: 11px;
    background-image: url("/local/templates/symmetron_default/images/plus.svg");
    background-size: 100%;
    display: block;
    margin-right: 10px;
    cursor: pointer;
}

.filter-element-head .filter-element-head__button.filter-element-head__button--close {
    background-image: url("/local/templates/symmetron_default/images/minus.svg");
}

.filter-element-head p {
    margin: 0;
}

.filter-element-head .filter-element-head__close {
    width: 11px;
    height: 11px;
    background-image: url("/local/templates/symmetron_default/images/plus.svg");
    background-size: 100%;
    display: block;
    transform: rotate(45deg);
    margin: 0 10px;
    cursor: pointer;
}

.filter-element-head__number {
    margin-left: auto;
}

.filter-element-head__number {
    color: #ffffff;
    background-color: rgb(131,138,145);
    border-radius: 100%;
    width: 23px;
    height: 23px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

.filter-element {
    border-bottom: 1px solid rgb(184,188,192);
    padding: 10px 0px 0px;
}

.filter-show-more {
    border: 1px solid rgb(184,188,192);
    border-radius: 3px;
    font-size: 15px;
    line-height: 17px;
    margin: 11px auto;
    display: block;
    padding: 8px 0;
    width: 220px;
}

.filter-bottom {
    display: flex;
    justify-content: center;
    align-items:center;
}

.filter-bottom-close {
    width: 11px;
    height: 11px;
    background-image: url("/local/templates/symmetron_default/images/plus-red.svg");
    background-size: 100%;
    display: block;
    transform: rotate(45deg);
    margin: 0 7px;
}

.filter-bottom-text {
    color: rgb(155,36,12);
    margin: 0;
    cursor: pointer;
}

.filter-checkbox-element {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.filter-checkbox-element:last-child {
    margin-bottom: 10px;
}

.filter-checkbox-element input {
    border: 1px solid rgb(184,188,192);
    width: 15px;
    height: 15px;
    margin-right: 10px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    position: absolute;
    opacity: 0;
}

.filter-checkbox-element input + label {
    position: relative;
    padding-left: 27px;
}

.filter-checkbox-element input + label::before {
    content: "";
    display: block;
    border: 1px solid rgb(184,188,192);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 4px;
}

.filter-checkbox-element input:checked + label::before {
    background-image: url("/local/templates/symmetron_default/images/checkbox-true.jpg");
    background-size: 100%;
}

.filter-element-search {
    border: 1px solid rgb(184,188,192);
    margin-left: 20px;
    padding: 5px;
    width: 90%;
    margin-bottom: 10px;
    display: none;
}

.filter-checkbox-element label {
    font-size: 14px;
    line-height: 16px;
}

.filter-checkbox-list {
    margin-left: 16px;
    display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
    .show-more-news {
        display: none;
    }
    .filter.filter-news {
        display: block;
    }

    .filter.filter-article {
        display: block;
    }

    .news__title {
        font-size: 28px;
        line-height: 32px;
    }

    .news-element {
        margin-bottom: 20px;
        width: 95%;
    }

    .news-element__date {
        font-size: 12px;
        line-height: 16px;
    }

    .news-elements__title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
    }

    .news-elements__text {
        width: 90%;
        font-size: 14px;
        line-height: 20px;
    }

    .cloud-tags__link {
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .news {
        position: relative;
    }
    .show-more-news {
        display: none;
    }
    .filter.filter-news {
        display: block;
        position: absolute;
        right: 40px;
        top: 0px;
        width: 300px;
        background-color: #ffffff;
        z-index: 100;
    }

    .filter.filter-article {
        display: block;
        position: absolute;
        right: 40px;
        top: 0px;
        width: 300px;
        background-color: #ffffff;
        z-index: 100;
    }

    .news__title {
        font-size: 28px;
        line-height: 32px;
    }

    .news-element {
        margin-bottom: 20px;
        width: 95%;
    }

    .news-element__date {
        font-size: 12px;
        line-height: 16px;
    }

    .news-elements__title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
    }

    .news-elements__text {
        width: 90%;
        font-size: 14px;
        line-height: 20px;
    }

    .cloud-tags__link {
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 12px;
    }
}

/*стили для статьи*/
.articles {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}

.articles-element {
    margin-bottom: 40px;
}

.articles__title {
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 28px;
}

.articles-element-head {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.articles-element-head li {
    position: relative;
    margin-right: 15px;
    font-size: 12px;
    line-height: 14px;
}

.articles-element-head li::after {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    display: block;
    border-radius: 100%;
    background-color: rgb(25,25,25);
    right: -8px;
    top: 5px;
}

.articles-element-head li:last-child::after {
    display: none;
}

.articles-element-head__date {
    color: rgb(25,25,25);
}

.articles-element__title {
    font-size: 24px;
    line-height: 30px;
    margin: 9px 0px 9px;
    font-weight: 500;
}

.cloud-tags__link {
    color: rgb(144,144,144);
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
    position: relative;
}

.cloud-tags__link::after {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    display: block;
    border-radius: 100%;
    background-color: rgb(144,144,144);
    right: -8px;
    top: 5px;
}

.cloud-tags__link:last-child::after {
    display: none;
}

.cloud-tags {
    display: flex;
    flex-wrap: wrap;
}

.articles-element__text {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 28px;
    width: 70%;
}

.articles-element-head__link > a,
.articles-element-head__author > a {
    color: rgb(1,127,219);
}

@media (min-width: 768px) and (max-width: 1200px) {
    .articles {
        position: relative;
    }
    .articles__title {
        font-size: 28px;
        line-height: 32px;
    }

    .articles-element {
        width: 95%;
    }

    .articles-element-head {
        flex-wrap: wrap;
        width: 290px;
    }

    .articles-element-head li::after {
        display: none;
    }

    .articles-element-head li:first-child::after {
        display: block;
    }

    .articles-element-head li {
        margin-bottom: 6px;
    }

    .articles-element__title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
    }

    .articles-element__text {
        width: 90%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .articles__title {
        font-size: 28px;
        line-height: 32px;
    }

    .articles-element {
        width: 95%;
    }

    .articles-element-head {
        flex-wrap: wrap;
        width: 290px;
    }

    .articles-element-head li::after {
        display: none;
    }

    .articles-element-head li:first-child::after {
        display: block;
    }

    .articles-element-head li {
        margin-bottom: 6px;
    }

    .articles-element__title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
    }

    .articles-element__text {
        width: 90%;
    }
}

/*стили для мероприятий*/
.events {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}

.events__title {
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 48px;
}

.event-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 65px;
}

.event-date {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    width: 16%;
    overflow: hidden;
    flex-shrink: 0;
}

.event-date__month {
    background-color: rgb(1, 127, 219);
    padding: 13px 0;
}

.event-date__month p {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-size: 21px;
    line-height: 24px;
}

.event-date__day {
    background-color: rgb(246,246,246);
    min-height: 140px;
    position: relative;
}

.event-date__day span {
    text-align: center;
    font-size: 52px;
    line-height: 60px;
    font-weight: 300;
    display: block;
}

.event-date__day-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event-description {
    width: 49%;
    margin-left: 42px;
}

.event-description__name {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.event-description__text {
    font-size: 16px;
    line-height: 29px;
    margin: 4px 0 10px;
}

.event-address {
    width: 23%;
    margin-left: 40px;
}

.event-address__city {
    margin-top: 17px;
    display: block;
    font-size: 16px;
    line-height: 20px;
}

.event-address__place {
    display: block;
    margin-top: 3px;
    font-size: 14px;
    line-height: 23px;
}

.event-address__phone {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
}

.event-address__price {
    position: relative;
    margin: 9px 0 0 20px;
    font-size: 14px;
    line-height: 20px;
}

.event-address__price::before {
    content: "";
    width: 13px;
    height: 15px;
    display: block;
    position: absolute;
    /*background-image: url("/local/templates/symmetron_default/images/costs.svg");*/
    background-image: url("/local/templates/symmetron_default/images/costs.svg");
    top: 3px;
    left: -18px;
}

.event-address__reg {
    position: relative;
    margin: 7px 0 0 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(1,127,219);
    display: block;
}

.event-address__reg::before {
    content: "";
    width: 13px;
    height: 16px;
    display: block;
    position: absolute;
    /*background-image: url("/local/templates/symmetron_default/images/costs.svg");*/
    background-image: url("/local/templates/symmetron_default/images/apply.svg");
    top: 3px;
    left: -18px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .events__title {
        font-size: 28px;
        line-height: 32px;
        width: 90%;
    }

    .event-item {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .event-date {
        width: 250px;
        margin-right: 20px;
    }

    .event-description {
        margin-left: 0px;
        width: 50%;
    }

    .event-description__name {
        font-size: 22px;
        line-height: 26px;
        font-weight: 300;
    }

    .event-address {
        width: 66%;
        margin-left: 270px;
    }

    .event-address__city {
        font-weight: bold;
    }

    .event-address__place {
        width: 75%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .events__title {
        font-size: 28px;
        line-height: 32px;
        width: 90%;
    }

    .event-item {
        flex-direction: column;
    }

    .event-date {
        width: 300px;
    }

    .event-description {
        margin-left: 0px;
        width: 90%;
    }

    .event-description__name {
        font-size: 22px;
        line-height: 26px;
        font-weight: 300;
    }

    .event-address {
        width: 85%;
        margin-left: 0px;
    }

    .event-address__city {
        font-weight: bold;
    }
}


/*ссылка на каталог*/
.links {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}
.catalog-link {
    color: rgb(1,127,219);
    font-size: 24px;
    line-height: 30px;
    position: relative;
}

.catalog-link::before {
    content: "";
    width: 37px;
    height: 12px;
    display: block;
    position: absolute;
    background-image: url("/local/templates/symmetron_default/images/arrow-long.svg");
    top: 10px;
    right: -43px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .catalog-link {
        font-size: 16px;
        line-height: 20px;
    }

    .catalog-link::before {
        width: 31px;
        height: 10px;
        top: 6px;
        right: -40px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .catalog-link {
        font-size: 16px;
        line-height: 20px;
    }

    .catalog-link::before {
        width: 31px;
        height: 10px;
        top: 6px;
        right: -40px;
    }
}

/*стили для блока документов*/
.documents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}

.documents__title {
    font-weight: normal;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 0px;
    font-weight: 300;
}

.document-control {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("/local/templates/symmetron_default/images/plus.svg");
    cursor: pointer;
}

.document-control.document-control--open {
    background-image: url("/local/templates/symmetron_default/images/minus.svg");
}

.documents-head {
    display: flex;
    align-items: flex-end;
    width: 74%;
    border-bottom: 1px solid rgb(189,191,192);
    justify-content: space-between;
    padding-bottom: 15px;
}

.docs-item__head {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.document-list-element {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.document-element,
.document-char{
    display: flex;
    margin: 0;
    padding: 0;
}

.document-element > a {
    margin-right: 17px;
    position: relative;
    color: rgb(144,144,144);
}

.document-element > a::after {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    display: block;
    border-radius: 100%;
    background-color: rgb(144,144,144);
    right: -13px;
    top: 7px;
}

.document-char span {
    margin-right: 12px;
    position: relative;
    color: rgb(144,144,144);
}

.document-char span::after {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    display: block;
    border-radius: 100%;
    background-color: rgb(144,144,144);
    right: -8px;
    top: 7px;
}

.document-char span:last-child::after {
    display: none;
}

.documents-head-show {
    color: rgb(1,127,219);
    font-size: 14px;
    cursor: pointer;
}

.docs-item__head-name {
    margin: 20px 0 0 10px;
    font-size: 24px;
    line-height: 30px;
}

.docs-item {
    border-bottom: 1px solid rgb(189,191,192);
    padding-bottom: 12px;
}

.document-control {
    margin-top: 15px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.document-list {
    margin-left: 25px;
    display: none;
}

.document-list.document-list--open {
    display: block;
}

.document-list-element > a > img {
    background-size: 100%;
    width: 35px;
    height: 50px;
    margin-right: 14px;
}

.document-list-element-wrapper {
    display: flex;
    flex-direction: column;
    color: rgb(144,144,144);
}

.document-element .document-element__name {
    color: rgb(1,127,219);
}

.document-element__lang {
    font-size: 14px;
    line-height: 16px;
}

.document-element__date,
.document-element__format,
.document-element__weight,
.document-element__lang{
    font-size: 14px;
    line-height: 18px;
    color: rgb(144,144,144);

}

.docs-wrapper {
    width: 74%;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .documents__title {
        font-size: 28px;
        line-height: 32px;
    }

    .documents-head {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
        max-width: 900px;
    }

    .documents-head-show {
        margin-left: auto;
    }

    .docs-wrapper {
        width: 95%;
        max-width: 900px;
    }

    .docs-item__head-name {
        font-size: 22px;
        line-height: 26px;
    }

    .document-list {
        margin-left: 30px;
    }

    .document-list-element {
        width: 95%;
    }

    .docs-item__head {
        padding-right: 15px;
    }

    .document-element .document-element__name {
        font-size: 14px;
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    .documents__title {
        font-size: 28px;
        line-height: 32px;
    }

    .documents-head {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
    }

    .documents-head-show {
        margin-left: auto;
    }

    .docs-wrapper {
        width: 95%;
    }

    .docs-item__head-name {
        font-size: 22px;
        line-height: 26px;
    }

    .document-list {
        margin-left: 15px;
    }

    .document-list-element {
        width: 95%;
    }

    .docs-item__head {
        padding-right: 15px;
    }

    .document-element .document-element__name {
        font-size: 14px;
    }
}

.pagination {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.pagination li {
    margin-right: 15px;
    font-size: 12px;
    line-height: 14px;
}

.pagination-arrow {
    display: block;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
}

.pagination-arrow img {
    position: absolute;
    top: 40%;
}

.pagination-arrow-left {
    transform: rotate(180deg);
}

.pagination-page.pagination-page-active {
    color: #ffffff;
    background-color: rgb(131,138,145);
    border-radius: 100%;
    padding: 5px 9px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .pagination {
        display: flex;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .pagination {
        display: flex;
    }
}

/*детальная карточка мероприятия*/
.event.event-detail {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;
}

.speakers__item {
    width: 48%;
    margin-right: 2%;
}

.event-content {
    margin-top: 30px;
}

.event-content__title {
    margin: 10px 0;
}

.event-theme-list {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

.event-theme-item {
    position: relative;
    margin-bottom: 10px;
}

.event-theme-item::before {
    content: "—";
    position: absolute;
    left: -18px;
}

.speakers__item-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.speakers__item-img img {
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.speakers__item-descr {
    margin: 5px 0;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .speakers {
        flex-direction: column;
    }

    .speakers__item {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .speakers {
        flex-direction: column;
    }

    .speakers__item {
        width: 100%;
    }
}

/*стили для производителей*/
.manufacturer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}

.manufacturer__title {
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 28px;
}

.manufacturer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.manufacturer__link {
    color: rgb(1,127,219);
}

.manufacturer__item {
    position: relative;
    margin-right: 30px;
}

.manufacturer__item::after {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    display: block;
    border-radius: 100%;
    background-color: rgb(144,144,144);
    right: -16px;
    top: 9px;
}

.manufacturer__item:last-child::after {
    display: none;
}

/*блок компонентов*/
.components {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 50px;
    padding-left: 10px;
}

.components-table {
    border-collapse: collapse;
}

.components-table tr {
    border-bottom: 1px solid rgb(189,191,192);
}

.components-element__link {
    color: #008aff;
}

.components-head td {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
}

.components-element td {
    padding: 10px 0;
    text-align: left;
}

.components-head__code {
    width: 17%;
    text-align: left;
}

.components-head__manufacture {
    width: 13%;
    text-align: left;
}

.components-head__descr {
    width: 35%;
    text-align: left;
}

.components-head__avail {
    width: 15%;
    text-align: left;
}

.components-head__price {
    width: 10%;
    text-align: left;
}

.components-element__availability {
    width: 4.5px;
    height: 5px;
    margin-right: 7px;
    background-color: #13af2c;
    border-radius: 100%;
    display: block;
}

.components-element__no-availability {
    width: 4.5px;
    height: 5px;
    margin-right: 7px;
    background-color: #ff0000;
    border-radius: 100%;
    display: block;
}

.component-element__quantity {
    display: flex;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {
    .components {
        overflow-x: scroll;
    }

    .components-table {
        min-width: 600px;
    }

    .components-element__no-availability,
    .components-element__availability {
        flex-shrink: 0;
    }
}

.filter.filter-events {
    display: block;
    width: 360px;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
    box-shadow: 0 0 15px 0px #cdcdcd;
    padding: 15px 15px 0;
	width: 100%;
}

/*страница новостей*/
.news.news-page .news__title {
    width: 100%;
}

.news.news-page {
    display: flex;
    flex-wrap: wrap;
}

.news-element-wrapper {
    width: 70%;
    order: 1;
}

.news.news-page .filter.filter-news {
    display: block;
    width: 30%;
    flex-shrink: 0;
    order: 2;
    box-shadow: none;
}

.news.news-page .filter-news-wrapper {
    position: relative;
    box-shadow: 0 0 15px 0px #cdcdcd;
    margin-left: -10px;
    padding: 15px 15px 0;
    max-width: 360px;
    margin: 0 auto;
    margin-left: -10px;
    margin-bottom: 15px;
}

.news.news-page .filter-bottom {
    padding-bottom: 20px;
}

.news.news-page .filter-checkbox-list {
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: auto;
}

.news.news-page .pagination {
    display: flex;
    width: 100%;
    order: 5;
}

.news.news-page .pagination li {
    margin-right: 25px;
}

.news.news-page .pagination-arrow {
    border: 1px solid rgb(189,191,192);
    cursor: pointer;
    padding: 7px 40px;
    border-radius: 3px;
    width: auto;
    height: auto;
}

@media (min-width: 320px) and (max-width: 768px) {
    .news.news-page .filter.filter-news {
        order: 1;
        width: 100%;
    }

    .news-element-wrapper {
        width: 100%;
    }
}

/*стили для страницы списка мероприятий*/
.events-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.events-container .pagination {
    display: flex;
    width: auto;
    margin: 20px auto;
}

.events-container .pagination li {
    margin-right: 25px;
    cursor: pointer;
}

.events-container .pagination li > a:hover {
    color: #000000;
}

.events-container .pagination li.pagination-page-active > a {
    color: #ffffff;
}

.events-container .pagination-arrow {
    border: 1px solid rgb(189,191,192);
    cursor: pointer;
    padding: 7px 40px;
    border-radius: 3px;
    width: auto;
    height: auto;
}

.events-container .events-wrapper {
    width: 70%;
}

.events-container .filter.filter-events {
    width: 30%;
    flex-shrink: 0;
    box-shadow: none;
    margin-top: 0;
}

.events-container .event-date {
    width: 25%;
}

.events-container .event-description {
    margin-left: 30px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .events-container {
        flex-direction: column;
    }

    .events-container .events-wrapper {
        width: 90%;
    }

    .events-container .event-date {
        width: 100%;
        max-width: 300px;
    }

    .events-container .event-description {
        margin-left: 0;
        width: 100%;
    }

    .events-container .filter.filter-events {
        width: 100%;
        max-width: 300px;
    }

    .events-container .pagination {
        width: 100%;
        max-width: 300px;
    }

    .events-container .pagination li {
        margin-right: 10px;
    }

    .events-container .pagination-arrow {
        padding: 7px 20px;
    }
}

.events-container .filter-container {
    box-shadow: 0 0 15px 0px #cdcdcd;
    padding: 15px 15px 0;
}

.events-container .filter-wrapper {
    padding-bottom: 15px;
    display: block;
}

div.news-detail {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto !important;
}

@media (min-width: 768px) and (max-width: 1200px) {
    div.news-detail {
        width: 97%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    div.news-detail {
        width: 95%;
    }
}

/*список статей*/
#article-list .filter.filter-article {
    display: flex;
}

.article-container {
    display: flex;
}

.article-container #article-filter {
    order: 1;
    flex-shrink: 0;
    width: 350px;
    box-shadow: none;
}

#article-list .articles-element__text {
    width: 80%;
}

.article-container #article-filter .filter-news-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 350px;
    max-width: 350px;
}

.article-container #article-filter .filter-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.show-more-article {
    text-align: center;
    margin: 20px 0;
    width: 70%;
    padding: 7px 0px;
    border: 1px solid rgb(189,191,192);
    border-radius: 3px;
    cursor: pointer;
}

/*детальная страница*/
#article-detail {
    width: 1200px;
    margin: 0 auto;
}

.article-data {
    width: 1200px;
    margin: 30px auto;
}

.article-data__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: flex-start;
}

.article-data__item {
    font-size: 13px;
    line-height: 15px;
    position: relative;
    margin-right: 20px;
    flex-shrink: 0;
}

.article-data__item::after {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    display: block;
    border-radius: 100%;
    background-color: #000000;
    right: -11px;
    top: 6px;
}

.article-data__item:last-child::after {
    display: none;
}

.article-data__link {
    color: #008aff;
}

.article-detail__title {
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    margin: 0 0 23px;
    width: 70%;
}

.article-detail__description {
    color: rgb(144,144,144);
    font-size: 17px;
    line-height: 19px;
    width: 70%;
}

.article-page__return {
    color: #008aff;
    display: block;
    margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    #article-detail {
        width: 100%;
    }

    #article-detail .wrapper.wrapper-new {
        width: 95%;
        margin: 0 auto;
    }

    .article-data {
        width: 95%;
        margin: 0 auto 20px;
    }
    .article-data__list {
        flex-wrap: wrap;
    }
    .article-detail__title {
        font-size: 28px;
        line-height: 32px;
        width: 95%;
        margin: 0 auto 30px;
    }

    .article-detail__description {
        width: 95%;
        margin: 0 auto;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    #article-detail {
        width: 100%;
    }

    .article-data {
        width: 95%;
        margin: 0 auto 20px;
    }
    .article-data__list {
        flex-wrap: wrap;
    }
    .article-detail__title {
        font-size: 28px;
        line-height: 32px;
        width: 95%;
        margin: 0 auto 30px;
    }

    .article-detail__description {
        width: 95%;
        margin: 0 auto;
    }
}

/*список статей*/
@media (min-width: 768px) and (max-width: 1200px) {
    .article-container #article-filter .filter-news-wrapper {
        width: 320px;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .article-container {
        flex-direction: column;
    }

    #article-list .filter.filter-article {
        order: -1;
    }

    .show-more-article {
        width: 100%;
        max-width: 300px;
    }

    .article-container #article-filter .filter-news-wrapper {
        width: 95%;
        margin-left: 0px;
    }
}

/*блок серии*/
.series {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}

.series__title {
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 30px;
    font-weight: 300;
}

.series-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.series__item {
    width: 27%;
    margin-right: 3%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.series__item-link {
    color: #008aff;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.series__item-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}

.series__item-description {
    margin: 0;
    width: 90%;
}

/*блок с видео*/
.series-video {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-left: 10px;
}

.series-video__title {
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 30px;
    font-weight: 300;
}

.series-video-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.series-video-item {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.series-video-item__date {
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    margin-left: 20px;
}

.series-video-item__name {
    font-size: 24px;
    line-height: 26px;
    margin: 10px 0;
    font-weight: 400;
    margin-left: 20px;
}

.series-video-item__description {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 10px 20px;
    width: 90%;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .series-video__title {
        font-size: 28px;
        line-height: 32px;
    }

    .series-video-wrapper {
        flex-direction: column;
    }

    .series-video-item {
        width: 90%;
        margin-bottom: 40px;
    }

    .series-video-item > iframe {
        width: 100%;
        max-width: 500px;
        height: 315px;
    }

    .series__title {
        font-size: 28px;
        line-height: 32px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .series-video__title {
        font-size: 28px;
        line-height: 32px;
        width: 90%;
    }

    .series-video-wrapper {
        flex-direction: column;
    }

    .series-video-item {
        width: 90%;
        margin-bottom: 40px;
    }

    .series-video-item > iframe {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .series__title {
        font-size: 28px;
        line-height: 32px;
        width: 90%;
    }

    .series__item {
        width: 90%;
    }
}

/*стили для иконок в документации*/
.document-icon {
    display: block;
    width: 43px;
    height: 46px;
    margin-right: 5px;
}
.document-icon.document-icon--pdf {
    background: url("/local/templates/symmetron_default/images/file-pdf.svg") no-repeat;
}

.document-icon.document-icon--blank {
    background: url("/local/templates/symmetron_default/images/file-blank.svg") no-repeat;
}

.document-icon.document-icon--db {
    background: url("/local/templates/symmetron_default/images/file-db.svg") no-repeat;
}

.document-icon.document-icon--doc {
    background: url("/local/templates/symmetron_default/images/file-doc.svg") no-repeat;
}

.document-icon.document-icon--html {
    background: url("/local/templates/symmetron_default/images/file-html.svg") no-repeat;
}

.document-icon.document-icon--jpg {
    background: url("/local/templates/symmetron_default/images/file-jpg.svg") no-repeat;
}

.document-icon.document-icon--ppt {
    background: url("/local/templates/symmetron_default/images/file-ppt.svg") no-repeat;
}

.document-icon.document-icon--txt {
    background: url("/local/templates/symmetron_default/images/file-txt.svg") no-repeat;
}

.document-icon.document-icon--xls {
    background: url("/local/templates/symmetron_default/images/file-xls.svg") no-repeat;
}

.document-icon.document-icon--xml {
    background: url("/local/templates/symmetron_default/images/file-xml.svg") no-repeat;
}

.document-icon.document-icon--zip {
    background: url("/local/templates/symmetron_default/images/file-zip.svg") no-repeat;
}