.change-subscribe input {
    display: block;
    width: 100%;
    max-width: 350px;
    padding: 11px 5px;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid #000;
}

.change-subscribe h3 {
    font-weight: normal;
}

.subscribe-lk {
    display: flex;    
    margin-bottom: 30px;
}

.subscribe-footer {
    display: flex;
}

.subscribe-footer .change-all {
    margin-right: 10px;
}

.default-button.subscribe-submit {
    background-color: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .subscribe-lk {
        flex-direction: column;
    }
}
