.mini-card__select td {
    cursor: pointer;
}

.active-status:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #ff0000;
}

.active-status.ordered:before {
    background-color: #0066ff;
}

.active-status.stock:before {
    background-color: #13af2c;
}

.active-status.order:before {
    background-color: #ff9600;
}

.favorite-status.stock:before {
    background-color: #13af2c;
}