.bom-form form {
    display: block;
}

.bom-form form > div {
    display: flex;
    margin-bottom: 30px;
}

.bom-form form > div > label,
.bom-form form > div > div,
.bom-form form > div > span {
    width: 42%;
}

.bom-form form > div > input {
    width: 190px;
}

.bom-article input,
.bom-quantity input {
	max-width: 190px;
    margin-right: 15px;
    padding: 11px 5px;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid #000;
}

.bomfile-holder {
    position: relative;
}

.bomfile-holder input {
    width: 190px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.default-button.upload-bom {
    width: 190px;
    margin: 10px auto;
    padding: 16px 50px;
    background-color: #008aff;
    border-color: #008aff;
    color: #fff;
}


.bom-table__wrapper {
    overflow: auto;
}

.bom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.bom-table tr th,
.bom-table tr td {
    padding: 15px 10px;
    text-align: left;
}

.bom-table tr th {
    border-bottom: 2px solid #000;
}

.bom-table tr td {
    border-bottom: 1px solid #dadada;
}

.vendor-code {
    display: block;
    white-space: nowrap;
    text-decoration: none;
}

.nrecognized {
	white-space: nowrap;
    color: #9b9b9b;
}

.bom-buttons {
    display: flex;
}

.default-button.cancel {
    margin-right: 15px;
}

.bom-status {
    display: flex;
    justify-content: flex-start;
}

.bom-added {
    margin-right: 30px;
}

.bom-footer {
    display: flex;
    justify-content: space-between;
}

.default-button.add-to-cart {
    border-color: #008aff;
    background-color: #008aff;
    color: #fff;

}




.favorite-status:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #ff0000;
}

.favorite-status.ordered:before {
    background-color: #0066ff;
}

.favorite-status.stock:before {
    background-color: #13af2c;
}

.favorite-status.order:before {
    background-color: #ff9600;
}

.fix-w {
    width: 200px;
    text-align: center;
}

.bom-form label > span {
	display: block;
}

.bom__grey {
	color: #949494;
}


.fake-input {
	margin-right: 15px;
}

.bomfile-holder > .chose-file{
	margin-left: 0px;
}




@media (max-width: 768px) {
    .bom-form form > div {
        flex-wrap: wrap;
    }

    .bom-form form > div > label,
    .bom-form form > div > div,
    .bom-form form > div > span {
        width: 100%;
        margin-bottom: 15px;
    }

	.bom-input .bom__grey {
		display: block;
	}
}

@media (max-width: 768px) {
    .bom-footer {
        justify-content: flex-start;
        flex-direction: column;
    }

    .bom-status {
        margin-bottom: 30px;
    }
}