.changepass label {
    font-size: 16px;
    line-height: 32px;
}

.changepass label, .changepass input, .changepass textarea {
    display: block;
    width: 100%;
}

.changepass {
    max-width: 450px;
}

.changepass  input[type=text],
.changepass input[type=tel],
.changepass  input[type=email],
.changepass input[type=password],
.changepass input[type=number] {
    padding: 11px 5px;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid #000;
}

.changepass .submit input[type="submit"] {
    float: none;
}

.changepass .password, .changepass .password-repeat {
    margin-bottom: 20px;
}

.min-chars {
    margin: 5px 0px;
    font-size: 13px;
}

.changepass .error {
    margin: 5px 0px;
    font-size: 13px;
    color: #ff0000;
}

.changepass .success {
    margin: 5px 0px;
    font-size: 13px;
    color: #3ae01e;
}