.filter-bottom { width: 100%; }
.filter-bottom-text { font-size: 16px; }
.filter-show-more { text-align: center; }
a.filter-show-more:hover { color: #000; }
.filter-element-head__number { line-height: 25px !important; }
.modef_show { display: block; margin: 0 auto; }
.filter-checkbox-element.disabled label { color: rgb(144,144,144); }