.filter-item {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
    flex-wrap: nowrap;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    background-color: #ebebeb;
}

.filter-item__delete {
    width: 11px;
    height: 23px;
    margin: 0px 5px 0px -5px;
    position: relative;
    cursor: pointer;
}

.filter-item__delete span {
    display: block;
    width: 11px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 12px;
}

.filter-item__delete span:nth-child(1) {
    transform: rotate(45deg);
}

.filter-item__delete span:nth-child(2) {
    transform: rotate(-45deg);
}

.filter-item__name {
    padding-right: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #343434;
}

.filter-item__option:nth-child(1) {
    border-left: 1px solid #e1e1e1;
}

.filter-item__option, .filter-item__addit {
    display: flex;
    padding: 0px 5px 0px 13px;
    line-height: 26px;
    border-right: 1px solid #e1e1e1;
    background-color: #fff;
}

.filter-item__option.checkbox-option:nth-child(n+6) {
    display: none;
}

.filter-item .filter-item__addit:nth-child(-n+6) {
    display: none;
}

.filter-item .filter-item__addit {
    font-size: 12px;
    cursor: pointer;
}

.filter-item .filter-item__addit span {
    margin: 0px 5px;
}

.filter-item__option .option-name {
    font-size: 12px;
}

.filter-item__option .option-delete {
    width: 10px;
    height: 23px;
    margin: 0px 5px;
    position: relative;
    cursor: pointer;
}

.filter-item__option .option-delete span {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 13px;
}

.filter-item__option .option-delete span:nth-child(1) {
    transform: rotate(45deg);
}

.filter-item__option .option-delete span:nth-child(2) {
    transform: rotate(-45deg);
}

.filter-item__add {
    width: 10px;
    margin-left: 7px;
    margin-right: -3px;
    position: relative;
    cursor: pointer;
}

.filter-item__add span {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 12px;
}

.filter-item__add span:nth-child(2) {
    transform: rotate(90deg)
}

.filter-item__more span {
    display: block;
    font-size: 12px;
    line-height: 26px;
    padding: 0px 5px;
    background-color: #fff;
    cursor: pointer;
}

.filter-item__more .more-list {
    display: none;
}

.filter-item__option.range-option {
	display: flex;
    font-size: 12px;
    line-height: 26px;
}

.filter-item__option.range-option span {
    font-size: 12px;
    line-height: 26px;
    padding: 0px 2px;
}

.filter-item__range {
    cursor: pointer;
}

.filter-item__range:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 7px;
    border-style: solid;
    border-width: 5.5px 4px 0 4px;
    border-color: #373b44 transparent transparent transparent;
}

.add-filter button span {
    display: inline-block;
    vertical-align: middle;
}

.add-filter button span:nth-child(1) {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    position: relative;
    background-color: #172430;
    border-radius: 50%;
}

.add-filter button span:nth-child(2) {
    font-size: 13px;
    line-height: 24px;
    color: #858585;
}

.add-filter button span:nth-child(1):before {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 5px;
}

.add-filter button span:nth-child(1):after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 5px;
    transform: rotate(90deg)
}

.filter-item__option input[type=radio] {
    display: inline-block;
    width: 18px;
    height: 13px;
    margin: 0px 2px 0px -5px;
    vertical-align: middle;
    background-image: url(images/filter-radio-off.jpg);
    background-repeat: no-repeat;
    background-size: 18px 13px;
    appearance: none;
    -webkit-appearance: none;
}

.filter-item__option input[type=radio]:checked {
    background-image: url(images/filter-radio-on.jpg);
}

.filter-item__option > div > label {
    font-size: 13px;
    line-height: 24px;
    padding-right: 4px;
}

.remove-all.close {
    display: none;
}

.remove-all {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: -55px;
    cursor: pointer;
}

.remove-all span {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #9b240c

}

.remove-all .delete-red {
    display: inline-block;
    width: 10px;
    height: 23px;
    margin: 0px 5px;
    position: relative;
    cursor: pointer;
}

.remove-all .delete-red:before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #9b240c;
    position: absolute;
    top: 11px;
    transform: rotate(45deg);
}

.remove-all .delete-red:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #9b240c;
    position: absolute;
    top: 11px;
    transform: rotate(-45deg);
}

.add-filter.open .add-filter__items {
    display: block;
}

/* filter units */

.add-filter__item {
    display: none;
    min-width: 200px;
    position: absolute;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    border-radius: 5px;
    z-index: 120;
}

.add-filter__item h4 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin: 40px 0px;
    text-align: center;
}

.items-choice__checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.items-choice__checkbox .item-unit {
    display: block;
    width: 50%;
    margin-bottom: 10px;
}

.items-choice__checkbox .item-unit label {
    display: block;
    cursor: pointer;
}

.items-choice__checkbox .item-unit input[type=checkbox] {
    display: inline-block;
    width: 18px;
    height: 13px;
    margin: 0px 2px 0px -5px;
    vertical-align: middle;
    background-image: url(images/filter-radio-off.jpg);
    background-repeat: no-repeat;
    background-size: 18px 13px;
    appearance: none;
    -webkit-appearance: none;
}

.items-choice__checkbox .item-unit input[type=checkbox]:checked {
    background-image: url(images/filter-radio-on.jpg);
}

.items-choice__radio label {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}

.items-choice__radio input[type=radio] {
    display: inline-block;
    width: 18px;
    height: 13px;
    margin: 0px 2px 0px -5px;
    vertical-align: middle;
    background-image: url(images/filter-radio-off.jpg);
    background-repeat: no-repeat;
    background-size: 18px 13px;
    appearance: none;
    -webkit-appearance: none;
}

.items-choice__radio input[type=radio]:checked {
    background-image: url(images/filter-radio-on.jpg);
}

.items-choice__range {
    height: 75px;
    padding-top: 25px;
    position: relative;
}

@media (max-width: 768px) {
    .filter-item {
        align-self: flex-start;
    }

    /*.filter-item__option {
        display: none;
    }*/
}