.header-bot__search {
    display: block;
    width: 100%;
    position: relative;
}

.header-bot__search form {
    display: block;
    width: 100%;
    position: relative;
}

.header-bot__search form input[type=search] {
    display: block;
    width: 100%;
    margin-top: 25px;
    padding: 20px 300px 20px 70px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.search-icon {
   display: inline-block;
   position: absolute;
   width: 22px;
   left: 25px;
   top: 17px;
}

.search-icon img {
    display: block;
    width: auto;
    max-width: 100%;
}

.search-submit {
    display: block;
    width: 70px;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 13px;
    border-left: 1px solid #b7b7b7;
}

.search-submit img {
    display: block;
    width: 24px;
    margin-left: 20px;
}

.title-search-result {
    display: none;
    width: 100%;
    padding: 20px 70px 50px;
    position: absolute;
    background: #f4f7f9;
    z-index: 20;
}

.search-category {
    padding: 25px 0px;
    border-bottom: 1px solid #e6eaf0;
}

.search-category:first-child {
    padding-top: 0px;
}

.search-category:last-child {
    border-bottom: none;
}

.search-category__header {
    display: block;
}

.search-category__header > a {
    display: block;
    text-decoration: none;
    line-height: 28px;
}

.search-category__list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.search-category__list li a {
    line-height: 28px;
    text-decoration: none;
    color: #000;
}

.search-select {
    width: 190px;
    position: absolute;
    top: 13px;
    right: 80px;
}

.search-select:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 17px;
    border-style: solid;
	border-width: 5.5px 4px 0 4px;
    border-color: #373b44 transparent transparent transparent;
    transform: rotate(180deg);
}

.select-category {
    display: block;
    width: 100%;
    padding: 10px 0px;
    font-size: 14px;
    text-align: left;
	cursor: pointer;
}

.select-list {
    display: none;
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 46px;
    right: 0px;
    background: #f4f7f9;
    box-shadow: 0px 8px 18.84px 0.16px rgba(50, 52, 55, 0.1);
    z-index: 20;
}

.search-select.open .select-list {
    display: block;
}

.search-select.open:after {
    transform: rotate(0deg);
}


.select-list span {
    display: block;
    position: relative;
    margin: 14px 0px;
    font-size: 12.5px;
    cursor: pointer;
}

.select-list span label {
    display: block;
    cursor: pointer;
}

.select-list span input[type=radio] {
    position: absolute;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

@media (max-width: 1024px) {
	.header-bot__search form input[type=search] {
    	padding: 20px 80px 20px 68px;
	}
}