.auth-wrapper, .cart-wrapper, .favorite-wrapper{
    float: right;
}

.auth-wrapper {
    margin-left: 40px;
}

.favorite-wrapper {
	margin-top: 1px;
}

.cart-wrapper {
	margin-top: 1px;
    margin-left: 40px;
}

.auth-login, .auth-registration,
.auth-profile, .auth-logout {
    display: inline-block;
	font-size: 14px;
	line-height: 14px;
    color: #fff;
    text-decoration: none;
}

.auth-logout,
.auth-registration {
    margin-left: 47px;
}

.favorite-top a {
    display: block;
    text-decoration: none;
}

.favorite-top a span {
    display: inline-block;
	font-size: 14px;
	line-height: 14px;
    vertical-align: middle;
    color: #fff;
}

.favorite-top a span svg {
    width: 19px;
    height: 19px;
    margin-bottom: -2px;
    fill: #fff;
    stroke: #fff;
}

.favorite-top.active svg {
	fill: #008aff;
    stroke: #008aff;
}

.favorite-top.active svg #fill-heart {
	fill: #008aff;
}


.top-cart a, .top-cart a span  {
    display: inline-block;
	font-size: 14px;
	line-height: 14px;
    vertical-align:  middle;
    text-decoration: none;
    color: #fff;
}

.top-cart a:hover, .favorite-top a:hover,
.top-cart a:hover span, .favorite-top a:hover span {
	color: #008aff;
}

.top-cart a span:nth-child(1) {
    margin-right: 10px;
}

.top-cart a span:nth-child(1) img {
    display: block;
    width: 18px;
}


@media (max-width: 1024px) {
    .auth-wrapper {
        margin-left: 15px;
        float: left;
    }

    .auth-registration {
        margin-left: 15px;
    }

    .favorite-top a span {
        margin-left: 0px;
        margin-right: 10px;
    }

    .info-blocks {
        padding: 0px 15px;
    }

    .cart-wrapper {
        margin-left: 0px;
        margin-right: 15px;
    }
}

@media (max-width: 480px) {
	.auth-logout, .auth-registration {
		margin-left: 10px;
	}
}