.focus-slider {
    position: relative;
}

.focus-image {
    display: block;
    width: 100%;
    height: 350px;
    background-size: auto;
    background-repeat: no-repeat;
}

.focus-slider__item {
    min-height: 350px;
    cursor: pointer;
}

.focus-slider__wrapper .bx-wrapper .bx-pager, .focus-slider__wrapper .bx-wrapper .bx-controls-auto {
    bottom: -20px;
}

.focus-item__info {
    display: block;
	width: 100%;
    max-width: 400px;
    height: 350px;
    padding: 15px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
}

.focus-slider__item.right .focus-item__info {
    right: 0;
}

.focus-slider__item.right .focus-image {
	background-position: left center;
}

.focus-slider__item.left .focus-image {
	background-position: right center;
}


.focus-slider__wrapper {
    margin-top: 30px;
}

.focus-item__text {
    display: block;
    margin-bottom: 30px;
}

.focus-item__more {
    position: absolute;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
}

.focus-arrow {
    display: inline-block;
    transform: matrix( 0, -1, 4, 0,30, 1.867);
}

.focus-item__more span {
    color: #017fdb;
}

@media (max-width: 960px) {
    .brand-contacts, .brand-manager {
        flex-direction: column;
    }

    .focus-item__info {
        width: 40%;

    }

    .brand-manager__info, .brand-contact:nth-child(1)  {
        margin-right: 0px;
    }

}

@media (max-width: 768px) {
    .brand-start {
        flex-direction: column;
    }

    .focus-item__info {
        width: 50%;
		max-width: none;
    }

    .brand-logo__holder, .brand-mainInfo, .distributor {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    .focus-item__info {
        position: static;
        width: 100%;
        height: auto;
    }

    .focus-item__more {
        position: static;
    }
}

@media (max-width: 480px) {
    .brand-start {
        padding: 0px 15px;
    }

    .brand-contacts, .brand-manager {
        width: 100%;
        float: none;
        padding: 0px;
    }

    .brand-contacts {
        padding: 65px 0px 0px;
    }

    .brand-contact {
        margin-bottom: 15px;
    }

    .brand-contact__head, .brand-contact__link {
        text-align: center;
    }

    .brand-manager {
        padding-bottom: 30px;
    }
}