.parametric {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
}

.parametric > form {
	display: flex;
    flex-wrap: wrap;
}


.add-filter > .list__wrapper {
    display: none;
    position: absolute;
    z-index: 120;
    background-color: #fff;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
}

.add-filter > .list__wrapper.open {
    display: block;
}

.add-filter > .list__wrapper > div {
    display: block;
    padding: 10px;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
}

.add-filter > .list__wrapper > div:hover {
    color: #fff;
    background-color: #172430;
}

.add-filter > .list__wrapper > div:hover span {
    color: #fff;
}

.filter-item {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
    flex-wrap: nowrap;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    background-color: #ebebeb;
}


.filter-item__delete  {
    width: 11px;
    height: 23px;
    margin: 0px 5px 0px -5px;
    position: relative;
    cursor: pointer;
}

.filter-item__delete span {
    display: block;
    width: 11px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 12px;
}

.filter-item__delete span:nth-child(1) {
    transform: rotate(45deg);
}

.filter-item__delete span:nth-child(2) {
    transform: rotate(-45deg);
}

.filter-item__name {
    padding-right: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #343434;
}

.filter-item__option:nth-child(1) {
    border-left: 1px solid #e1e1e1;
}

.filter-item__option {
    display: flex;
    padding: 0px 5px 0px 13px;
    line-height: 26px;
    border-right: 1px solid #e1e1e1;
    background-color: #fff;
}

.filter-item__option.hide {
    display: none;
}
.filter-item__option.filter-item__addit {
    font-size: 12px;
    cursor: pointer;
}
.filter-item__option.filter-item__addit span {
    margin: 0px 5px;
}

.filter-item__option .option-name {
    font-size: 12px;
}

.filter-item__option .option-delete  {
    width: 10px;
    height: 23px;
    margin: 0px 5px;
    position: relative;
    cursor: pointer;
}

.filter-item__option .option-delete span {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 13px;
}

.filter-item__option .option-delete span:nth-child(1) {
    transform: rotate(45deg);
}

.filter-item__option .option-delete span:nth-child(2) {
    transform: rotate(-45deg);
}

.filter-item__add {
    width: 10px;
    margin-left: 7px;
    margin-right: -3px;
    position: relative;
    cursor: pointer;
}

.filter-item__add span {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 12px;
}

.filter-item__add span:nth-child(2) {
    transform: rotate(90deg)
}

.filter-item__more span {
    display: block;
    font-size: 12px;
    line-height: 26px;
    padding: 0px 5px;
    background-color: #fff;
    cursor: pointer;
}

.filter-item__more .more-list {
    display: none;
}

.filter-item__option.range-option {
    font-size: 12px;
    line-height: 26px;
}

.filter-item__option.range-option span {
    font-size: 12px;
    line-height: 26px;
    padding: 0px 2px;
}

.filter-item__range {
    cursor: pointer;
}

.filter-item__range:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 7px;
    border-style: solid;
    border-width: 5.5px 4px 0 4px;
    border-color: #373b44 transparent transparent transparent;
}


.add-filter button span {
    display: inline-block;
    vertical-align: middle;
}

.add-filter button span:nth-child(1) {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    position: relative;
    background-color: #172430;
    border-radius: 50%;
}

.add-filter button span:nth-child(2) {
    font-size: 13px;
    line-height: 24px;
    color: #858585;
}



.add-filter button span:nth-child(1):before {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 5px;
}

.add-filter button span:nth-child(1):after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 5px;
    transform: rotate(90deg)
}

.filter-item__option input[type=radio] {
    display: inline-block;
    width: 18px;
    height: 13px;
    margin: 0px 2px 0px -5px;
    vertical-align: middle;
    background-image: url(images/filter-radio-off.jpg);
    background-repeat: no-repeat;
    background-size: 18px 13px;
    appearance: none;
    -webkit-appearance: none;
}

.filter-item__option input[type=radio]:checked {
    background-image: url(images/filter-radio-on.jpg);
}

.filter-item__option > div > label {
    font-size: 13px;
    line-height: 24px;
    padding-right: 4px;
}

.remove-all.close {
    display: none;
}
.remove-all {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: -55px;
    cursor: pointer;
}

.remove-all span {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #9b240c

}

.remove-all .delete-red {
    display: inline-block;
    width: 10px;
    height: 23px;
    margin: 0px 5px;
    position: relative;
    cursor: pointer;
}

.remove-all .delete-red:before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #9b240c;
    position: absolute;
    top: 11px;
    transform: rotate(45deg);
}

.remove-all .delete-red:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #9b240c;
    position: absolute;
    top: 11px;
    transform: rotate(-45deg);
}

/* filter units */

.add-filter__item  {
    display: none;
    min-width: 200px;
    position: absolute;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    border-radius: 5px;
    z-index: 120;
}

.add-filter__item h4 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin: 0px 0px 20px;
    text-align: center;
}

.items-choice__checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.items-choice__checkbox .item-unit {
    display: block;
    width: 50%;
    margin-bottom: 10px;
}

.items-choice__checkbox .item-unit label {
    display: block;
    cursor: pointer;
}

.items-choice__checkbox .item-unit input[type=checkbox] {
    display: inline-block;
    width: 18px;
    height: 13px;
    margin: 0px 2px 0px -5px;
    vertical-align: middle;
    background-image: url(images/filter-radio-off.jpg);
    background-repeat: no-repeat;
    background-size: 18px 13px;
    appearance: none;
    -webkit-appearance: none;
}

.items-choice__checkbox .item-unit input[type=checkbox]:checked {
    background-image: url(images/filter-radio-on.jpg);
}

.items-choice__radio label {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}

.items-choice__radio input[type=radio] {
    display: inline-block;
    width: 18px;
    height: 13px;
    margin: 0px 2px 0px -5px;
    vertical-align: middle;
    background-image: url(images/filter-radio-off.jpg);
    background-repeat: no-repeat;
    background-size: 18px 13px;
    appearance: none;
    -webkit-appearance: none;
}

.items-choice__radio input[type=radio]:checked {
    background-image: url(images/filter-radio-on.jpg);
}

/* RANGE SLIDER*/
/*
.items-choice__range {
    height: 75px;
    padding-top: 25px;
    position: relative;
}

.irs-line {
    height: 5px;
    border-radius: 5px;
    background-color: #17232f;
}

.irs-slider.to{
    top: 6px;
}

.irs-slider.to {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -25px;
    right: -6px;
    border-style: solid;
    border-width: 0 7.5px 15px 7.5px;
    border-color: transparent transparent #000000 transparent;
}

.irs-slider.from{
    top: 10px;
}

.irs-slider.from {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -14px;
    right: 18px;
    border-style: solid;
    border-width: 15px 7.5px 0 7.5px;
    border-color: #000000 transparent transparent transparent;
}

.irs-single {
    top: -40px;
}

.default-button.add-filter__unit {
    min-width: 235px;
    margin: 0 auto;
    padding: 11px;
    border-radius: 5px;
}

.range-from, .range-to {
    display: none;
}

.items-choice__range > .range .current-choose {
    display: none;

} 

.rangeLabel {
    position: relative;
    cursor: pointer;
}

.current-choose {
    white-space: nowrap;
}
.current-choose.invis {
    visibility: hidden;
}

.current-choose:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 7px;
    border-style: solid;
    border-width: 5.5px 4px 0 4px;
    border-color: #373b44 transparent transparent transparent;
}


.choose-list {
    display: none;
    position: absolute;
}

.choose-list span {
    display: block;
}

.rangeLabel.open .choose-list {
    display: block;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 2px 21.84px 4.16px rgba(50, 52, 55, 0.1);
    background-color: #fff;
    z-index: 100;
    overflow: hidden;
}

.choose-item {
    padding: 10px;
}

.choose-item:hover {
    background-color: #000;
    color: #fff;
}
.choose-item.inactive {
    color: dimgrey;
}

.rangeLabel {
    display: block;
    position: absolute;
}

.label-from {
    top: 34px;
}

.label-to {
    top: -1px;
}*/

.range-input__wrapper,
.range-wrapper {
    display: flex;
    align-items: center;
}

.range-wrapper {
    margin-bottom: 40px;
}

.range-wrapper > span {
    display: block;
    width: 25px;
    margin-right: 5px;
}

.range-from,
.range-to {
    display: block;
    width: 100%;
    max-width: 150px;
    padding: 8px 5px;
    line-height: 25px;
    font-size: 25px;
    text-align: right;
    box-sizing: border-box;
}

.range-value__select {
    display: block;
    width: 95px;
    background-color: #ebebeb;
    border-left: 1px solid #dfdfdf;
    padding: 11px 5px;
    line-height: 25px;
    box-sizing: border-box;
}

.range-value__select > span {
    font-size: 20px;
}

.range-input__wrapper {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}



@media (max-width: 768px) {
	.parametric {
		flex-direction: column;
	}

	.remove-all {
		display: block;
		position: static;
		margin: 0px 0px 15px;
	}

	.filter-item {
		align-self: flex-start;
	}

	.filter-item__option  {
		display: none;
	}

}