.brand-events {
    margin-top: 50px;
}

.brand-news__blocks,
.brand-events__blocks  {
    margin-top: 30px;    
}

.additional-info  {
    margin-top: 50px;
}

.additional-info > div > h2 {
    margin-bottom: 30px;
}


.brand-head h2:first-child{
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .brand-news__blocks, .brand-events__blocks {
        flex-direction: column;
    }

    .brand-news__block, .brand-events__block {
        width: 100%;
        margin-bottom: 30px;
    }

    .additional {
        flex-direction: column;
    }

    .additional .video-block, .additional .text-block {
        width: 100%;
        margin-bottom: 15px;
    }
}